<!DOCTYPE html>
<html>
    <head itemscope itemtype="http://schema.org/WebPage">
        <title itemprop="name" itemprop="brand">{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="http://ibmachine.com/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block metaRobots %}{% endblock %}
        {% block metaDescription %}{% endblock %}
        {% block otherComponents %}{% endblock %}
        <!--  CSS  RESOURECES         -->
        <link type="text/css" rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css?v1') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/chosen/chosen.css?v1') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/lightbox2/dist/css/lightbox.min.css?v1') }}" />
{#        <link type="text/css" rel="stylesheet" href="{{ asset('assets/frontend/css/styles-min.css?v1') }}" />#}
        
        <!--  CASCADING STYLE SHEETS  -->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/frontend/css/styles.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/frontend/css/responsive-styles.css') }}" />
        
    </head>
    <body>
        <!------------------------------>
        <!--       HEADER BLOCK       -->
        <!------------------------------>
        <header>
            <div class="header with-mobile-menu">
                <a class="logo"
                   href="{{ url('/') }}">
                    <img itemprop="logo" src="{{ asset('assets/frontend/img/logo.png?v1') }}" />
                </a>
                <nav>
                    <div class="nav"
                         itemscope 
                         itemtype="http://schema.org/SiteNavigationElement">
                        <a href="{{ url('/') }}" 
                           class="{{ module == 'home' ? 'active' : '' }}"
                           itemprop="url">
                            {{ views['header.menu.button.home'].content }}
                        </a> 
                            |
                        <a href="{{ url('/machine') }}" 
                           class="{{ module == 'machine' ? 'active' : '' }}"
                           itemprop="url">
                            {{ views['header.menu.button.machines'].content }}
                        </a>
                            |
                        <a href="{{ url('/machine/post') }}" 
                           rel="nofollow"
                           class="{{ isAuth ? '' : 'notAuthenticatedAction' }}  {{ module == 'postmachine' ? 'active' : '' }}"
                           itemprop="url">
                            {{ views['header.menu.button.post.machine'].content }}
                        </a>
                            |
                        <a href="{{ url('/companies') }}" 
                           class="{{ module == 'companies' ? 'active' : '' }}"
                           itemprop="url">
                            {{ views['header.menu.button.companies'].content }}
                        </a>
                        {% if isAuth %} 
                            | 
                            <a href="{{ url('/profile') }}" 
                               class="{{ module == 'profile' ? 'active' : '' }}"
                               rel="nofollow">
                                {{ views['header.menu.button.profile'].content }}
                            </a>
                        {% else %}
                            |
                            <a href="{{ url('/auth/register') }}" 
                               class=" {{ module == 'register' ? 'active' : '' }}"
                               rel="nofollow">
                                {{ views['header.menu.button.register'].content }}
                            </a>
                        {% endif %}
                    </div>
                    <span class="glyphicon glyphicon-menu-hamburger tablet-nav-button"></span>
                </nav>
                
                {% include 'frontend.auth.bar' %}
            </div>
            
            <div class="stetting-bar">
                
                <div class="breadcrumbs"
                     itemscope 
                     itemtype="http://schema.org/BreadcrumbList">
                    <span class="info"></span>
                    <a href="{{ url('/') }}" 
                       class="crumb"
                       itemprop="itemListElement" 
                       itemscope
                       itemtype="http://schema.org/ListItem"
                       itemprop="item">
                        <meta itemprop="position" content="1" />
                        {{ app.name }}
                    </a>
                    {% block breadcrumbs %}
                    {% endblock %}
                </div>
                
                <div class="language-menu">
                    <a class="lang it {{ language == 'It' ? 'active' : '' }}" href="{{ url('lang/It') }}" itemprop="url"></a>
                    <a class="lang en {{ language == 'En' ? 'active' : '' }}" href="{{ url('lang/En') }}" itemprop="url"></a>
                    <a class="lang de {{ language == 'De' ? 'active' : '' }}" href="{{ url('lang/De') }}" itemprop="url"></a>
                    <a class="lang ru {{ language == 'Ru' ? 'active' : '' }}" href="{{ url('lang/Ru') }}" itemprop="url"></a>
                    <a class="lang fr {{ language == 'Fr' ? 'active' : '' }}" href="{{ url('lang/Fr') }}" itemprop="url"></a>
                </div>
                
            </div>
        </header>
            
        {% block headerBaner %}
        {% endblock %}
        
        <div class="content">
            <!------------------------------>
            <!--      CONTENT BLOCK       -->
            <!------------------------------>
            <div class="content-width">
                {% block content %}{% endblock %}
            
                <!------------------------------>
                <!--           ASIDE          -->
                <!------------------------------>
                {% block aside %}{% endblock %}
            </div>
            <div class="clear"></div>
        </div>
        
        <!------------------------------>
        <!--       FOOTER BLOCK       -->
        <!------------------------------>
        {% include 'frontend.footer' %}
        
        <div class="web-loader hidden"><img width="90px" src="{{ asset('assets/frontend/img/loader.gif') }}"/></div>
        
        {% include 'frontend.components.alert' with {
            'identifier' : 'notAuthenticatedActionPopup',
            'message' : views['authentication.message.authentication.required'].content,
            'authForm' : true,
            'error' : true
        } %}
        
        {% include 'frontend.components.mobileNav' %}
        
        {% if not isAuth %} 
            {#<div class="follow-us-popup hidden">
                <div class="title">Follow Us</div>
                <div class="follow-us-popup-block">
                    <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fzuck&width=78&height=65&layout=button&size=large&show_faces=false&appId" 
                            width="120" 
                            height="28" 
                            style="border:none; overflow:hidden" 
                            scrolling="no" 
                            frameborder="0" 
                            allowTransparency="true"></iframe>
                    <br/>
                    <br/>
                    <a class="twitter-follow-button"
                       href="https://twitter.com/ibmachine8"
                       data-size="large"
                       data-show-count="false">
                      Follow
                    </a>
                    <br/>
                    <br/>
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                    <script type="IN/FollowCompany" data-id="1337"></script>
                    
                    <div class="follow-us-popup-close">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>#}
        {% endif %}
        
        <script type="text/javascript">
            var growlMessage;
            var baseUrl = "{{ url('') }}";
        </script>
        <!--  JS RESOURECES           -->
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js?v1') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js?v1') }}"></script>
        <script type="text/javascript" src="{{ asset('components/chosen/chosen.jquery.js?v1') }}"></script>
        <script type="text/javascript" src="{{ asset('components/remarkable-bootstrap-notify/bootstrap-notify.min.js?v1') }}"></script>
        
        <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/baseController.js?v1') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/frontend/js/components/chosen.js?v1') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/frontend/js/app/authmenu.js?v1') }}"></script>
        
        {% if session('growlSuccess') %}
            <script type="text/javascript">
                var growlMessage = {
                    type: 'success',
                    message: '{{ session('growlSuccess') }}'
                };
            </script>
        {% endif %}
        {% if growlSuccess %}
            <script type="text/javascript">
                var growlMessage = {
                    type: 'success',
                    message: '{{ growlSuccess }}'
                };
            </script>
        {% endif %}
        {% if not isAuth %}
            <script type="text/javascript" src="{{ asset('assets/frontend/js/components/authPopup.js?v1') }}"></script>
        {% endif %}
        {% block scripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('assets/frontend/js/services/growlService.js?v1') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/frontend/js/components/google.js?v1') }}"></script>
        
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        
    </body>
</html>
