
<footer itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer">
        <div class="content-width">
            <div class="app-address">
                <img class="hide-on-mobile logo" src="{{ asset('assets/frontend/img/logo.png?v1') }}" />
                <img class="hide-on-desktop logo" src="{{ asset('assets/frontend/img/logo-mobile-header.png?v1') }}" />
                <div class="clear" itemprop="about">
                    {{ app.name }}<br/>
                    {{ app.address|raw }}<br/>
                    {{ app.email }}
                </div>
            </div>

            <div class="footer-nav">
                <div class="footer-nav-block">
                    <div class="footer-nav-block-title">
                        {{ views['footer.block.suport.title'].content }}
                    </div>
                    <span>
                        <a href="{{ url('contacts') }}">{{ views['footer.block.suport.contact.us'].content }}</a>
                    </span>
{#                    <span class="under-construction-text">
                        {{ views['footer.block.suport.faq'].content }}
                    </span>#}
                    <span>
                        {{ app.phone|raw }}
                    </span>
                    <span>
                        <a href="{{ url('contacts') }}">{{ app.email }}</a>
                    </span>
                </div>
                <div class="footer-nav-block" 
                     itemscope 
                     itemtype="http://schema.org/SiteNavigationElement">
                    <div class="footer-nav-block-title">
                        {{ views['footer.block.aboutus.title'].content }}
                    </div>
                    <span>
                        <a href="{{ url('aboutus') }}" itemprop="url">{{ views['footer.block.aboutus.aboutus'].content }}</a>
                    </span>
                    <span>
                        <b><a href="{{ url('services') }}" itemprop="url">{{ views['footer.block.aboutus.services'].content }}</a></b>
                    </span>
                    <span>
                        <a href="{{ url('termsandconditions') }}" itemprop="url">{{ views['footer.block.aboutus.terms'].content }}</a>
                    </span>
                    <span>
                        <a href="{{ url('privacypolicy') }}" itemprop="url">{{ views['footer.block.aboutus.privacy'].content }}</a>
                    </span>
                </div>
                <div class="footer-nav-block">
                    <div class="footer-nav-block-title">
                        {{ views['footer.block.promo.title'].content }}
                    </div>
                    <span>
                        <a href="{{ url('bannerAdvertising') }}" itemprop="url">{{ views['footer.block.promo.banner'].content }}</a>
                    </span>
                    <span>
                        <a href="{{ url('addsAdvertising') }}" itemprop="url">{{ views['footer.block.promo.adds'].content }}</a>
                    </span>
                    <span class="under-construction-text">
                        <a href="{{ url('socialPromotion') }}" itemprop="url">{{ views['footer.block.promo.social'].content }}</a>
                    </span>
                </div>
            </div>
            <div classs="clear"></div>
        </div>
    </div>
    <div class="copy" itemprop="copyrightHolder">&copy; {{ "now"|date("Y") }}, {{ app.name }} All Rights Reserved.</div>
</footer>
