{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['companies.title'].content }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ views['companies.under.board.text'].content|raw }}">{% endblock %}
        
{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/companies') }}" 
       class="crumb">
        {{ views['companies.title'].content }}
    </a>
    <span class="last">
        {{ views['companies.breadcrumbs.search'].content }}
    </span>
{% endblock %}

{% block content %}
    <div class="form-title" itemprop="name">{{ views['companies.search.form.title'].content }}</div>
    {% include 'frontend.companies.board.search' %}
    {% include 'frontend.companies.board.linear' %}
    <br/>
    <br/>
    <p class="moduleInfo">
       {{ views['companies.under.board.text'].content|raw }}
    </p>
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/companies/search.js?v1') }}"></script>
{% endblock %}