{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ company.details.company_name }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ company.details.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/companies') }}" 
       class="crumb">
        {{ views['view.company.breadcrumbs.companies'].content }}
    </a>
    <span class="last">
        {{ company.details.company_name }}
    </span>
{% endblock %}

{% block content %}
    <table cellpadding="0"
            width="100%"
            rules="none"
            border="0"
            itemscope 
            itemtype="http://schema.org/Organization">
        <tr>
            <td valign="top">
                <div class="form-title mobile-margin-top-105">
                    {{ views['view.company.title'].content }}
                    <span class="form-title-info">
                        {{ views['view.company.last.update'].content }}: {{ company.details.updated_at|date('M j, Y') }}
                    </span>
                </div>
                <table cellpadding="0"
                        class="bordered-details"
                        width="100%"
                        rules="none"
                        border="0">
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.company.name'].content }}
                        </td>
                        <td class="post-details-data">
                            <b itemprop="name">{{ company.details.company_name }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.company.person'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ not company.details.name ? 'unknown' : company.details.name }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['companies.board.sort.locations'].content }}
                        </td>
                        <td class="post-details-data">
                            {% for location in company.locations %}
                                {% for country in locations.countries %}
                                    {% if location.location_id == country.id %}
                                        {{ country.name }}
                                    {% endif %}
                                {% endfor %}
                                {{ not loop.last ? ',' : '' }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.company.email'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ company.details.public_email }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.company.phone'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ company.details.phone }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.company.website'].content }}
                        </td>
                        <td class="post-details-data">
                            <a href="{{ company.details.website ? company.details.website : url('/company/view') ~ '/' ~ company.details.id }}"
                               target="_blank"
                               itemprop="url">
                                {{ company.details.website ? company.details.website : url('/company/view') ~ '/' ~ company.details.id }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="1" valign="top" class="post-details-type">
                           {{ views['view.company.description'].content }}
                        </td>
                        <td class="post-details-data" itemprop="description">
                            {{ company.details.description|nl2br }}
                        </td>
                    </tr>
                </table>
            </td>
            <td width="1" valign="top" class="hide-on-mini-tablet">
                <div class="post-details-machine-images">
                    <div class="image company-logo">
                        {% if company.logo %}
                            <div class="borders">
                                <img src="{{ asset('images/companies/' ~ company.details.id ~ '/' ~ company.logo.filename )~'?v'~company.logo.filename }}"/>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <img style="margin: 0 auto;" src="{{ asset('assets/frontend/img/board/no-image.png?v1') }}" itemprop="image"/>
                                <br/><br/>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <div class="form-title">
        {{ views['view.company.machine.title'].content }}
    </div>
    {% if company.machine|length > 0 %}
        <table class="postings"
               border="1px"
               bordercolor="#e1e1e1"
               rules="all"
               itemscope 
               itemtype="http://schema.org/ItemList">
            {% for machine in company.machine %}
                <tr class="post"
                    itemscope 
                    itemtype="http://schema.org/Product">
                    <td class="image company-view-images" width="1">
                        {% if machine.images|length > 0 %}
                            {% for image in machine.images %}
                                <a href="{{ asset('images/machine/' ~ company.details.id ~ '/' ~ machine.id ~ '/' ~ image.filename ) }}"
                                   data-lightbox="modalMachine-{{ machine.id }}">
                                    <div class="borders">
                                        <img src="{{ asset('images/thumbnail/' ~ company.details.id ~ '/' ~ machine.id ~ '/' ~ machine.thumbnail.filename ) }}" />
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <img style="margin-top: -5px;" src="{{ asset('assets/frontend/img/board/no-image.png') }}" itemprop="image"/>
                        {% endif %}
                    </td>
                    <td class="name">
                        <a href="{{ url('machine/view') ~ '/' ~ machine.id }}"
                           target="_bank"
                           itemprop="name"
                           itemprop="url">
                            {{ machine.name }}
                        </a>
                        <pre class="description" itemprop="description">{{ machine.description }}</pre>
                    </td>
                    <td class="create-date" width="1">
                        {{ machine.updated_at|date("d.m.Y") }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="info-block text-center">
            This company hasn't posted any machines yet
        </div>
        <br/>
        <br/>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('components/lightbox2/dist/js/lightbox.min.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/companies/view.js?v1') }}"></script>
{% endblock %}

