<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link:hover,
            a.ironboard-link-small:hover{
                text-decoration: underline;
                color: #0a5594;
            }
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link-small{
                color: #777777;
                font-size: 12px;
                text-decoration: none;
            }
            a.ironboard-link-board{
                color: #0c9ad5;
            }
            a.ironboard-link-board-highlighted{
                color: #0a5594;
            }
        </style>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               bgcolor="#f8f8f8"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 100%;
                      text-align: center;
                      background-color: #f8f8f8;">
            <tr>
                <td align="center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <table cellpadding="0" 
                           cellspacing="0" 
                           width="700" 
                           border="0" 
                           rules="none"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;">
                        
                        <tr>
                            <td>
                                
                                <table cellpadding="35"
                                        cellspacing="0"
                                        width="700"
                                        border="1"
                                        rules="all"
                                        bgcolor="#ffffff"
                                        style="font-family: Arial, Helvetica, sans-serif;
                                               font-size: 14px;
                                               width: 700px;
                                               margin: 0 auto;
                                               background: #ffffff;
                                               border-collapse: collapse; 
                                               border: 0px solid transparent;
                                               border-color: transparent;">
                                    <tr>
                                        <td align="center" style="text-align: center;">
                                            
                                            
                                            
                                            
                                            
                                            <table cellpadding="0"
                                                    cellspacing="0"
                                                    width="630"
                                                    border="1"
                                                    rules="all"
                                                    bgcolor="#ffffff"
                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                           font-size: 14px;
                                                           width: 630px;
                                                           margin: 0 auto;
                                                           background: #ffffff;
                                                           border-collapse: collapse; 
                                                           border: 0px solid transparent;
                                                           border-color: transparent;">
                                                <tr>
                                                    <td width="1%">
                                                        <a target="_blank" href="http://www.omapsrl.com/en/index.html">
                                                            <img src="{{ message.embed(resources_path~'/assets/frontend/public/omap-mail-logo.png') }}" 
                                                                 width="185"/>
                                                        </a>
                                                    </td>
                                                    <td align="right" style="text-align: right;">
                                                        <font size="2" color="#555555">
                                                            <b>O.M.A.P. Officine meccaniche alta precisione Srl</b><br/>
                                                            viale Cadore, 69 32014 Ponte nelle Alpi (BL) Veneto<br/>
                                                            <br/>
                                                            Tel. +39 0437 990044<br/>
                                                            Fax +39 0437 990046
                                                        </font>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br/>
                                            <br/>
                                            
                                            
                                            
                                            
                                            <table cellpadding="0"
                                                    cellspacing="0"
                                                    width="630"
                                                    border="1"
                                                    rules="all"
                                                    bgcolor="#ffffff"
                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                           font-size: 14px;
                                                           width: 630px;
                                                           margin: 0 auto;
                                                           background: #ffffff;
                                                           border-collapse: collapse; 
                                                           border: 0px solid transparent;
                                                           border-color: transparent;">
                                                <tr>
                                                    <td width="1%" valign="top" align="left" style="text-align: left;">
                                                        <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #ffffff;">
                                                            <table cellpadding="10"
                                                                    cellspacing="0"
                                                                    width="175"
                                                                    border="1"
                                                                    rules="all"
                                                                    align="left"
                                                                    bgcolor="#2192ad"
                                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                                           font-size: 14px;
                                                                           width: 175px;
                                                                           margin: 0 auto;
                                                                           background: #2192ad;
                                                                           border-collapse: collapse; 
                                                                           border: 0px solid transparent;
                                                                           border-color: transparent;
                                                                           color: #ffffff;">
                                                                <tr>
                                                                    <td valign="top" align="center" style="text-align: center; color: #ffffff;">
                                                                        <b>COMPANY</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </td>
                                                    <td valign="top" align="center" style="text-align: center;">
                                                        <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5637/catalogo.html"
                                                               style="text-decoration: none;
                                                                      color: #ffffff;">
                                                            <table cellpadding="10"
                                                                    cellspacing="0"
                                                                    width="175"
                                                                    border="1"
                                                                    rules="all"
                                                                    align="center"
                                                                    bgcolor="#2192ad"
                                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                                           font-size: 14px;
                                                                           width: 175px;
                                                                           margin: 0 auto;
                                                                           background: #2192ad;
                                                                           border-collapse: collapse; 
                                                                           border: 0px solid transparent;
                                                                           border-color: transparent;
                                                                           color: #ffffff;">
                                                                <tr>
                                                                    <td valign="top" align="center" style="text-align: center; color: #ffffff;">
                                                                        <b>PRODUCTS</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </td>
                                                    <td width="1%" valign="top" align="right" style="text-align: right;">
                                                        <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5636/lavorazioni-meccaniche.html"
                                                               style="text-decoration: none;
                                                                      color: #ffffff;">
                                                            <table cellpadding="10"
                                                                    cellspacing="0"
                                                                    width="175"
                                                                    border="1"
                                                                    rules="all"
                                                                    align="right"
                                                                    bgcolor="#2192ad"
                                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                                           font-size: 14px;
                                                                           width: 175px;
                                                                           margin: 0 auto;
                                                                           background: #2192ad;
                                                                           border-collapse: collapse; 
                                                                           border: 0px solid transparent;
                                                                           border-color: transparent;
                                                                           color: #ffffff;">
                                                                <tr>
                                                                    <td valign="top" align="center" style="text-align: center; color: #ffffff;">
                                                                        <b>MCHINING</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br/>
                                            <br/>
                                            <br/>
                                            
                                            <font size="2" color="#555555">
                                                <b>O.M.A.P Officine Meccaniche Alta Precisione</b>
                                                was founded in 1963 in Ponte nelle Alpi and specializes in 
                                                construction and manufacturing of machine tools and 
                                                equipment for special processing.
                                            </font>
                                            <br/>
                                            <br/>
                                            <br/>
                                            
                                            <table cellpadding="0"
                                                    cellspacing="0"
                                                    width="630"
                                                    border="1"
                                                    rules="all"
                                                    bgcolor="#ffffff"
                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                           font-size: 14px;
                                                           width: 630px;
                                                           margin: 0 auto;
                                                           background: #ffffff;
                                                           border-collapse: collapse; 
                                                           border: 0px solid transparent;
                                                           border-color: transparent;">
                                                <tr>
                                                    <td valign="top" width="40%" align="left" style="text-align: left;">
                                                        <font size="2" color="#555555">
                                                            The development of cutting-edge technologies and 
                                                            the use of qualified and skilled staff have enabled 
                                                            the Company to propose, in Italian and 
                                                            international market, quality products, patented, 
                                                            certificated and manufactured entirely in Italy:
                                                        </font>
                                                    </td>
                                                    <td width="10%" align="left" style="text-align: left;">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </td>
                                                    <td valign="top" width="50%" align="left" style="text-align: left;">
                                                        <font size="2" color="#555555">
                                                            &#9642;
                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #2192ad;">
                                                            Tribloc™ self-centering chucks for lathes
                                                            </a><br/>
                                                            &#9642;
                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #2192ad;">
                                                            Tribloc™ self-centering chucks for grinding
                                                            </a><br/>
                                                            &#9642;
                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #2192ad;">
                                                            Tribloc™ self-centering chucks for sharpening
                                                            </a><br/>
                                                            &#9642;
                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #2192ad;">
                                                            Tribloc™ self-centering chucks for partitions
                                                            </a><br/>
                                                            &#9642;
                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #2192ad;">
                                                            Autofretting face drivers
                                                            </a><br/>
                                                            &#9642;
                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                               style="text-decoration: none;
                                                                      color: #2192ad;">
                                                            Other
                                                            </a>...
                                                        </font>
                                                    </td>
                                                </tr>
                                            </table>
                                            
                                            <br/>
                                            <br/>
                                            <hr color="#cccccc" size="1"/>
                                            <br/>
                                            
                                            <table cellpadding="0"
                                                    cellspacing="0"
                                                    width="630"
                                                    border="1"
                                                    rules="all"
                                                    bgcolor="#ffffff"
                                                    style="font-family: Arial, Helvetica, sans-serif;
                                                           font-size: 14px;
                                                           width: 630px;
                                                           margin: 0 auto;
                                                           background: #ffffff;
                                                           border-collapse: collapse; 
                                                           border: 0px solid transparent;
                                                           border-color: transparent;">
                                                <tr>
                                                    <td valign="top" align="left" style="text-align: left;">
                                                        <font size="5" color="#777777">
                                                            Products
                                                        </font>
                                                        <br/>
                                                        <br/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="left" style="text-align: left;">
                                                        <table cellpadding="0"
                                                                cellspacing="0"
                                                                border="1"
                                                                rules="all"
                                                                bgcolor="#ffffff"
                                                                style="font-family: Arial, Helvetica, sans-serif;
                                                                       font-size: 14px;
                                                                       margin: 0 auto;
                                                                       background: #ffffff;
                                                                       border-collapse: collapse; 
                                                                       border: 0px solid transparent;
                                                                       border-color: transparent;">
                                                            <tr>
                                                                <td width="1%">
                                                                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5640/mandrini.html">
                                                                        <img src="{{ message.embed(resources_path~'/assets/frontend/public/self-centering.png')}}" 
                                                                             width="188"
                                                                             height="115"/>
                                                                    </a>
                                                                </td>
                                                                <td valign="top" align="left">
                                                                
                                                                    <table cellpadding="10"
                                                                            cellspacing="0"
                                                                            border="1"
                                                                            rules="all" align="left"
                                                                            bgcolor="#ffffff"
                                                                            style="font-family: Arial, Helvetica, sans-serif;
                                                                                   font-size: 14px;
                                                                                   margin: 0 auto;
                                                                                   background: #ffffff;
                                                                                   border-collapse: collapse; 
                                                                                   border: 1px solid #e1e1e1;
                                                                                   border-color: #e1e1e1;">
                                                                        <tr valign="top">
                                                                            <td>
                                                                                <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5640/mandrini.html"
                                                                                    style="text-decoration: none;">
                                                                                    <font size="3" color="#175c9c">
                                                                                        <b>
                                                                                            Tribloc™ self-centering chucks
                                                                                        </b>
                                                                                    </font>
                                                                                </a>
                                                                                <br/>
                                                                                <br/>
                                                                                <font size="2" color="#555555">
                                                                                    An industrial product manufactured with 
                                                                                    craft procedures to provide the highest 
                                                                                    perfection and attention reserved on every 
                                                                                    single piece.
                                                                                </font>
                                                                                <br/>
                                                                                <br/>
                                                                                <br/>
                     
                                                                
                                                                                <table cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        border="0"
                                                                                        width="100%"
                                                                                        rules="all" align="left"
                                                                                        bgcolor="#ffffff"
                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                               font-size: 14px;
                                                                                               margin: 0 auto;
                                                                                               background: #ffffff;
                                                                                               border-collapse: collapse; 
                                                                                               border: 0px solid transparent;
                                                                                               border-color: transparent;">
                                                                                    <tr valign="top">
                                                                                        <td>
                                                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5640/mandrini.html"
                                                                                                style="text-decoration: none;">
                                                                                                <table cellpadding="5"
                                                                                                        cellspacing="0"
                                                                                                        border="0"
                                                                                                        width="70px"
                                                                                                        align="left"
                                                                                                        rules="all"
                                                                                                        bgcolor="#2192ad"
                                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                                               font-size: 14px;
                                                                                                               margin: 0 auto;
                                                                                                               background: #2192ad;
                                                                                                               border-collapse: collapse; 
                                                                                                               border: 0px solid transparent;
                                                                                                               border-color: transparent;">
                                                                                                    <tr valign="top">
                                                                                                        <td width="1%" align="center">
                                                                                                            <font size="2" color="#ffffff">
                                                                                                                <b>
                                                                                                                    Details
                                                                                                                </b>
                                                                                                            </font>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br/>
                                                        <br/>
                                                        <table cellpadding="0"
                                                                cellspacing="0"
                                                                border="1"
                                                                rules="all"
                                                                bgcolor="#ffffff"
                                                                style="font-family: Arial, Helvetica, sans-serif;
                                                                       font-size: 14px;
                                                                       margin: 0 auto;
                                                                       background: #ffffff;
                                                                       border-collapse: collapse; 
                                                                       border: 0px solid transparent;
                                                                       border-color: transparent;">
                                                            <tr>
                                                                <td width="1%">
                                                                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5641/flange-di-interposizione.html">
                                                                        <img src="{{ message.embed(resources_path~'/assets/frontend/public/flangers-interposed.png')}}" 
                                                                             width="188"
                                                                             height="115"/>
                                                                    </a>
                                                                </td>
                                                                <td valign="top" align="left">
                                                                
                                                                    <table cellpadding="10"
                                                                            cellspacing="0"
                                                                            border="1"
                                                                            rules="all" align="left"
                                                                            bgcolor="#ffffff"
                                                                            style="font-family: Arial, Helvetica, sans-serif;
                                                                                   font-size: 14px;
                                                                                   margin: 0 auto;
                                                                                   background: #ffffff;
                                                                                   border-collapse: collapse; 
                                                                                   border: 1px solid #e1e1e1;
                                                                                   border-color: #e1e1e1;">
                                                                        <tr valign="top">
                                                                            <td>
                                                                                <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5641/flange-di-interposizione.html"
                                                                                    style="text-decoration: none;">
                                                                                    <font size="3" color="#175c9c">
                                                                                        <b>
                                                                                            Flanges interposed
                                                                                        </b>
                                                                                    </font>
                                                                                </a>
                                                                                <br/>
                                                                                <br/>
                                                                                <font size="2" color="#555555">
                                                                                    They always complete our range of self-centring chucks and more. 
                                                                                    Flanges with ISO standard connections and special flanges for every 
                                                                                    request and requirement.
                                                                                </font>
                                                                                <br/>
                                                                                <br/>
                     
                                                                
                                                                                <table cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        border="0"
                                                                                        width="100%"
                                                                                        rules="all" align="left"
                                                                                        bgcolor="#ffffff"
                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                               font-size: 14px;
                                                                                               margin: 0 auto;
                                                                                               background: #ffffff;
                                                                                               border-collapse: collapse; 
                                                                                               border: 0px solid transparent;
                                                                                               border-color: transparent;">
                                                                                    <tr valign="top">
                                                                                        <td>
                                                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5641/flange-di-interposizione.html"
                                                                                                style="text-decoration: none;">
                                                                                                <table cellpadding="5"
                                                                                                        cellspacing="0"
                                                                                                        border="0"
                                                                                                        width="70px"
                                                                                                        align="left"
                                                                                                        rules="all"
                                                                                                        bgcolor="#2192ad"
                                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                                               font-size: 14px;
                                                                                                               margin: 0 auto;
                                                                                                               background: #2192ad;
                                                                                                               border-collapse: collapse; 
                                                                                                               border: 0px solid transparent;
                                                                                                               border-color: transparent;">
                                                                                                    <tr valign="top">
                                                                                                        <td width="1%" align="center">
                                                                                                            <font size="2" color="#ffffff">
                                                                                                                <b>
                                                                                                                    Details
                                                                                                                </b>
                                                                                                            </font>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br/>
                                                        <br/>
                                                        <table cellpadding="0"
                                                                cellspacing="0"
                                                                border="1"
                                                                rules="all"
                                                                bgcolor="#ffffff"
                                                                style="font-family: Arial, Helvetica, sans-serif;
                                                                       font-size: 14px;
                                                                       margin: 0 auto;
                                                                       background: #ffffff;
                                                                       border-collapse: collapse; 
                                                                       border: 0px solid transparent;
                                                                       border-color: transparent;">
                                                            <tr>
                                                                <td width="1%">
                                                                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5642/trascinatori-frontali-autoforzanti.html">
                                                                        <img src="{{ message.embed(resources_path~'/assets/frontend/public/face-drivers.png')}}" 
                                                                             width="188"
                                                                             height="115"/>
                                                                    </a>
                                                                </td>
                                                                <td valign="top" align="left">
                                                                
                                                                    <table cellpadding="10"
                                                                            cellspacing="0"
                                                                            border="1"
                                                                            rules="all" align="left"
                                                                            bgcolor="#ffffff"
                                                                            style="font-family: Arial, Helvetica, sans-serif;
                                                                                   font-size: 14px;
                                                                                   margin: 0 auto;
                                                                                   background: #ffffff;
                                                                                   border-collapse: collapse; 
                                                                                   border: 1px solid #e1e1e1;
                                                                                   border-color: #e1e1e1;">
                                                                        <tr valign="top">
                                                                            <td>
                                                                                <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5642/trascinatori-frontali-autoforzanti.html"
                                                                                    style="text-decoration: none;">
                                                                                    <font size="3" color="#175c9c">
                                                                                        <b>
                                                                                            "Autofretting" face drivers
                                                                                        </b>
                                                                                    </font>
                                                                                </a>
                                                                                <br/>
                                                                                <br/>
                                                                                <font size="2" color="#555555">
                                                                                    Our self-enforcing face drivers are pure technology and efficiency 
                                                                                    in the service of turning and, in general, of the most renowned engineering companies.
                                                                                </font>
                                                                                <br/>
                                                                                <br/>
                     
                                                                
                                                                                <table cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        border="0"
                                                                                        width="100%"
                                                                                        rules="all" align="left"
                                                                                        bgcolor="#ffffff"
                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                               font-size: 14px;
                                                                                               margin: 0 auto;
                                                                                               background: #ffffff;
                                                                                               border-collapse: collapse; 
                                                                                               border: 0px solid transparent;
                                                                                               border-color: transparent;">
                                                                                    <tr valign="top">
                                                                                        <td>
                                                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5642/trascinatori-frontali-autoforzanti.html"
                                                                                                style="text-decoration: none;">
                                                                                                <table cellpadding="5"
                                                                                                        cellspacing="0"
                                                                                                        border="0"
                                                                                                        width="70px"
                                                                                                        align="left"
                                                                                                        rules="all"
                                                                                                        bgcolor="#2192ad"
                                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                                               font-size: 14px;
                                                                                                               margin: 0 auto;
                                                                                                               background: #2192ad;
                                                                                                               border-collapse: collapse; 
                                                                                                               border: 0px solid transparent;
                                                                                                               border-color: transparent;">
                                                                                                    <tr valign="top">
                                                                                                        <td width="1%" align="center">
                                                                                                            <font size="2" color="#ffffff">
                                                                                                                <b>
                                                                                                                    Details
                                                                                                                </b>
                                                                                                            </font>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </a>
                                                                                        </td>
                                                                                        
                                                                                    </tr>
                                                                                </table>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br/>
                                                        <br/>
                                                        <table cellpadding="0"
                                                                cellspacing="0"
                                                                border="1"
                                                                rules="all"
                                                                bgcolor="#ffffff"
                                                                style="font-family: Arial, Helvetica, sans-serif;
                                                                       font-size: 14px;
                                                                       margin: 0 auto;
                                                                       background: #ffffff;
                                                                       border-collapse: collapse; 
                                                                       border: 0px solid transparent;
                                                                       border-color: transparent;">
                                                            <tr>
                                                                <td width="1%">
                                                                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5643/piattaforme-per-torni.html">
                                                                        <img src="{{ message.embed(resources_path~'/assets/frontend/public/independent.png')}}" 
                                                                             width="188"
                                                                             height="115"/>
                                                                    </a>
                                                                </td>
                                                                <td valign="top" align="left">
                                                                
                                                                    <table cellpadding="10"
                                                                            cellspacing="0"
                                                                            border="1"
                                                                            rules="all" align="left"
                                                                            bgcolor="#ffffff"
                                                                            style="font-family: Arial, Helvetica, sans-serif;
                                                                                   font-size: 14px;
                                                                                   margin: 0 auto;
                                                                                   background: #ffffff;
                                                                                   border-collapse: collapse; 
                                                                                   border: 1px solid #e1e1e1;
                                                                                   border-color: #e1e1e1;">
                                                                        <tr valign="top">
                                                                            <td>
                                                                                <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5643/piattaforme-per-torni.html"
                                                                                    style="text-decoration: none;">
                                                                                    <font size="3" color="#175c9c">
                                                                                        <b>
                                                                                            Independent chucks for lathes
                                                                                        </b>
                                                                                    </font>
                                                                                </a>
                                                                                <br/>
                                                                                <br/>
                                                                                <font size="2" color="#555555">
                                                                                    Thanks to the historic collaboration with "Colombo & Lenna", always reference brand in the industry, we offer independent chucks for lathes of absolute strength, precision and durability.
                                                                                </font>
                                                                                <br/>
                                                                                <br/>
                     
                                                                
                                                                                <table cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        border="0"
                                                                                        width="100%"
                                                                                        rules="all" align="left"
                                                                                        bgcolor="#ffffff"
                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                               font-size: 14px;
                                                                                               margin: 0 auto;
                                                                                               background: #ffffff;
                                                                                               border-collapse: collapse; 
                                                                                               border: 0px solid transparent;
                                                                                               border-color: transparent;">
                                                                                    <tr valign="top">
                                                                                        <td>
                                                                                            <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5643/piattaforme-per-torni.html"
                                                                                                style="text-decoration: none;">
                                                                                                <table cellpadding="5"
                                                                                                        cellspacing="0"
                                                                                                        border="0"
                                                                                                        width="70px"
                                                                                                        align="left"
                                                                                                        rules="all"
                                                                                                        bgcolor="#2192ad"
                                                                                                        style="font-family: Arial, Helvetica, sans-serif;
                                                                                                               font-size: 14px;
                                                                                                               margin: 0 auto;
                                                                                                               background: #2192ad;
                                                                                                               border-collapse: collapse; 
                                                                                                               border: 0px solid transparent;
                                                                                                               border-color: transparent;">
                                                                                                    <tr valign="top">
                                                                                                        <td width="1%" align="center">
                                                                                                            <font size="2" color="#ffffff">
                                                                                                                <b>
                                                                                                                    Details
                                                                                                                </b>
                                                                                                            </font>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </a>
                                                                                        </td>
                                                                                        
                                                                                    </tr>
                                                                                </table>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br/>
                                                        <br/>
                                                        <br/>
                                                        <br/>
                     
                                                                
                                                        <table cellpadding="0"
                                                                cellspacing="0"
                                                                border="0"
                                                                width="100%"
                                                                rules="all" align="left"
                                                                bgcolor="#ffffff"
                                                                style="font-family: Arial, Helvetica, sans-serif;
                                                                       font-size: 14px;
                                                                       margin: 0 auto;
                                                                       background: #ffffff;
                                                                       border-collapse: collapse; 
                                                                       border: 0px solid transparent;
                                                                       border-color: transparent;">
                                                            <tr valign="top">
                                                                <td align="center" style="text-align: center; color: #e1e1e1;">
                                                                    <a href="http://www.omapsrl.com/en/index.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Home
                                                                        </font>
                                                                    </a>
                                                                    |
                                                                    <a href="http://www.omapsrl.com/en/icatalog/5635/categoria.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Products
                                                                        </font>
                                                                    </a>
                                                                    |
                                                                    <a href="http://www.omapsrl.com/en/icatalog/5636/lavorazioni-meccaniche.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Machining
                                                                        </font>
                                                                    </a>
                                                                    |
                                                                    <a href="http://www.omapsrl.com/en/icatalog/5637/catalogo.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Catalog
                                                                        </font>
                                                                    </a>
                                                                    |
                                                                    <a href="http://www.omapsrl.com/en/icatalog/5638/azienda.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Company
                                                                        </font>
                                                                    </a>
                                                                    |
                                                                    <a href="http://www.omapsrl.com/en/icatalog/5639/contatti.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Contacts
                                                                        </font>
                                                                    </a>
                                                                    |
                                                                    <a href="http://www.omapsrl.com/en/icatalog/5733/contatti.html"
                                                                        target="_blank"
                                                                        style="color: #2192ad; text-decoration: none;">
                                                                        <font size="2" color="#2192ad">
                                                                            Privacy policy
                                                                        </font>
                                                                    </a>
                                                                    <br/>
                                                                    <br/>
                                                                    <br/>
                                                                    <br/>
                                    
                                                                    O.M.A.P. Officine meccaniche alta precisione Srl © 2016 | Powered by IBmachine
                                                                </td>
                                                            </tr>
                                                        </table>
                                    
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                
                                <table cellpadding="0"
                                       cellspacing="0"
                                       width="700"
                                       border="1"
                                       rules="all"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border-collapse: collapse; 
                                              border: 1px solid #cccccc;">
                                    <tr>
                                        <td align="left"
                                            width="99%"
                                            style="padding: 25px; border-color: transparent;">
                                            <font size="2" color="#777777">
                                                If this email is unsolicited, please 
                                                <a href="{{ url('/unsubscribe?unsubscribe=') ~ unsubscribeHash }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    click here 
                                                </a>
                                                to 
                                                <a href="{{ url('/unsubscribe?unsubscribe=') ~ unsubscribeHash }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    unsubscribe.  
                                                </a>
                                                <br/>
                                                <br/>
                                            </font>
                                            <font size="2" color="#cccccc">
                                                Copyright &copy; {{ "now"|date("Y") }} {{ app.name }}. All rights reserved.
                                            </font>
                                        </td>
                                        <td align="center"
                                            width="1%"
                                            valign="top"
                                            style="padding: 25px; border-color: transparent;">
                                            <a href="{{ url('/') }}">
                                                <img src="{{ message.embed(resources_path~'/assets/frontend/img/logo-grey.png') }}" 
                                                     width="96"
                                                     height="31"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>