<div class="board-blocks machine-blocks">
    {% if machines.items|length > 0 %}
        {% for post in machines.items %}
            {% if post.images|length > 0 %}
                {% for image in post.images %}
                    {% if loop.first %}
                        <div class="board-block">
                            <div class="image-block item">
                                <a href="{{ asset('images/machine/' ~ post.user_id ~ '/' ~ post.id ~ '/' ~ image.filename )~'?v'~image.filename }}"
                                   data-lightbox="modalMachineBlock-{{ post.id }}"
                                   class="image">
                                    <img src="{{ asset('images/thumbnail/' ~ post.user_id ~ '/' ~ post.id ~ '/' ~ post.thumbnail.filename )~'?v'~image.filename }}"/>
                                </a>
                                <div class="machine-title">
                                    <a href="{{ url('machine/view/' ~ post.id ) }}">
                                        {{ post.name|slice(0, 35) }}
                                        {{ post.name|length > 35 ? '...' : '' }}
                                    </a>
                                </div>
                                <div class="machine-description">
                                    {{ post.description|slice(0, 120) }}
                                    {{ post.description|length > 120 ? '...' : '' }}
                                </div>
                                <a href="{{ url('machine/view/' ~ post.id ) }}" class="pull-left underline-none">
                                    <button class="btn blue-dark small">Details <span class="glyphicon glyphicon-menu-right"></span></button>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}       
        {% endfor %}
    {% endif %}
    
    <div class="clear"></div>   
    
</div>








