<div class="board-linear">
    <div class="sorting hide-on-mobile">
        <div class="sortby image"></div>
        <div class="sortby name">
            <a href="?sortBy=name&sortOrder={% if machines.sort.by == 'name' %}{{ machines.sort.order == 'asc' ? 'desc' : 'asc' }}{% else %}asc{% endif %}&page={{ machines.pagination.currentPage }}">
                {{ views['machine.board.sort.name'].content }} 
                {% if machines.sort.by == 'name' %}
                    <span class="arrow {{ machines.sort.order == 'asc' ? 'desc' : 'asc' }}"></span>
                {% endif %}
            </a>
        </div>
        <div class="sortby status">
            <a href="?sortBy=status&sortOrder={% if machines.sort.by == 'status' %}{{ machines.sort.order == 'asc' ? 'desc' : 'asc' }}{% else %}asc{% endif %}&page={{ machines.pagination.currentPage }}">
                {{ views['machine.board.sort.condition'].content }} 
                {% if machines.sort.by == 'status' %}
                    <span class="arrow {{ machines.sort.order == 'asc' ? 'desc' : 'asc' }}"></span>
                {% endif %}
            </a>
        </div>
        <div class="sortby category">
            <span>
               {{ views['machine.board.sort.type'].content }} 
            </span>
        </div>
        <div class="sortby postdate">
            <a href="?sortBy=updated_at&sortOrder={% if machines.sort.by == 'updated_at' %}{{ machines.sort.order == 'asc' ? 'desc' : 'asc' }}{% else %}asc{% endif %}&page={{ machines.pagination.currentPage }}">
                {{ views['machine.board.sort.last.update'].content }} 
                {% if machines.sort.by == 'updated_at' %}
                    <span class="arrow {{ machines.sort.order == 'asc' ? 'desc' : 'asc' }}"></span>
                {% endif %}
            </a>
        </div>
        <div class="clear"></div>
    </div>
    
    {% if machines.items|length > 0 %}
        {% for post in machines.items %}
            <div class="post" 
                 itemscope 
                 itemtype="http://schema.org/ItemList">
                <div class="post-back {{ post.highlighted ? 'highlighted' : '' }}"
                     itemscope 
                     itemtype="http://schema.org/Product">
                    <div class="save-post-button  hide-on-mobile
                                save-machine-button
                                {{ not isAuth ? 'notAuthenticatedAction' : '' }}
                                {% for machine in saves.machines %}
                                    {% if post.id == machine.id %}
                                        is-saved is-saved-machine
                                    {% endif %}
                                {% endfor %}
                                 " 
                          id="post-id-{{ post.id }}"></div>
                    <div class="post-block image">
                        <div class="separator"></div>
                        <div class="image-block">
                            <div class="floating-block">
                                {% if post.images|length > 0 %}
                                    {% for imageKey, image in post.images %}
                                        <a href="{{ asset('images/machine/' ~ post.user_id ~ '/' ~ post.id ~ '/' ~ image.filename )~'?v'~image.filename }}"
                                           data-lightbox="modalMachine-{{ post.id }}">
                                            {% if imageKey == 0 %}
                                                <img src="{{ asset('images/thumbnail/' ~ post.user_id ~ '/' ~ post.id ~ '/' ~ post.thumbnail.filename )~'?v'~image.filename }}" itemprop="image"/>
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <img src="{{ asset('assets/frontend/img/board/no-image.png') }}" itemprop="image"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="actions hide">
                            <span class="icon save"></span>
                            <span class="icon subscribe"></span>
                            <span class="icon images"></span>
                        </div>
                    </div>
                    <div class="post-block name">
                        <h3>
                            <a href="{{ url('machine/view/' ~ post.id ) }}" itemprop="name">
                                {% if post.highlighted %}
                                    <span class="glyphicon glyphicon-star yello"></span>
                                {% endif %}
                                {{ post.name }}
                            </a>
                        </h3>
                        <div class="board-company-name" 
                             itemscope 
                             itemtype="http://schema.org/Organization">
                            <a href="{{ url('company/view/' ~ post.owner.id ) }}"
                               itemprop="name">
                                {% if post.location %}
                                    {% for country in locations.countries %}
                                        {% if post.location == country.id %}
                                            {{ country.name }} |
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {{ post.owner.company_name }}
                            </a>
                        </div>
                        <div class="short-description" itemprop="description">
                            {{ post.description|slice(0, 190)|nl2br }}
                            {{ post.description|length > 190 ? '...' : '' }}
                        </div>
                    </div>
                    <div class="post-block status">
                        {% if post.status == 2 %}
                            <span class="mark green new">{{ views['machine.condition.new'].content }} </span>
                        {% elseif post.status == 1 %}
                            <span class="mark brune old">{{ views['machine.condition.used'].content }} </span>
                        {% endif %}
                    </div>
                    <div class="post-block category" itemprop="description">
                        <span class="mark white">{{ post.type.name }}</span>
                    </div>
                    <div class="post-block postdate">
                        {{ post.updated_at|date("d.m.Y") }}
                    </div>
                    <div class="hide-on-desktop">
                        <a href="{{ url('machine/view/' ~ post.id ) }}" class="mobile-open-post">Open</a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    
        <div class="pagination hide-on-mobile">
            {% set displayingTotalPages = 11 %}
            {% set totalPages = (machines.pagination.total()/machines.pagination.perPage())|round(0, 'ceil') %}
            {% set displayingFirstPage = machines.pagination.currentPage() - 5 > 1 ? machines.pagination.currentPage() - 5 : 1 %}
            {% set displayingLastPage = machines.pagination.currentPage() + 5 < totalPages ? machines.pagination.currentPage() + 5 : totalPages %}
            {% if machines.pagination.currentPage() > 1 %}
                <a href="{{ url('machine') ~ '?page=' ~ (machines.pagination.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
            {% endif %}
            {% if displayingFirstPage != 1 %}
                <a href="{{ url('machine') ~ '?page=1' }}" class="page">1</a>
                ..
            {% endif %}
            {% for page in displayingFirstPage..displayingLastPage %}
                <a href="{{  url('machine') ~ '?page=' ~ page }}" 
                   class="page {{ machines.pagination.currentPage() == page ? 'active' : '' }}"
                   itemprop="pagination">
                    {{ page }}
                </a>
            {% endfor %}
            {% if machines.pagination.currentPage() + 5 < totalPages and machines.pagination.currentPage() + 5 > 0 %}
                ..
                <a href="{{  url('machine') ~ '?page=' ~ machines.pagination.lastPage() }}" 
                   class="page">
                    {{ machines.pagination.lastPage() }}
                </a>
            {% endif %}
            {% if machines.pagination.currentPage() < totalPages %}
                <a href="{{  url('machine') ~ '?page=' ~ (machines.pagination.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
            {% endif %}
        </div>
        
        {% if machines.pagination.currentPage() < totalPages %}
            <a class="mobile-pagination-next hide-on-desktop"
               href="{{  url('machine') ~ '?page=' ~ (machines.pagination.currentPage() + 1) }}"
                itemprop="pagination">
                Next page
            </a>
        {% endif %}
        
    {% else %}
        <div class="board-no-results">No results</div>
    {% endif %}    
</div>








