<form class="search save-search-form" 
      method="GET" 
      action="{{ url('/machine/search') }}">
    
    <div clss="clear">
        
        <div class="keywords-block">
            <div>
                <div class="field">
                    <span class="label">{{ views['machine.search.form.keywords'].content }}</span>
                    <input type="text" 
                           name="keywords" 
                           value="{{ form.keywords }}"
                           placeholder="{{ views['machine.search.form.keywords'].content }} ..." 
                           itemprop="query-input"/>
                </div>
                <div class="clear"></div>
            </div>
            <div>
                <div class="double left">
                    <div class="field">
                        <span class="label">{{ views['machine.search.form.type'].content }}</span>
                        <select class="chosen" data-placeholder=" " name="types[]" multiple>
                            {% for machineType in machine.types %}
                                <option value="{{ machineType.id }}"
                                        {% if machineType.id in form.types %} selected {% endif %}>
                                    {{ machineType.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="double right">
                    <div class="double left">
                        <div class="field">
                            <span class="label">{{ views['machine.search.form.condition'].content }}</span>
                            <select class="chosen" data-placeholder=" " name="status" >
                                <option value="">&nbsp;</option>
                                {% for machineStatus in machine.statuses %}
                                    <option value="{{ machineStatus.id }}"
                                            {{ form.status == machineStatus.id ? 'selected' : '' }}>
                                        {{ machineStatus.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="double right">
                        <div class="field">
                            <span class="label">{{ views['profile.general.form.countries'].content }}</span>
                            {% set formLocations = (form.locations ? form.locations : []) %}
                            <select class="chosen" 
                                    multiple
                                    data-placeholder=" " 
                                    name="locations[]">
                                <optgroup label="">
                                    <option value=""></option>
                                </optgroup>
                                {% if formLocations %}
                                    {% for region in locations.regions %}
                                        <optgroup label="{{ region.name }}">
                                            {% for country in locations.countries %}
                                                {% if country.region_id == region.id %}
                                                    <option value="{{ country.id }}"
                                                            userLocations
                                                            {% for location in formLocations %}
                                                                {{ location == country.id ? 'selected' : '' }}
                                                            {% endfor %}
                                                            >
                                                        {{ country.name }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                {% else %}
                                    {% for region in locations.regions %}
                                        <optgroup label="{{ region.name }}">
                                            {% for country in locations.countries %}
                                                {% if country.region_id == region.id %}
                                                    <option value="{{ country.id }}"
                                                            {% for location in formLocations %}
                                                                {{ location.location_id == country.id ? 'selected' : '' }}
                                                            {% endfor %}
                                                            >
                                                        {{ country.name }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        
        <div class="search-checkboxes">
            <br/>
            <div class="search-ckeckbox">
                <input type="checkbox" 
                       id="highlighted-on-top"
                       {% if form.highlightedOnTop %}
                            checked="checked"
                       {% endif %}
                       name="highlightedOnTop" />
                <label for="highlighted-on-top">Highlighted on top</label>
            </div>
        </div>
        
        <a href="{{ url('/machine/search/reset') }}" class="resetButton">Reset</a>
        <button type="submit" class="searchButton pull-right">{{ views['machine.search.form.button.search'].content }}</button>
    </div>
    <div class="clear"></div>
    
</form>