
<div class="auh-bar">
    {% if isAuth %}
        <span class="isAuth" id="authBar">
            {% if user.company_name == '' and user.name == '' %}
                <div class="companyName">{{ user.email }}</div>
            {% elseif user.company_name %}
                <div class="companyName">{{ user.company_name }}</div>
            {% else %}
                <div class="companyName">{{ user.name }}</div>
            {% endif %}
            <ul class="user-menu">
                <li>
                    <a class="general" 
                       href="{{ url('profile') }}" 
                       rel="nofollow">
                        <span class="icon"></span>
                        {{ views['header.menu.dropdown.general'].content }}
                    </a>
                </li>
                <li>
                    <a class="postings" 
                       href="{{ url('profile/postings') }}"
                       rel="nofollow">
                        <span class="icon"></span>
                        {{ views['header.menu.dropdown.postings'].content }}
                    </a>
                </li>
                <li>
                    <a class="uploads" 
                       href="{{ url('profile/uploads') }}"
                       rel="nofollow">
                        <span class="icon"></span>
                        {{ views['header.menu.dropdown.uploads'].content }}
                    </a>
                </li>
                <li>
                    <a class="out" 
                       href="{{ url('auth/signout') }}"
                       rel="nofollow">
                        <span class="icon"></span>
                        {{ views['header.menu.dropdown.sign.out'].content }}
                    </a>
                </li>
            </ul>
        </span>
    {% else %}
        <div class="isNotAuth">
            <a href="{{ url('auth/register') }}" rel="nofollow">{{ views['header.menu.button.register'].content }}</a> | 
            <a href="{{ url('auth/signin') }}" rel="nofollow">{{ views['header.menu.button.sign.in'].content }}</a>
        </div>
    {% endif %}
</div>