{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['recover.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        {{ views['recover.title'].content }}
    </span>
{% endblock %}

{% block content %}
    <br class="hide-on-mobile"/>
    <br class="hide-on-mobile"/>
    {% if session('recoverWasSentToEmail') %}
        <div class="width-350 to-center">
            <div class="form-title">{{ views['recover.check.email.title'].content }}</div>
            <div class="info-block">
                {{ views['recover.check.email.info'].content|raw }}
            </div>
        </div>
    {% else %}
        <div class="register-in">
            <div class="double left">
                <div class="form-title">{{ views['recover.note.title'].content }}</div>
                <div class="info-block">
                    {{ views['recover.note.info'].content|raw }}
                </div>
            </div>
            <div class="double right">
                <div class="form-title">{{ views['recover.form.title'].content }}</div>
                <form action="{{ url('auth/recover') }}" method="POST">
                    {% if form.errors|length > 0 %}<span class="error">{{ form.errors.first() }}</span>{% endif %}
                    <div class="field">
                        <span class="label">{{ views['recover.form.email'].content }}</span>
                        <input type="text" 
                               class="{{ form.errors ? form.errors.first('email') ? 'invalid' : 'valid' : '' }}"
                               name="email"
                               value="{{ form.email }}"/>
                    </div>
                    <div class="field captcha">
                        <input type="text" 
                               class="{{ form.errors ? form.errors.first('captcha') ? 'invalid' : '' : '' }}"
                               name="captcha" />
                        <span class="glyphicon glyphicon-refresh resetCaptcha" 
                              aria-hidden="true"
                               data-captha="{{url('/captcha')}}"
                               onClick="captchaService.refrashCaptcha(this);"></span>
                        <div class="captchaImg">
                            <img src="{{ url('captcha') }}">
                        </div>
                    </div>
                    <button type="submit" class="submitButton pull-right">{{ views['recover.form.button.recover'].content }}</button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="clear"></div>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js') }}"></script>
{% endblock %}