{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['register.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        {{ views['register.breadcrumbs.register'].content }}
    </span>
{% endblock %}

{% block content %}
    {% if session('registerMessage') %}
    <br/>
        <div class="reristred-successfull to-center">
            <div class="form-title">{{ views['register.successfuly.registered.title'].content }}</div>
            <div class="info-block">
                {{ views['register.successfuly.registered.info'].content|raw }}
            </div>
        </div>
    {% else %}
        <div class="register-in">
            <div class="double left">
                <div class="form-title">{{ views['register.general.info.title'].content }}</div>
                <div class="info-block">
                    {{ views['register.general.info'].content|raw }}
                </div>
            </div>
            <div class="double right">
                <div class="form-title">{{ views['register.form.title'].content }}</div>
                <form class="with-tabs" method="POST" action="{{ url('auth/register') }}">
                    {% if form.errors|length > 0 %}<span class="error">{{ form.errors.first() }}</span>{% endif %}
                    <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="type" value="2" />
                    <div class="field">
                        <span class="label">{{ views['register.form.company.name'].content }}</span>
                        <input type="text" name="company_name"
                               class="{{ form.errors ? form.errors.first('company_name') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.company_name }}"/>
                    </div>
                    <div class="field">
                        <span class="label">{{ views['register.form.email'].content }}</span>
                        <input type="text" name="email"
                               class="{{ form.errors ? form.errors.first('email') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.email }}" />
                    </div>
                    <div class="field">
                        <span class="label">{{ views['register.form.password'].content }}</span>
                        <input type="password" name="password"
                               class="{{ form.errors ? form.errors.first('password') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.password }}" />
                    </div>
                    <div class="field">
                        <span class="label">{{ views['register.form.repeat.password'].content }}</span>
                        <input type="password" name="password_confirmation"
                               class="{{ form.errors.first('password_confirmation') ? 'invalid' : ''}}"/>
                    </div>
                    <div class="field captcha">
                        <input type="text" 
                               class="{{ form.errors ? form.errors.first('captcha') ? 'invalid' : '' : '' }}"
                               name="captcha" />
                        <span class="glyphicon glyphicon-refresh resetCaptcha" 
                              aria-hidden="true"
                               data-captha="{{url('/captcha')}}"
                               onClick="captchaService.refrashCaptcha(this);"></span>
                        <div class="captchaImg">
                            <img src="{{ url('captcha') }}">
                        </div>
                    </div>
                    <button type="submit" class="submitButton pull-right">{{ views['register.form.button.register'].content }}</button>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    {% endif %}
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/auth/registerController.js?v1') }}"></script>
{% endblock %}