{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['authentication.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        {{ views['authentication.title'].content }}
    </span>
{% endblock %}

{% block content %}
    
    <br/>
    <br/>
    <div class="sign-in to-center">
        <div class="form-title">{{ views['authentication.form.title'].content }}</div>
        {% if confirmation %}
            <div class="info-block text-center">
                {{ views['authentication.confirmation.message'].content|raw }}
            </div>
        {% endif %}
        <form action="{{ url('auth/signin') }}" method="POST">
            {% if form.error %}<span class="error">{{ form.error }}</span>{% endif %}
            <div class="field">
                <span class="label">{{ views['authentication.form.login'].content }}</span>
                <input type="text" 
                       name="email"
                       value="{{ form.email }}"/>
            </div>
            <div class="field">
                <span class="label">{{ views['authentication.form.password'].content }}</span>
                <input type="password" name="password" />
            </div>
            <div class="pull-left">
                <a class="small-link" href="{{ url('/auth/register') }}">{{ views['authentication.form.link.register'].content }}</a><br/>
                <a class="small-link" href="{{ url('/auth/recover') }}">{{ views['authentication.form.link.forgot.password'].content }}</a>
            </div>
            <button type="submit" class="submitButton pull-right">{{ views['authentication.form.button.sign.in'].content }}</button>
            <div class="clear"></div>
        </form>
    
    </div>
    
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}