<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link:hover{
                text-decoration: underline;
            }
        </style>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               bgcolor="#f8f8f8"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 100%;
                      text-align: center;
                      background-color: #f8f8f8;">
            <tr>
                <td align="center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <h2>Email from contact form</h2>
                    <br/>
                    <br/>
                    <table cellpadding="0" 
                           cellspacing="0" 
                           width="700" 
                           border="0" 
                           rules="none"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;
                                  background-color: #ffffff;">
                        <tr>
                            <td valign="top">
                                <b>Person:</b>
                            </td>
                            <td valign="top">
                                &nbsp;{{ form.name }}
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <b>Email:</b>
                            </td>
                            <td valign="top">
                                &nbsp;{{ form.email }}
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <b>Subject:</b>
                            </td>
                            <td valign="top">
                                &nbsp;{{ form.subject }}
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <b>Message:</b>
                            </td>
                            <td valign="top">
                                &nbsp;{{ form.message }}
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>