<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>

        <meta charset="UTF-8">
        <meta name="robots" content="nofollow" />

        <link rel="icon" type="image/png" href="http://ibmachine.com/favicon.ico">

        <link type="text/css" rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('components/chosen/chosen.css') }}" />

        <!--  JS RESOURECES           -->
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/chosen/chosen.jquery.js') }}"></script>

        <!--  CASCADING STYLE SHEETS  -->
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/admin/css/styles.css') }}" />
    </head>
    <body class="{{ isAuth ? 'loged' : '' }}">
        <!------------------------------>
        <!--       HEADER BLOCK       -->
        <!------------------------------>
        {% if isAuth %}
            <div class="menu">
                <div class="logo-on-menu"></div>
                <ul>
                    <li>
                        <a class="{{ category == 'home' ? 'active' : '' }}"
                           href="{{ url('admin/home') }}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="{{ category == 'users' ? 'active' : '' }}"
                           href="{{ url('admin/users') }}">
                           Users
                        </a>
                        {% if category == 'users' %}
                            <ul>
                                <li>
                                    <a class="{{ subcategory == 'search' ? 'active' : '' }}"
                                       href="{{ url('admin/users') }}">
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'users_add' ? 'active' : '' }}"
                                       href="{{ url('admin/users/add') }}">
                                        Add User
                                    </a>
                                </li>
                                {% if subcategory == 'users_edit' %}
                                    <li>
                                        <a class="active"
                                           href="#">
                                            Edit User
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="{{ subcategory == 'users_ranks' ? 'active' : '' }}"
                                       href="{{ url('/admin/users/ranks') }}">
                                        Ranks
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'users_ranks_create' ? 'active' : '' }}"
                                       href="{{ url('/admin/users/rank/add') }}">
                                        Create Rank
                                    </a>
                                </li>
                                {% if subcategory == 'users_rank_edit' %}
                                    <li>
                                        <a class="active"
                                           href="#">
                                            Edit Rank
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        <a class="{{ category == 'machines' ? 'active' : '' }}"
                           href="{{ url('admin/machines') }}">Machines</a>
                        {% if category == 'machines' %}
                            <ul>
                                <li>
                                    <a class="{{ subcategory == 'search' ? 'active' : '' }}"
                                       href="{{ url('admin/machines') }}">
                                        Search
                                    </a>
                                </li>
                                {% if subcategory == 'machine_add' %}
                                    <li>
                                        <a class="active"
                                           href="#">
                                            Add Machine
                                        </a>
                                    </li>
                                {% endif %}
                                {% if subcategory == 'machine_edit' %}
                                    <li>
                                        <a class="active"
                                           href="#">
                                            Edit Machine
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        <a class="{{ category == 'company' ? 'active' : '' }}"
                           href="{{ url('admin/companies') }}">
                            Companies
                        </a>
                        {% if category == 'company' %}
                            <ul>
                                <li>
                                    <a class="{{ subcategory == 'search' ? 'active' : '' }}"
                                       href="{{ url('admin/companies') }}">
                                        Search
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'company_add' ? 'active' : '' }}"
                                       href="{{ url('/admin/company/add') }}">
                                        Add Company
                                    </a>
                                </li>
                                {% if subcategory == 'company_edit' %}
                                    <li>
                                        <a class="active"
                                           href="#">
                                            Edit company
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        <a class="{{ category == 'spells' ? 'active' : '' }}"
                           href="{{ url('admin/spells/home') }}">
                            Spells
                        </a>
                        {% if category == 'spells' %}
                            <ul>
                                <li>
                                    <a class="{{ subcategory == 'application' ? 'active' : '' }}"
                                       href="{{ url('admin/spells/application') }}">
                                        Application
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'home' ? 'active' : '' }}"
                                       href="{{ url('admin/spells/home') }}">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'header' ? 'active' : '' }}"
                                       href="{{ url('admin/spells/header') }}">
                                        Header
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'footer' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/footer') }}">
                                        Footer
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'aboutus' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/aboutus') }}">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'services' ? 'active' : '' }}"
                                       href="{{ url('admin/spells/services') }}">
                                        Services
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'contacts' ? 'active' : '' }}"
                                       href="{{ url('admin/spells/contacts') }}">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'machine' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/machine') }}">
                                        Machine
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'view_machine' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/machine/view') }}">
                                        Machine View
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'post_machine' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/machine/post') }}">
                                        Post Machine
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'companies' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/companies') }}">
                                        Companies
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'view_companies' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/companies/view') }}">
                                        Company view
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'register' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/register') }}">
                                        Register
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'authentication' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/authentication') }}">
                                        Authentication
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'recover' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/recover') }}">
                                        Recover password
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'profile_menu' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/profile/menu') }}">
                                        Profile Menu
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'profile_general' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/profile/general') }}">
                                        Profile General
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'profile_machine' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/profile/machine') }}">
                                        Profile Posts
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'profile_uploads' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/profile/uploads') }}">
                                        Profile Uploads
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'profile_credentials' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/profile/credentials') }}">
                                        Profile Email/Password
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'alerts' ? 'active' : '' }}"
                                       href="{{ url('/admin/spells/alerts') }}">
                                        Alerts
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        <a class="{{ category == 'mailer' ? 'active' : '' }}"
                           href="{{ url('admin/mailer/send') }}">
                            Mailer
                        </a>
                        {% if category == 'mailer' %}
                            <ul>
                                <li>
                                    <a class="{{ subcategory == 'send' ? 'active' : '' }}"
                                       href="{{ url('admin/mailer/send') }}">
                                        Send mail
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ subcategory == 'broadcast' ? 'active' : '' }}"
                                       href="{{ url('admin/mailer/broadcast') }}">
                                        Broadcast
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if isAuth %}
            <div class="admin-details">
                Hello!
                <div class="admin-details-name">
                    <b>{{ user.name }} {{ user.surname }}</b>
                </div>
                |
                <a href="{{ url('/admin/auth/signout') }}">Log Out</a>
            </div>
        {% endif %}


        <!------------------------------>
        <!--         CONTENT          -->
        <!------------------------------>
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% block js %}{% endblock %}

    </body>
</html>
