<div class="board-linear">
    <div class="sorting company-board">
        <div class="sortby image"></div>
        <div class="sortby name">
            <a href="?sortBy=name&sortOrder={% if companies.sort.by == 'name' %}{{ companies.sort.order == 'asc' ? 'desc' : 'asc' }}{% else %}asc{% endif %}&page={{ companies.pagination.currentPage }}">
                {{ views['companies.board.sort.name'].content }}
                {% if companies.sort.by == 'name' %}
                    <span class="arrow {{ companies.sort.order == 'asc' ? 'desc' : 'asc' }}"></span>
                {% endif %}
            </a>
        </div>
        <div class="sortby locations">
            <span>
                {{ views['companies.board.sort.locations'].content }}
            </span>
        </div>
        <div class="sortby postdate">
            <a href="?sortBy=updated_at&sortOrder={% if companies.sort.by == 'updated_at' %}{{ companies.sort.order == 'asc' ? 'desc' : 'asc' }}{% else %}asc{% endif %}&page={{ companies.pagination.currentPage }}">
                {{ views['companies.board.sort.last.update'].content }}
                {% if companies.sort.by == 'updated_at' %}
                    <span class="arrow {{ companies.sort.order == 'asc' ? 'desc' : 'asc' }}"></span>
                {% endif %}
            </a>
        </div>
        <div class="clear"></div>
    </div>
    {% if companies.items|length > 0 %}
        {% for post in companies.items %}
            <div class="post company-board"
                 itemscope 
                 itemtype="http://schema.org/ItemList">
                <div class="post-back {{ post.highlighted ? 'highlighted' : '' }}"
                     itemscope 
                     itemtype="http://schema.org/Organization">
                    <div class="post-block image">
                        <div class="separator"></div>
                        <div class="image-block">
                            <div class="floating-block logo-image">
                                <table height="70px"
                                       rules="none"
                                       border="0"
                                       cellpadding="0">
                                    <tr>
                                        <td valign="middle" style="padding: 0;">
                                            {% if post.logo|length > 0 %}
                                                {% for image in post.logo %}
                                                    <img src="{{ asset('/images/companies/' ~ post.id ~ '/' ~ image.filename )~'?v'~image.filename }}"
                                                         style="margin: 0;"
                                                         itemprop="image"/>
                                                {% endfor %}
                                            {% else %}
                                                <img src="{{ asset('assets/frontend/img/board/no-image.png?v1') }}"
                                                     style="margin-top: -15px;"
                                                     itemprop="image"/>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="actions hide">
                            <span class="icon save"></span>
                            <span class="icon subscribe"></span>
                            <span class="icon images"></span>
                        </div>
                    </div>
                    <div class="post-block name">
                        <h3>
                            <a href="{{ asset( 'company/view' ~ '/' ~ post.id ) }}"
                               itemprop="name"
                               itemprop="url">
                                {% if post.highlighted %}
                                    <span class="glyphicon glyphicon-star yello"></span>
                                {% endif %}
                                {{ post.company_name }}
                            </a>
                        </h3>
                        <div class="short-description"
                             itemprop="description">
                            {{ post.description|slice(0, 190)|nl2br }}
                            {{ post.description|length > 190 ? '...' : '' }}
                        </div>
                    </div>
                    <div class="post-block locations">
                        {% for location in post.locations %}
                            {% if loop.index < 3 %}
                                {% for country in locations.countries %}
                                    {% if location.location_id == country.id %}
                                        <span class="mark white">
                                            {{ country.name }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if loop.index == 3 %}
                                <br/>and other...
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="post-block postdate">
                        {{ post.updated_at|date("d.m.Y") }}
                    </div>
                    <div class="hide-on-desktop">
                        <a href="{{ asset( 'company/view' ~ '/' ~ post.id ) }}" class="mobile-open-post" itemprop="url">Open</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    
        <div class="pagination hide-on-mobile">
            {% set displayingTotalPages = 11 %}
            {% set totalPages = (companies.pagination.total()/companies.pagination.perPage())|round(0, 'ceil') %}
            {% set displayingFirstPage = companies.pagination.currentPage() - 5 > 1 ? companies.pagination.currentPage() - 5 : 1 %}
            {% set displayingLastPage = companies.pagination.currentPage() + 5 < totalPages ? companies.pagination.currentPage() + 5 : totalPages %}
            {% if companies.pagination.currentPage() > 1 %}
                <a href="{{ url('companies') ~ '?page=' ~ (companies.pagination.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
            {% endif %}
            {% if displayingFirstPage != 1 %}
                <a href="{{ url('companies') ~ '?page=' ~ '1' }}" class="page">1</a>
                ..
            {% endif %}
            {% for page in displayingFirstPage..displayingLastPage %}
                <a href="{{ url('companies') ~ '?page=' ~ page }}" 
                   class="page {{ companies.pagination.currentPage() == page ? 'active' : '' }}"
                   itemprop="pagination">
                    {{ page }}
                </a>
            {% endfor %}
            {% if companies.pagination.currentPage() + 5 < totalPages and companies.pagination.currentPage() + 5 > 0 %}
                ..
                <a href="{{ url('companies') ~ '?page=' ~ companies.pagination.lastPage() }}" class="page">{{ companies.pagination.lastPage() }}</a>
            {% endif %}
            {% if companies.pagination.currentPage() < totalPages %}
                <a href="{{ url('companies') ~ '?page=' ~ (companies.pagination.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
            {% endif %}
        </div>
        
        {% if companies.pagination.currentPage() < totalPages %}
            <a class="mobile-pagination-next hide-on-desktop"
               href="{{ url('companies') ~ '?page=' ~ (companies.pagination.currentPage() + 1) }}"
               itemprop="pagination">
                Next page
            </a>
        {% endif %}
        
    {% else %}
        <div class="board-no-results">No results</div>
    {% endif %}    
</div>








