<form class="search" 
      method="GET" 
      action="{{ url('/companies/search') }}">
    
    <div class="clear"> 
        
        <div class="keywords-block">
            <div>
                <div class="width-3in4 left">
                    <div class="field">
                        <span class="label">{{ views['machine.search.form.keywords'].content }}</span>
                        <input type="text" 
                               name="keywords" 
                               value="{{ form.keywords }}"
                               placeholder="{{ views['machine.search.form.keywords'].content }} ..." 
                               itemprop="query-input"/>
                    </div>
                </div>
                
                <div class="width-1in4 right">
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.countries'].content }}</span>
                        {% set formLocations = (form.locations ? form.locations : []) %}
                        <select class="chosen" 
                                multiple
                                data-placeholder=" " 
                                name="locations[]">
                            <optgroup label="">
                                <option value=""></option>
                            </optgroup>
                            {% if formLocations %}
                                {% for region in locations.regions %}
                                    <optgroup label="{{ region.name }}">
                                        {% for country in locations.countries %}
                                            {% if country.region_id == region.id %}
                                                <option value="{{ country.id }}"
                                                        userLocations
                                                        {% for location in formLocations %}
                                                            {{ location == country.id ? 'selected' : '' }}
                                                        {% endfor %}
                                                        >
                                                    {{ country.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            {% else %}
                                {% for region in locations.regions %}
                                    <optgroup label="{{ region.name }}">
                                        {% for country in locations.countries %}
                                            {% if country.region_id == region.id %}
                                                <option value="{{ country.id }}"
                                                        {% for location in formLocations %}
                                                            {{ location.location_id == country.id ? 'selected' : '' }}
                                                        {% endfor %}
                                                        >
                                                    {{ country.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <a href="{{ url('/companies/search/reset') }}" class="resetButton">Reset</a>
        <button type="submit" class="searchButton">{{ views['machine.search.form.button.search'].content }}</button>
    </div>
    <div class="clear"></div>
    
</form>