{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['profile.credentials.info.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
        {{ views['profile.menu.title'].content }}
    </a>
    <span class="last">
        {{ views['profile.menu.credentials'].content }}
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu profile">
        <div class="left-side-block">
            <h1 class="title">{{ views['profile.menu.title'].content }}</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        <div class="form-title">{{ views['profile.credentials.info.title'].content }}</div>
        <p class="info-block">
            {{ views['profile.credentials.info'].content }}
        </p>
        <div class="double left">
            <div class="form-title">{{ views['profile.credentials.change.email.title'].content }}</div>
            <form class="with-tabs"
                  style="padding-bottom: 0;"
                  method="POST" 
                  action="{{ url('profile/credentials/email') }}">
                {% if form.credentials_email.errors|length > 0 %}<span class="error">{{ form.credentials_email.errors.first() }}</span>{% endif %}
                <div class="double left">
                    <div class="field">
                        <span class="label">{{ views['profile.credentials.change.email.current.password'].content }}</span>
                        <input type="password" 
                               name="password"
                               class="{{ form.credentials_email.errors ? form.credentials_email.errors.first('password') ? 'invalid' : 'valid' : '' }}"/>
                    </div>
                </div>
                <div class="double right">
                    <div class="field">
                        <span class="label">{{ views['profile.credentials.change.email.new.email'].content }}</span>
                        <input type="text" 
                               name="email"
                               value="{{ form.credentials_email.email ? form.credentials_email.email : user.email }}"
                               class="{{ form.credentials_email.errors ? form.credentials_email.errors.first('email') ? 'invalid' : 'valid' : '' }}"/>
                    </div>
                </div>
                <div class="field captcha large">
                    <input type="text" 
                           class="{{ form.credentials_email.errors ? form.credentials_email.errors.first('captcha') ? 'invalid' : '' : '' }}"
                           placeholder="Captcha ..."
                           name="captcha" />
                    <span class="glyphicon glyphicon-refresh resetCaptcha" 
                          aria-hidden="true"
                           data-captha="{{url('/captcha')}}"
                           onClick="captchaService.refrashCaptcha(this);"></span>
                    <div class="captchaImg">
                        <img src="{{ url('captcha') }}">
                    </div>
                </div>
                <button type="submit" class="submitButton pull-right">Save</button>
                <div class="clear"></div>
            </form>
        </div>
        <div class="double right">
            <div class="form-title">{{ views['profile.credentials.change.password.title'].content }}</div>
            <form class="with-tabs"
                  style="padding-bottom: 0;"
                  method="POST" 
                  action="{{ url('profile/credentials/password') }}">
                {% if form.credentials_password.errors|length > 0 %}<span class="error">{{ form.credentials_password.errors.first() }}</span>{% endif %}
                <div class="double left">
                    <div class="field">
                        <span class="label">{{ views['profile.credentials.change.password.current.password'].content }}</span>
                        <input type="password" 
                               name="password"
                               class="{{ form.credentials_password.errors ? form.credentials_password.errors.first('password') ? 'invalid' : 'valid' : '' }}"/>
                    </div>
                </div>
                <div class="double right">
                    <div class="field">
                        <span class="label">{{ views['profile.credentials.change.password.new.password'].content }}</span>
                        <input type="text" 
                               name="new_password"
                               class="{{ form.credentials_password.errors ? form.credentials_password.errors.first('new_password') ? 'invalid' : 'valid' : '' }}"/>
                    </div>
                </div>
                <div class="field captcha large">
                    <input type="text" 
                           class="{{ form.credentials_password.errors ? form.credentials_password.errors.first('captcha') ? 'invalid' : '' : '' }}"
                           placeholder="Captcha ..."
                           name="captcha" />
                    <span class="glyphicon glyphicon-refresh resetCaptcha" 
                          aria-hidden="true"
                           data-captha="{{url('/captcha')}}"
                           onClick="captchaService.refrashCaptcha(this);"></span>
                    <div class="captchaImg">
                        <img src="{{ url('captcha') }}">
                    </div>
                </div>
                <button type="submit" class="submitButton pull-right">{{ views['profile.credentials.button.save'].content }}</button>
                <div class="clear"></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js?v1') }}"></script>
{% endblock %}