{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['profile.general.info.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
        {{ views['profile.menu.title'].content }}
    </a>
    <span class="last">
        {{ views['profile.menu.general'].content }}
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu profile">
        <div class="left-side-block">
            <h1 class="title">{{ views['profile.menu.title'].content }}</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        
        <div class="form-title">{{ views['profile.general.info.title'].content }}</div>
        <p class="info-block">
            {{ views['profile.general.info'].content }}
        </p>
        
        <div class="form-title">{{ views['profile.general.public.page.title'].content }}</div>
        <table class="postings url-table"
               border="1px"
               bordercolor="#e1e1e1"
               rules="all">
            <tr class="post">
                <td class="url">
                    <a target="_blank" href="{{ url('/company/view') ~ '/' ~ user.id }}">
                        {{ url('/company/view') ~ '/' ~ user.id }}
                    </a>
                </td>
            </tr>
        </table>
        
        <div class="form-title">{{ views['profile.general.form.title'].content }}</div>
        
        <form class="with-tabs" style="padding-bottom: 0;" method="POST" action="{{ url('profile/general/details') }}">
            {% if form.errors|length > 0 %}<span class="error">{{ form.errors.first() }}</span>{% endif %}
            <div class="double left">
                <div class="field">
                    <span class="label">{{ views['profile.general.form.name'].content }}</span>
                    <input type="text" name="company_name"
                           class="{{ form.errors ? form.errors.first('company_name') ? 'invalid' : 'valid' : '' }}"
                           value="{{ form.company_name ? form.company_name : user.company_name }}"/>
                </div>
                <div class="clear"></div>
                <div class="double left">
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.contact.person'].content }}</span>
                        <input type="text" name="name"
                               class="{{ form.errors ? form.errors.first('name') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.name ? form.name : user.name }}"/>
                    </div>
                </div>
                <div class="double right">
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.phone'].content }}</span>
                        <input type="text" name="phone"
                               class="{{ form.errors ? form.errors.first('phone') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.phone ? form.phone : user.phone }}"/>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="double left">
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.countries'].content }}</span>
                        {% set currentLocations = (form.location ? form.location : user.usersLocations) %}
                        <select class="chosen {{ form.errors ? form.errors.first('location') ? 'invalid' : 'valid' : '' }}" 
                                multiple
                                data-placeholder=" " 
                                name="location[]">
                            <optgroup label="">
                                <option value=""></option>
                            </optgroup>
                            {% if form.location %}
                                {% for region in locations.regions %}
                                    <optgroup label="{{ region.name }}">
                                        {% for country in locations.countries %}
                                            {% if country.region_id == region.id %}
                                                <option value="{{ country.id }}"
                                                        userLocations
                                                        {% for location in currentLocations %}
                                                            {{ location == country.id ? 'selected' : '' }}
                                                        {% endfor %}
                                                        >
                                                    {{ country.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            {% else %}
                                {% for region in locations.regions %}
                                    <optgroup label="{{ region.name }}">
                                        {% for country in locations.countries %}
                                            {% if country.region_id == region.id %}
                                                <option value="{{ country.id }}"
                                                        {% for location in currentLocations %}
                                                            {{ location.location_id == country.id ? 'selected' : '' }}
                                                        {% endfor %}
                                                        >
                                                    {{ country.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="double right">
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.address'].content }}</span>
                        <input type="text" name="address"
                               class="{{ form.errors ? form.errors.first('address') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.address ? form.address : user.address }}"/>
                    </div>
                </div>
                    <div class="clear"></div>
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.public.email'].content }}</span>
                        <input type="text" name="public_email"
                               class="{{ form.errors ? form.errors.first('public_email') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.public_email ? form.public_email : user.public_email }}"/>
                    </div>
                    <div class="field">
                        <span class="label">{{ views['profile.general.form.website'].content }}</span>
                        <input type="text" name="website"
                               class="{{ form.errors ? form.errors.first('website') ? 'invalid' : 'valid' : '' }}"
                               value="{{ form.website ? form.website : user.website }}"/>
                    </div>
            </div>
            <div class="double right">
                <div class="field">
                    <span class="label" >{{ views['profile.general.form.description'].content }}</span>
                    <textarea name="description" 
                              style="min-height: 308px;"
                              class="{{ form.errors ? form.errors.first('description') ? 'invalid' : 'valid' : '' }}"
                              >{{ form.description ? form.description : user.description }}</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="field captcha large">
                <input type="text" 
                       class="{{ form.errors ? form.errors.first('captcha') ? 'invalid' : '' : '' }}"
                       placeholder="Captcha ..."
                       name="captcha" />
                <span class="glyphicon glyphicon-refresh resetCaptcha" 
                      aria-hidden="true"
                       data-captha="{{url('/captcha')}}"
                       onClick="captchaService.refrashCaptcha(this);"></span>
                <div class="captchaImg">
                    <img src="{{ url('captcha') }}">
                </div>
            </div>
            <button type="submit" class="submitButton pull-right">{{ views['profile.general.form.button.update'].content }}</button>
            <div class="clear"></div>
        </form>
    </div>
                   
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js?v1') }}"></script>
{% endblock %}