{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Newsletters{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
        Profile
    </a>
    <span class="last">
        Newsletters
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu">
        <div class="left-side-block">
            <h1 class="title">Profile</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        
        <div class="form-title">Newsletters</div>
        <p class="info-block">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            La ditta nasce dall'esperienza dei suoi componenti nel campo della vendita
            post-vendita e assistenza delle macchine utensili ed utensileria in genere 
            e spazia dal privato al piccolo are quindi il costruttore 
            più adatto alla realizzazione del macchinario desiderato.
        </p>
        
        <div class="form-title">Recipients</div>
        <table class="postings"
               border="1px"
               bordercolor="#e1e1e1"
               rules="all">
            <tr class="post">
                <td class="name">
                    <a href="#">
                        {{ user.email }}
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
            <tr class="post">
                <td class="name">
                    <a href="#">
                        {{ user.email }}
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
            <tr class="post">
                <td class="name">
                    <a href="#">
                        {{ user.email }}
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
        </table>
             
        <div class="form-title">Add recipients</div>   
        <form class="with-tabs" method="POST" action="{{ url('auth/register') }}">
            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
            <div class="field">
                <span class="label">* New email recipient</span>
                <input type="password" name="password_confirmation"
                       class=""/>
            </div>
            <button type="submit" class="btn small blue pull-right">Add email!</button>
            <div class="clear"></div>
        </form>
        
    </div>
{% endblock %}