{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Postings{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
       {{ views['profile.menu.title'].content }}
    </a>
    <span class="last">
       {{ views['profile.menu.postings'].content }}
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu">
        <div class="left-side-block">
            <h1 class="title">{{ views['profile.menu.title'].content }}</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        
        <div class="form-title">{{ views['profile.machine.info.title'].content }}</div>
        <div class="info-block">
            {{ views['profile.machine.info'].content }}
            <div class="clear"><br/></div>
            <a href="{{ url('machine/post') }}" class="pull-left underline-none">
                <button class="btn blue small">{{ views['profile.machine.button.post.machine'].content }}</button>
            </a>
            <div class="clear"></div>
        </div>
        {{ session('successMessage') }}
        <div class="form-title">{{ views['profile.machine.board.title'].content }}</div>
        {% if machines|length > 0 %}
            <table class="postings"
                   border="1px"
                   bordercolor="#e1e1e1"
                   rules="all">
                {% for machine in machines %}
                    <tr class="post">
                        <td class="image" width="1">
                            {% if thumbnail[machine.id] %}
                                <img src="{{ asset('images/thumbnail/' ~ user.id ~ '/' ~ machine.id ~ '/' ~ thumbnail[machine.id].filename ) }}" />
                            {% else %}
                                <img style="margin-top: -5px;" src="{{ asset('assets/frontend/img/board/no-image.png') }}"/>
                            {% endif %}
                        </td>
                        <td class="name">
                            <a href="{{ url('machine/view') ~ '/' ~ machine.id }}">
                                {{ machine.name }}
                            </a>
                            
                            <div class="hide-on-desktop mobile-profile-post">
                                {% if images[machine.id]|length > 0 %}
                                    <img src="{{ asset('images/machine/' ~ user.id ~ '/' ~ machine.id ~ '/' ~ images[machine.id][0].filename ) }}" />
                                {% else %}
                                    <img style="margin-top: -5px;" src="{{ asset('assets/frontend/img/board/no-image.png') }}"/>
                                {% endif %}
                            </div>
                            
                            <pre class="description">{{ machine.description }}</pre>
                            <div class="hide-on-desktop">
                                <a href="{{ url('/profile/postings/machine') ~ '/' ~ (machine.active ? 'deactivate' : 'activate') ~ '/' ~ machine.id }}" 
                                   id="{{ machine.active ? 'deactivateMachine' ~ '-' ~ machine.id : '' }}"
                                   class="underline-none {{ machine.active ? 'confirm' : '' }}">
                                    <span class="glyphicon glyphicon-off {{ machine.active ? 'active ' : '' }}" 
                                          title="{{ machine.active ? 'Deactivate' : 'Activate' }}"
                                          aria-hidden="true"></span>
                                </a>
                                <a href="{{ url('machine/edit') ~ '/' ~ machine.id }}" 
                                   class="underline-none">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="#" 
                                   id="{{ 'confirmRemoveMachine' ~ '-' ~ machine.id }}"
                                   class="underline-none confirm">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                        <td class="create-date" width="1">
                            {{ machine.updated_at|date("d.m.Y") }}
                        </td>
                        <td class="actions" width="1">
                            <a href="{{ url('/profile/postings/machine') ~ '/' ~ (machine.active ? 'deactivate' : 'activate') ~ '/' ~ machine.id }}" 
                               id="{{ machine.active ? 'deactivateMachine' ~ '-' ~ machine.id : '' }}"
                               class="underline-none {{ machine.active ? 'confirm' : '' }}">
                                <span class="glyphicon glyphicon-off {{ machine.active ? 'active ' : '' }}" 
                                      title="{{ machine.active ? 'Deactivate' : 'Activate' }}"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="{{ url('machine/edit') ~ '/' ~ machine.id }}" 
                               class="underline-none">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="#" 
                               id="{{ 'confirmRemoveMachine' ~ '-' ~ machine.id }}"
                               class="underline-none confirm">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <div class="info-block text-center">
                {{ views['alert.notification.no.posted.machines'].content }}
            </div>
            <br/>
            <br/>
        {% endif %}
        
        
        {% for machine in machines %}
            {% include 'frontend.components.alert' with {
                'identifier'       : 'confirmRemoveMachine' ~ '-' ~ machine.id,
                'link'             : url('machine/remove/' ~ machine.id ),
                'message'          : views['alert.confirm.remove.machine'].content,
                'acceptButtonName' : views['alert.confirm.button.remove'].content,
            } %}
            {% if machine.active %}
                {% include 'frontend.components.alert' with {
                    'identifier'       : 'deactivateMachine' ~ '-' ~ machine.id,
                    'link'             : url('/profile/postings/machine/deactivate') ~ '/' ~ machine.id,
                    'message'          : views['alert.confirm.deactivate.machine'].content,
                    'acceptButtonName' : views['alert.confirm.button.deactivate'].content,
                } %}
            {% endif %}
        {% endfor %}
        
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/profile/postings.js?v1') }}"></script>
{% endblock %}
        