{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Resources{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
        Profile
    </a>
    <span class="last">
        Resources
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu">
        <div class="left-side-block">
            <h1 class="title">Profile</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        
        <div class="form-title">Other resources or profiles</div>
        <p class="info-block">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            La ditta nasce dall'esperienza dei suoi componenti nel campo della vendita
            post-vendita e assistenza delle macchine utensili ed utensileria in genere 
            e spazia dal privato al piccolo are quindi il costruttore 
            più adatto alla realizzazione del macchinario desiderato.
        </p>
        
        <div class="form-title">Resources</div>
        <table class="postings"
               border="1px"
               bordercolor="#e1e1e1"
               rules="all">
            <tr class="post">
                <td width="1">
                    <img src="{{ asset('assets/frontend/img/resource-links/subitto.png') }}" />
                </td>
                <td class="name url">
                    <a href="#">
                        http://www.industriale.it/macchine-utensili/usate/bordatrici_347/scm_50113.html
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
            <tr class="post">
                <td width="1">
                    <img src="{{ asset('assets/frontend/img/resource-links/industriali.png') }}" />
                </td>
                <td class="name url">
                    <a href="#">
                        http://www.industriale.it/macchine-utensili/usate/bordatrici_347/scm_50113.html
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
            <tr class="post">
                <td width="1">
                    <img src="{{ asset('assets/frontend/img/resource-links/emacchinari.png') }}" />
                </td>
                <td class="name url">
                    <a href="#">
                        http://pix04.revsci.net/F09828/b3/0/3/120814/887649105.js?D=Dww.subito.it%252Fannunci-piemonte%252Fvendita%252Fusato%252F%26DM_EOM%3D1&C=F09828
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
            <tr class="post">
                <td width="1">
                    <img src="{{ asset('assets/frontend/img/resource-links/mindustry.png') }}" />
                </td>
                <td class="name url">
                    <a href="#">
                        http://www.industriale.it/macchine-utensili/usate/bordatrici_347/scm_50113.html
                    </a>
                </td>
                <td class="actions" width="1">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </td>
            </tr>
        </table>
        
    </div>
{% endblock %}