{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Settings{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
        Profile
    </a>
    <span class="last">
        Settings
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu">
        <div class="left-side-block">
            <h1 class="title">Profile</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        
        <div class="form-title">Account settings</div>
        <p class="info-block">
            La ditta nasce dall'esperienza dei suoi componenti nel campo della vendita
            post-vendita e assistenza delle macchine utensili ed utensileria in genere 
            e spazia dal privato al piccolo are quindi il costruttore 
            più adatto alla realizzazione del macchinario desiderato.
        </p>
        <form class="with-tabs" method="POST" action="{{ url('/profile/settings') }}">
            
            <div class="field">
                <div class="btn-group pull-left" data-toggle="buttons">
                    <label class="btn btn-primary on {{ 1 == settings.account_visible ? 'active' : '' }}">
                        Yes
                        <input type="radio" 
                               name="account_visible"
                               value="1"
                               autocomplete="off" {{ 1 == settings.account_visible ? 'checked' : '' }}/>
                    </label>
                    <label class="btn btn-primary off {{ 0 == settings.account_visible ? 'active' : '' }}">
                        No
                        <input type="radio" 
                               name="account_visible"
                               value="0"
                               autocomplete="off" {{ 0 == settings.account_visible ? 'checked' : '' }} />
                    </label>
                </div>
                <span class="checkbox-info pull-left">
                    Make my company details visible on board
                </span>
                <div class="line-grey"></div>
            </div>
            
            <div class="field">
                <div class="btn-group pull-left" data-toggle="buttons">
                    <label class="btn btn-primary on {{ 1 == settings.hide_machine ? 'active' : '' }}">
                        Yes
                        <input type="radio" 
                               name="hide_machine"
                               value="1"
                               autocomplete="off" {{ 1 == settings.hide_machine ? 'checked' : '' }}/>
                    </label>
                    <label class="btn btn-primary off {{ 0 == settings.hide_machine ? 'active' : '' }}">
                        No
                        <input type="radio" 
                               name="hide_machine"
                               value="0"
                               autocomplete="off" {{ 0 == settings.hide_machine ? 'checked' : '' }}/>
                    </label>
                </div>
                <span class="checkbox-info pull-left">
                    Hide my machine on board
                </span>
                <div class="line-grey"></div>
            </div>
            
            <div class="field">
                <div class="btn-group pull-left" data-toggle="buttons">
                    <label class="btn btn-primary on {{ 1 == settings.newsletters ? 'active' : '' }}">
                        Yes
                        <input type="radio" 
                               name="newsletters"
                               value="1"
                               autocomplete="off" {{ 1 == settings.newsletters ? 'checked' : '' }}/>
                    </label>
                    <label class="btn btn-primary off {{ 0 == settings.newsletters ? 'active' : '' }}">
                        No
                        <input type="radio" 
                               name="newsletters"
                               value="0"
                               autocomplete="off" {{ 0 == settings.newsletters ? 'checked' : '' }}/>
                    </label>
                </div>
                <span class="checkbox-info pull-left">
                    Receive newsletters 
                </span>
                <div class="line-grey"></div>
            </div>
            
            <div class="clear"></div>
            <button type="submit" class="btn small blue pull-left">Save settings!</button>
            <div class="clear"></div>
        </form>
        
    </div>
{% endblock %}