{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['profile.menu.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/profile') }}" 
       rel="nofollow"
       class="crumb">
        {{ views['profile.menu.title'].content }}
    </a>
    <span class="last">
        {{ views['profile.menu.uploads'].content }}
    </span>
{% endblock %}

{% block content %}
    <br/>
    <div class="content-with-left-side-menu">
        <div class="left-side-block">
            <h1 class="title">{{ views['profile.menu.title'].content }}</h1>
            {% include 'frontend.components.sidemenu' %}
        </div>
        <div class="double left">
            <div class="form-title">{{ views['profile.uploads.logo.form.title'].content }}</div>
            <form enctype="multipart/form-data" action="{{ url('profile/uploads/logo') }}" method="post" style="padding-bottom: 0;">
            {% if form.errors|length > 0 %}<span class="error">{{ form.errors.first() }}</span>{% endif %}
                <div class="field">
                    <div class="images-uploader-block company-logo">
                        <input type="file" class="hidden logo-image"/>
                        <div class="uploaded-images">
                            <div class="image {{ form.logo > 0 ? 'hidden' : '' }}" id="uploaded-image-template">
                                <div class="mini-image">
                                    <div class="image-back">
                                    </div>
                                </div>
                                <textarea class="hidden base-64-storage" name="logo[]" disabled></textarea>
                            </div>
                            {% for image in form.logo %}
                                <div class="image uploaded-image">
                                    <div class="mini-image">
                                        <div class="image-back"
                                             style="background: url('{{ image }}') center center no-repeat; 
                                                    background-size: contain;">
                                        </div>
                                    </div>
                                    <textarea class="hidden base-64-storage" name="logo[]">{{ image }}</textarea>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="upload-image-button {{ form.logo|length > 2 ? 'hidden' : '' }}">
                            <div class="clicable-zone">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="glyphicon glyphicon-folder-close"></span>
                                {{ views['profile.uploads.logo.form.button.add'].content|raw }}
                            </div>
                            <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/frontend/img/image-loader.gif') }}" /></div>
                        </div>
                    </div>
                </div>

                <div class="line-grey"></div>
                <div class="field captcha">
                    <input type="text" 
                           class="{{ form.errors ? form.errors.first('captcha') ? 'invalid' : '' : '' }}"
                           name="captcha" />
                    <span class="glyphicon glyphicon-refresh resetCaptcha" 
                          aria-hidden="true"
                           data-captha="{{url('/captcha')}}"
                           onClick="captchaService.refrashCaptcha(this);"></span>
                    <div class="captchaImg">
                        <img src="{{ url('captcha') }}">
                    </div>
                </div>
                <button type="submit" class="submitButton pull-right">{{ views['profile.uploads.logo.form.button.update'].content }}</button>
                <div class="clear"></div>
            </form>
        </div>
        <div class="double right">
            <div class="form-title">{{ views['profile.uploads.logo.info.title'].content }}</div>
            
            <div class="info-block">
                {{ views['profile.uploads.logo.info'].content|raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/fileService.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/profile/uploads.js?v1') }}"></script>
{% endblock %}