<div class="banners">
    <div class="dinamic-banner">
        <div class="dinamic-banner-logo">
            <a href="http://www.omapsrl.com/" target="_blank">
                <img src="{{ url('assets/frontend/public/banners-machine/omap-logo.png') }}"/>
            </a>
        </div>
        
        <div class="dinamic-banner-products">
            
            <div class="dinamic-banner-product-block">
                <div class="dinamic-banner-produc-link">
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5640/mandrini.html">
                        Tribloc™
                        <hr class="br-delimiter" />
                        self-centering chucks
                    </a>
                </div>
                <div class="dinamic-banner-produc-description">
                    <img src="{{ url('assets/frontend/public/banners-machine/omap-triblock.png') }}" class="dinamic-banner-produc-image" />
                    <br/>
                    An industrial product manufactured 
                    with craft procedures to provide 
                    the highest perfection and attention 
                    reserved on every single piece.
                    <br/>
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5640/mandrini.html">Details</a> 
                </div>
            </div>
            
            <div class="dinamic-banner-product-block">
                <div class="dinamic-banner-produc-link">
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5643/piattaforme-per-torni.html">
                        Independent
                        <hr class="br-delimiter" />
                        chucks for lathes
                    </a>
                </div>
                <div class="dinamic-banner-produc-description">
                    <img src="{{ url('assets/frontend/public/banners-machine/omap-chucks.png') }}" class="dinamic-banner-produc-image" />
                    <br/>
                    Thanks to the historic collaboration 
                    with "Colombo & Lenna", always 
                    reference brand in the industry, we 
                    offer independent chucks for lathes 
                    of absolute strength, precision and 
                    durability.
                    <br/>
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5643/piattaforme-per-torni.html">Details</a> 
                </div>
            </div>
            
            <div class="dinamic-banner-product-block">
                <div class="dinamic-banner-produc-link">
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5642/trascinatori-frontali-autoforzanti.html">
                        "Autofretting" 
                        <hr class="br-delimiter" />
                        face drivers
                    </a>
                </div>
                <div class="dinamic-banner-produc-description">
                    <img src="{{ url('assets/frontend/public/banners-machine/omap-autofretting.png') }}" class="dinamic-banner-produc-image" />
                    <br/>
                    Our self-enforcing face 
                    drivers are pure technology 
                    and efficiency in the service 
                    of turning and, in general, 
                    of the most renowned engineering
                    companies.
                    <br/>
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5642/trascinatori-frontali-autoforzanti.html">Details</a> 
                </div>
            </div>
            
            <div class="dinamic-banner-product-block last">
                <div class="dinamic-banner-produc-link">
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5641/flange-di-interposizione.html">
                        Flanges 
                        <hr class="br-delimiter" />
                        interposed
                    </a>
                </div>
                <div class="dinamic-banner-produc-description">
                    <img src="{{ url('assets/frontend/public/banners-machine/omap-flangers.png') }}" class="dinamic-banner-produc-image" />
                    <br/>
                    They always complete our range of 
                    self-centring chucks and more. 
                    Flanges with ISO standard connections 
                    and special flanges for every request
                    and requirement.
                    <br/>
                    <a target="_blank" href="http://www.omapsrl.com/en/icatalog/5641/flange-di-interposizione.html">Details</a> 
                </div>
            </div>
            
        </div>
        
        <div class="dinamic-banner-contacts">
            <b>O.M.A.P.</b><br/>
            <i>Officine meccaniche<br/>
            alta precisione Srl</i><br/>
            <b>+39 0437 990044</b><br/>
            omap@gruppodepra.com
        </div>
        
        <img src="{{ url('assets/frontend/img/banner/bottom-shadow.png') }}" class="dinamic-banner-bottom-shadow"/>
    </div> 
    
    <div class="show-banners-button hidden {{ isAuth ? '' : 'notAuthenticatedAction' }}">
        <span class="glyphicon glyphicon-eye-close"></span>&nbsp;
        Show banners
    </div>
    
    <div class="hide-banners-button {{ isAuth ? '' : 'notAuthenticatedAction' }}">
        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
        Hide banners
    </div>
    
    <div class="clear"></div>
</div>