{% extends "admin.base" %}

{% block content %}

    <div class="form-title">Home</div>
    <div>
        <br/>
        <a href="{{ url('admin/companies') }}">
            <b style="text-transform: uppercase; color: #238ab5;">Companies</b>
        </a>:
        {{ adminStatistics.totalUsers }}&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        
        <b>Subscribe</b>:
        {{ adminStatistics.subscribe }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <b>Unsubscribe</b>:
        {{ adminStatistics.unsubscribe }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <b>Active</b>:
        {{ adminStatistics.activeUsers }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <b>Inctive</b>:
        {{ adminStatistics.inactiveUsers }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <b>Highlighted</b>:
        {{ adminStatistics.highlightedUsers }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <br/>
        <br/>
        <br/>
        
        <a href="{{ url('admin/machines') }}">
            <b style="text-transform: uppercase; color: #238ab5;">Machines</b>
        </a>:
        {{ adminStatistics.totalMachines }}&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        
        <b>Active</b>:
        {{ adminStatistics.activeMachines }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <b>Inctive</b>:
        {{ adminStatistics.inactiveMachines }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <b>Highlighted</b>:
        {{ adminStatistics.highlightedMachines }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <br/>
        
    </div>

{% endblock %}