
{% extends "admin.base" %}

{% block content %}

    <div class="form-title">Spells {{subcategory}}</div>
    
    {% if session('successMessage') %}
        <span class="success">{{ session('successMessage') }}</span><br/><br/>
        <a href="{{ url('admin/spells/add') }}" class="submitButton pull-left">Add new</a>
    {% else %}
        {% if form['errors'] %}
            <span class="error" style="color: red; font-weight: bold;">{{ form['errors'].first() }}</span><br/><br/>
        {% endif %}

        {% if userHasPermissions %}

            <label style="cursor: pointer;">
                <input type="checkbox" id="copyforall" checked="checked"/> Copy for all 
            </label>
            <br/>
            <br/>
            <form class="form-spell" 
                    action="{{ url('/admin/spells/add') }}" 
                    method="POST">
                <input type="text" name="cms_name" value="{{ form['cms_name'] }}" placeholder="cms name ..."/>
                <br/>
                <br/>
                {% for lang in languages %}
                    <div class="field language-fields-{{ lang }}">
                        <span class="label">Language: {{ lang }}</span>

                        <textarea class="spell-content 
                                         {{ lang == 'En' ? "lang-content-"~lang : 'other-languages-content' }}" 
                                  heigh="100" 
                                  name="cms_content[{{ lang }}]" 
                                  placeholder="cms content ...">{{ form['cms_content'][lang] }}</textarea>
                    </div>
                {% endfor %}
                <button type="submit" class="submitButton">
                    Create
                </button>
            </form>

        {% else %}
            You have insufficient permissions to access this category
        {% endif %}
    {% endif %}
    
{% endblock %}
        
{% block js %}
    <script>
        var lagCopyForAll = true;
        $('#copyforall').on('change', function(){
            lagCopyForAll = $(this).prop('checked');
        });
        $('.lang-content-En').on('keyup', function(){
            if(lagCopyForAll === true){
                $('.other-languages-content').val($('.lang-content-En').val());
            }
        });
    </script>
{% endblock %}