
{% extends "admin.base" %}

{% block content %}

    <div class="form-title">Spells {{subcategory}}</div>
    
    {% if session('successMessage') %}
        <span class="success">{{ session('successMessage') }}</span><br/><br/>
    {% endif %}
    
    {% if userHasPermissions %}

            <div class="block-spells triple pull-left">
                
                <form class="form-spell" 
                      action="{{ url('/admin/spells/application') }}" 
                      method="POST">
                    <div class="field">
                        <span class="label">Name</span>
                        <input type="name" name="name" value="{{ form.name }}">
                    </div>
                    <div class="field">
                        <span class="label">Phone</span>
                        <input type="text" name="phone" value="{{ form.phone }}">
                    </div>
                    <div class="field">
                        <span class="label">Fax</span>
                        <input type="text" name="fax" value="{{ form.fax }}">
                    </div>
                    <div class="field">
                        <span class="label">Url</span>
                        <input type="text" name="url" value="{{ form.url }}">
                    </div>
                    <div class="field">
                        <span class="label">Email</span>
                        <input type="text" name="email" value="{{ form.email }}">
                    </div>
                    <div class="field">
                        <span class="label">Address</span>
                        <input type="text" name="address" value="{{ form.address }}">
                    </div>
                    
                    <div class="field">
                        <span class="label">Meta description</span>
                        <textarea class="spell-content" name="meta_description">{{ form.meta_description }}</textarea>
                    </div>
                    
                    <div class="field">
                        <span class="label">Meta keywords</span>
                        <textarea class="spell-content" name="meta_keywords">{{ form.meta_description }}</textarea>
                    </div>
                    
                    <button type="submit" class="submitButton small">
                        Update
                    </button>
                </form>

                    
            </div>
            
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
    
{% endblock %}