
{% extends "admin.base" %}

{% block content %}

    <div class="form-title">Spells {{subcategory}}</div>
    
    {% if session('successMessage') %}
        <span class="success">{{ session('successMessage') }}</span><br/><br/>
    {% endif %}
    
    {% if userHasPermissions %}
        <div class="width100">
            {% for laguageName, laguage in spells %}
                <button class="language-button" id="{{ laguageName }}">{{ laguageName }}</button>
            {% endfor %}
        </div>

        {% for laguageName, laguage in spells %}
            <div class="block-spells triple pull-left language-type-{{ laguageName }} hidden">
                <div class="simple-title">{{ laguageName }}</div>
                {% for spell in laguage %}

                    <form class="form-spell {{ loop.index is divisible by(2) ? 'lighter' : '' }}" 
                          action="{{ url('/admin/spells/edit') }}" 
                          method="POST">
                        <div class="field">
                            <span class="label"><i>Id:{{ spell.id }}</i> &nbsp;&nbsp;&nbsp;{{ spell.name }}</span>
                            <input type="hidden" name="cms_id" value="{{ spell.id }}">
                            <input type="hidden" name="cms_name" value="{{ spell.name }}">
                            <input type="hidden" name="language" value="{{ laguageName }}">
                            <textarea class="spell-content" name="cms_content">{{ spell.content }}</textarea>
                        </div>
                        <button type="submit" class="submitButton small">
                            Update
                        </button>
                    </form>

                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
    
{% endblock %}
        
{% block js %}
    <script>
        $('.language-button').on('click', function(){
            var type = this.id;
            $( ".block-spells" ).addClass('hidden');
            $( ".block-spells" ).each(function( index ) {
                var langBlockClass = '.language-type-'+type;
                $(langBlockClass).removeClass('hidden');
            });
        });
    </script>
{% endblock %}