{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Add new company</div>
    
    {% if userHasPermissions %}
        <form action="{{ url('admin/company/add') }}" method="POST" 
              class="fest-add-company-form">

            {% if session('successMessage') %}<span class="success">{{ session('successMessage') }}</span><br/><br/>{% endif %}
            {% if form.errors %}<span class="error">{{ form.errors.first() }}</span><br/>{% endif %}

            <input type="hidden" 
                   name="id"
                   value="{{ form.id }}"/>
            <div class="field">
                <span class="label">Company name</span>
                <input type="text" 
                       name="company_name"
                       value="{{ form.company_name }}"/>
            </div>
            <div class="field">
                <span class="label">Contact person</span>
                <input type="text" 
                       name="name"
                       value="{{ form.name }}"/>
            </div>
            <div class="field">
                <span class="label">Email</span>
                <input type="text" 
                       name="email"
                       value="{{ form.email }}"/>
            </div>
            <div class="field">
                <span class="label">Password</span>
                <input type="text" 
                       name="password"
                       value="{{ form.password }}"/>
            </div>

            <div class="field">
                <span class="label">{{ views['profile.general.form.countries'].content }}</span>
                {% set currentLocations = (form.location ? form.location : userLocations) %}
                <select class="chosen {{ form.errors ? form.errors.first('location') ? 'invalid' : 'valid' : '' }}" 
                        multiple
                        data-placeholder=" " 
                        name="location[]">
                    <optgroup label="">
                        <option value=""></option>
                    </optgroup>
                    {% if form.location %}
                        {% for region in locations.regions %}
                            <optgroup label="{{ region.name }}">
                                {% for country in locations.countries %}
                                    {% if country.region_id == region.id %}
                                        <option value="{{ country.id }}"
                                                userLocations
                                                {% for location in currentLocations %}
                                                    {{ location == country.id ? 'selected' : '' }}
                                                {% endfor %}
                                                >
                                            {{ country.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    {% else %}
                        {% for region in locations.regions %}
                            <optgroup label="{{ region.name }}">
                                {% for country in locations.countries %}
                                    {% if country.region_id == region.id %}
                                        <option value="{{ country.id }}"
                                                {% for location in currentLocations %}
                                                    {{ location.location_id == country.id ? 'selected' : '' }}
                                                {% endfor %}
                                                >
                                            {{ country.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="field">
                <span class="label">Address</span>
                <input type="text" 
                       name="address"
                       value="{{ form.address }}"/>
            </div>
            <div class="field">
                <span class="label">Phone</span>
                <input type="text" 
                       name="phone"
                       value="{{ form.phone }}"/>
            </div>
            <div class="field">
                <span class="label">Website</span>
                <input type="text" 
                       name="website"
                       value="{{ form.website }}"/>
            </div>
            <div class="field">
                <span class="label">Public email</span>
                <input type="text" 
                       name="public_email"
                       value="{{ form.public_email }}"/>
            </div>
            <div class="field">
                <span class="label">Description</span>
                <textarea name="description"/>{{ form.description }}</textarea>
            </div>

            <div class="field">
                <div class="images-uploader-block company-logo">
                    <input type="file" class="hidden logo-image"/>
                    <div class="uploaded-images">
                        <div class="image {{ form.logo > 0 ? 'hidden' : '' }}" id="uploaded-image-template">
                            <div class="mini-image">
                                <div class="image-back">
                                </div>
                            </div>
                            <textarea class="hidden base-64-storage" name="logo[]" disabled></textarea>
                        </div>
                        {% for image in form.logo %}
                            <div class="image uploaded-image">
                                <div class="mini-image">
                                    <div class="image-back"
                                         style="background: url('{{ image }}') center center no-repeat; 
                                                background-size: contain;">
                                    </div>
                                </div>
                                <textarea class="hidden base-64-storage" name="logo[]">{{ image }}</textarea>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="upload-image-button {{ form.logo|length > 2 ? 'hidden' : '' }}">
                        <div class="clicable-zone">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            <b>Upload</b> logo
                        </div>
                        <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/frontend/img/image-loader.gif') }}" /></div>
                    </div>
                </div>
            </div>
            <br/>

            <button type="submit" class="submitButton">Add company</button>
        </form>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}

{% endblock %}

        
{% block js %}
    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/fileService.js') }}"></script>
    <script type="text/javascript">
        $(".chosen").chosen({
            disable_search_threshold: 10
        });
    </script>
{% endblock %}