{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Edit {{ form.company_name }}</div>
    
    {% if userHasPermissions %}
        <input class="clipboard-text" value="null">

        <table width="100%">
            <tr>
                <td width="500px" valign="top">
                    <form action="{{ url('admin/company/edit') }}" method="POST" 
                          class="fest-add-company-form">

                        {% if session('successMessage') %}<span class="success">{{ session('successMessage') }}</span><br/><br/>{% endif %}
                        {% if form.errors %}<span class="error">{{ form.errors.first() }}</span><br/><br/>{% endif %}

                        <input type="hidden" 
                               name="id"
                               value="{{ form.id }}"/>
                        <div class="field">
                            <span class="label">Company name</span>
                            <input type="text" 
                                   name="company_name"
                                   value="{{ form.company_name }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Contact person</span>
                            <input type="text" 
                                   name="name"
                                   value="{{ form.name }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Email</span>
                            <input type="text" 
                                   name="email"
                                   value="{{ form.email }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Password</span>
                            <input type="text" 
                                   name="password"
                                   value="{{ form.password }}"/>
                        </div>

                        <div class="field">
                            <span class="label">{{ views['profile.general.form.countries'].content }}</span>
                            {% set currentLocations = (form.location ? form.location : form.usersLocations) %}
                            <select class="chosen {{ form.errors ? form.errors.first('location') ? 'invalid' : 'valid' : '' }}" 
                                    multiple
                                    data-placeholder=" " 
                                    name="location[]">
                                <optgroup label="">
                                    <option value=""></option>
                                </optgroup>
                                {% if form.location %}
                                    {% for region in locations.regions %}
                                        <optgroup label="{{ region.name }}">
                                            {% for country in locations.countries %}
                                                {% if country.region_id == region.id %}
                                                    <option value="{{ country.id }}"
                                                            userLocations
                                                            {% for location in currentLocations %}
                                                                {{ location == country.id ? 'selected' : '' }}
                                                            {% endfor %}
                                                            >
                                                        {{ country.name }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                {% else %}
                                    {% for region in locations.regions %}
                                        <optgroup label="{{ region.name }}">
                                            {% for country in locations.countries %}
                                                {% if country.region_id == region.id %}
                                                    <option value="{{ country.id }}"
                                                            {% for location in currentLocations %}
                                                                {{ location.location_id == country.id ? 'selected' : '' }}
                                                            {% endfor %}
                                                            >
                                                        {{ country.name }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="field">
                            <span class="label">Address</span>
                            <input type="text" 
                                   name="address"
                                   value="{{ form.address }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Phone</span>
                            <input type="text" 
                                   name="phone"
                                   value="{{ form.phone }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Website</span>
                            <input type="text" 
                                   name="website"
                                   value="{{ form.website }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Public email</span>
                            <input type="text" 
                                   name="public_email"
                                   value="{{ form.public_email }}"/>
                        </div>
                        <div class="field">
                            <span class="label">Description</span>
                            <textarea name="description"/>{{ form.description }}</textarea>
                        </div>

                        <div class="field">
                            <div class="images-uploader-block company-logo">
                                <input type="file" class="hidden logo-image"/>
                                <div class="uploaded-images">
                                    <div class="image {{ form.logo > 0 ? 'hidden' : '' }}" id="uploaded-image-template">
                                        <div class="mini-image">
                                            <div class="image-back">
                                            </div>
                                        </div>
                                        <textarea class="hidden base-64-storage" name="logo[]" disabled></textarea>
                                    </div>
                                    {% for image in form.logo %}
                                        <div class="image uploaded-image">
                                            <div class="mini-image">
                                                <div class="image-back"
                                                     style="background: url('{{ image }}') center center no-repeat; 
                                                            background-size: contain;">
                                                </div>
                                            </div>
                                            <textarea class="hidden base-64-storage" name="logo[]">{{ image }}</textarea>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="upload-image-button {{ form.logo|length > 2 ? 'hidden' : '' }}">
                                    <div class="clicable-zone">
                                        <span class="glyphicon glyphicon-folder-close"></span>
                                        <b>Upload</b> logo
                                    </div>
                                    <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/frontend/img/image-loader.gif') }}" /></div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="submitButton">Update company</button>
                    </form>
                </td>
                <td valign="top" style="padding: 0 0 0 25px;">
                    <div class="form-title">Machines <b style="float: right;">Total: {{ company.machines|length }}</b></div>
                    <div class="board">
                        {% if session('successMessage') %}
                            <span class="success">
                                {{ session('successMessage') }}
                            </span>
                            <br/><br/>
                        {% endif %}
                        <table rules="all"
                               border="1"
                               bordercolor="#e1e1e1"
                               cellpadding="0"
                               width="100%">
                            <tr class="sorting">
                                <td width="50px">Id</td>
                                <td>Name</td>
                                <td width="30px">Highlighted</td>
                                <td width="150px">Last Update</td>
                                <td width="100px">Actions</td>
                            </tr>

                            {% for machine in company.machines %}
                                <tr class="board-detais">
                                    <td class="copy-me name">
                                        <span class="copy-me-text">{{ machine.id }}</span>
                                    </td>
                                    <td class="copy-me email">
                                        <span class="glyphicon glyphicon-duplicate copy-me-btn">
                                            <span class="copy-me-btn-text">COPY</span>
                                        </span>
                                        <a href="{{ url('/admin/machine/edit')~ '/' ~ form.id ~ '/' ~ machine.id }}" 
                                           target="_blank"
                                           class="copy-me-text">{{ machine.name }}</a>
                                    </td>
                                    <td class="copy-me active" width="30px">
                                        <a href="{{ url('/admin/machine/highlight/') ~ '/' ~ (machine.highlighted ? 'deactivate' : 'activate') ~ '/' ~ machine.id }}" 
                                           class="isActiveMachine {{ machine.highlighted ? 'on' : 'off'  }}">{{ machine.highlighted ? 'On' : 'Off'  }}</a>
                                    </td>
                                    <td class="copy-me password">
                                        <span class="copy-me-text">{{ machine.updated_at|date('d-F-Y') }}</span>
                                    </td>
                                    <td class="copy-me password">
                                        <a href="{{ url('/admin/machine/remove')~ '/' ~ form.id ~ '/' ~ machine.id }}"
                                           title="Remove machine"
                                           class="underline-none confirm">
                                            <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                                        </a>
                                        &nbsp;
                                        <a href="{{ url('/admin/machine/') ~ '/' ~ (machine.active ? 'deactivate' : 'activate')~ '/' ~ form.id ~ '/' ~ machine.id }}" 
                                           title="{{ machine.active ? 'Deactivate' : 'Activate' }}">
                                            <span class="glyphicon glyphicon-off {{ machine.active ? 'active ' : '' }}"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            {% if company.machines|length < 1 %}
                                <tr class="board-detais">
                                    <td class="copy-me name" colspan="5">
                                        No machines
                                    </td>
                                </tr>
                            {% endif %}

                        </table>
                    </div>
                    <br/>
                    <div class="clear"></div>
                    <a href="{{ url('/admin/machine/add/') ~ '/' ~ form.id }}" 
                       class="submitButton blue pull-left"
                       target="_blank">
                        Add new machine
                    </a>
                </td>
            </tr>
        </table>

        <div class="clear"><br/></div>

        <table rules="all"
                border="1"
                bordercolor="#e1e1e1"
                cellpadding="0"
                width="100%">
            <tr class="sorting">
                <td width="150px">Date</td>
                <td>Comment</td>
                <td width="1%">Actions</td>
            </tr>
            {% for comment in form.comments %}
                <tr class="board-detais">
                    <td style="color: #aaaaaa;">
                        {{ comment.created_at|date('d-F-Y') }}
                    </td>
                    <td>
                        {{ comment.comment }}
                    </td>
                    <td>
                        <a href="{{ url('/admin/company/comment/remove')~ '/' ~ comment.id }}" title="Remove comment" class="underline-none confirm">
                            <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}

            {% if form.comments|length < 1 %}
                <tr class="board-detais">
                    <td class="copy-me name" colspan="4">
                        No comments
                    </td>
                </tr>
            {% endif %}

        </table>

        <form action="{{ url('/admin/company/comment/add') }}" method="POST" style="width: 100%; max-width: 100%;">

            <input type="hidden" 
                   name="id"
                   value="{{ form.id }}"/>
            <div class="field">
                <textarea placeholder="Add comment ..."
                          name="comment"/></textarea>
            </div>

            <button type="submit" class="submitButton">Add</button>
        </form>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}

{% endblock %}

        
{% block js %}
    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/fileService.js') }}"></script>
    <script type="text/javascript">
        
        $('.copy-me-btn').on('click', function(event){
            var textBlock = $(this).next('.copy-me-text');
            $('.clipboard-text').val($(textBlock).text());
            $('.copy-me-btn-text' ,$(this)).text('COPIED');
            $(this).removeClass('glyphicon-duplicate');
            $(this).addClass('glyphicon-ok');
            $(this).addClass('copied');
            $('.clipboard-text').click();
        });
        
        $('.clipboard-text').on('click', function(event){
            event.target.select();
            document.execCommand('copy');
        });
        
        $(".chosen").chosen({
            disable_search_threshold: 10
        });
    </script>
{% endblock %}