{% extends "admin.base" %}

{% block content %}
    <div class="form-title">Companies search</div>
    
    {% if userHasPermissions %}
        <input class="clipboard-text" value="123123123">

        <form action="{{ url('admin/companies/search') }}" method="GET" 
              style="max-width: 10000px; position: relative;">
            <div class="field" style="width: 70%; float: left; padding-right: 25px;">
                <span class="label">Keywords</span>
                <input type="text" 
                       name="keywords"
                       value="{{ form.keywords }}"/>
            </div>

            <div class="field" style="width: 30%; float: left; padding-right: 220px;">
                <span class="label">Countries</span>
                {% set currentLocations = (form.locations ? form.locations : form.usersLocations) %}
                <select class="chosen {{ form.errors ? form.errors.first('location') ? 'invalid' : 'valid' : '' }}" 
                        multiple
                        data-placeholder=" " 
                        name="locations[]">
                    <optgroup label="">
                        <option value=""></option>
                    </optgroup>
                    {% if currentLocations %}
                        {% for region in locations.regions %}
                            <optgroup label="{{ region.name }}">
                                {% for country in locations.countries %}
                                    {% if country.region_id == region.id %}
                                        <option value="{{ country.id }}"
                                                userLocations
                                                {% for location in currentLocations %}
                                                    {{ location == country.id ? 'selected' : '' }}
                                                {% endfor %}
                                                >
                                            {{ country.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    {% else %}
                        {% for region in locations.regions %}
                            <optgroup label="{{ region.name }}">
                                {% for country in locations.countries %}
                                    {% if country.region_id == region.id %}
                                        <option value="{{ country.id }}"
                                                {% for location in currentLocations %}
                                                    {{ location.location_id == country.id ? 'selected' : '' }}
                                                {% endfor %}
                                                >
                                            {{ country.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div style="width: 16%; float: right; text-align: right;">
                <a href="{{ url('/admin/companies/search/reset') }}" class="resetButton grey pull-left"
                   style="height: 32px; position: absolute; top: 35px; right: 125px; font-weight: bold; text-decoration: none;">
                    &nbsp;&nbsp;Reset&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-refresh" style="color: #555555; font-size: 12px;"></span>&nbsp;
                </a>
                <button type="submit" class="submitButton blue pull-right" 
                        style="height: 32px; position: absolute; top: 35px; right: 15px; font-weight: bold;">
                    &nbsp;&nbsp;Search&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-search" style="color: #ffffff; font-size: 12px;"></span>&nbsp;
                </button>
            </div>
            <div class="clear"></div>
        </form>

        <br/> 

        <div class="board">
            <table rules="all"
                   border="1"
                   bordercolor="#e1e1e1"
                   cellpadding="0"
                   width="100%">
                <tr class="sorting">
                    <td>Name</td>
                    <td>Login/email</td>
                    <td>Password</td>
                    <td>Last Update</td>
                    <td>Last Comment</td>
                    <td width="50px">Highlighted</td>
                    <td width="1">Actions</td>
                </tr>
                {% for user in companies.items %}
                    <tr class="board-detais">
                        <td class="copy-me name">
                            <span class="glyphicon glyphicon-duplicate copy-me-btn">
                                <span class="copy-me-btn-text">COPY</span>
                            </span>
                            <a href="{{ url('admin/company/edit') ~ '/' ~ user.id }}" 
                               target="_blank"
                               class="copy-me-text">{{ user.company_name }}</a>
                        </td>
                        <td class="copy-me email">
                            <span class="glyphicon glyphicon-duplicate copy-me-btn">
                                <span class="copy-me-btn-text">COPY</span>
                            </span>
                            <span class="copy-me-text">{{ user.email }}</span>
                        </td>
                        <td class="copy-me password">
                            <span class="glyphicon glyphicon-duplicate copy-me-btn">
                                <span class="copy-me-btn-text">COPY</span>
                            </span>
                            <span class="copy-me-text">{{ user.password }}</span>
                        </td>
                        <td>{{ user.updated_at }}</td>
                        <td>
                            <span class="copy-me-text">{{ user.last_comment|date('d-F-Y') }}</span>
                        </td>
                        <td width="50px">
                            <a href="{{ url('/admin/company/highlight/') ~ '/' ~ (user.highlighted ? 'deactivate' : 'activate') ~ '/' ~ user.id }}" 
                               class="isActiveMachine {{ user.highlighted ? 'on' : 'off'  }}">{{ user.highlighted ? 'On' : 'Off'  }}</a>
                        </td>
                        <td width="50px" style="white-space: nowrap;">
                            <a href="{{ url('/admin/company/remove') ~ '/' ~ user.id }}"
                               class="remove-company-button"
                               title="Remove company">
                                <span class="glyphicon glyphicon-remove red"></span>
                            </a>&nbsp;
                            {% if user.active %}
                                <a href="{{ url('/admin/company/deactivate') ~ '/' ~ user.id }}"
                                   class="deactivate-company-button"
                                   title="Deactivate company">
                                    <span class="glyphicon glyphicon-off active"></span>
                                </a>&nbsp;
                            {% else %}
                                <a href="{{ url('/admin/company/activate') ~ '/' ~ user.id }}"
                                   class="activate-company-button"
                                   title="Activate company">
                                    <span class="glyphicon glyphicon-off"></span>
                                </a>&nbsp;
                            {% endif %}
                            {% if user.subscribed %}
                                <a href="{{ url('/admin/company/unsubscribe') ~ '/' ~ user.id }}"
                                   class="unsubscribe-company-button"
                                   title="Unsubscribe company from newsletters">
                                    <span class="glyphicon glyphicon-envelope active"></span>
                                </a>&nbsp;
                            {% else %}
                                <a href="{{ url('/admin/company/subscribe') ~ '/' ~ user.id }}"
                                   class="subscribe-company-button"
                                   title="Subscribe company to newsletters">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </a>&nbsp;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="pagination">
            {% set displayingTotalPages = 11 %}
            {% set totalPages = (companies.pagination.total()/companies.pagination.perPage())|round(0, 'ceil') %}
            {% set displayingFirstPage = companies.pagination.currentPage() - 5 > 1 ? companies.pagination.currentPage() - 5 : 1 %}
            {% set displayingLastPage = companies.pagination.currentPage() + 5 < totalPages ? companies.pagination.currentPage() + 5 : totalPages %}
            {% if companies.pagination.currentPage() > 1 %}
                <a href="{{ companies.pagination.url(companies.pagination.currentPage() - 1) }}" class="page" itemprop="pagination">Prev</a>
            {% endif %}
            {% if displayingFirstPage != 1 %}
                <a href="{{ companies.pagination.url(1) }}" class="page">1</a>
                ..
            {% endif %}
            {% for page in displayingFirstPage..displayingLastPage %}
                <a href="{{ companies.pagination.url(page) }}" 
                   class="page {{ companies.pagination.currentPage() == page ? 'active' : '' }}"
                   itemprop="pagination">
                    {{ page }}
                </a>
            {% endfor %}
            {% if companies.pagination.currentPage() + 5 < totalPages and companies.pagination.currentPage() + 5 > 0 %}
                ..
                <a href="{{ companies.pagination.url(companies.pagination.lastPage()) }}" class="page">{{ companies.pagination.lastPage() }}</a>
            {% endif %}
            {% if companies.pagination.currentPage() < totalPages %}
                <a href="{{ companies.pagination.url(companies.pagination.currentPage() + 1) }}" class="page" itemprop="pagination">Next</a>
            {% endif %}
        </div>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}

{% endblock %}

        
{% block js %}
    <script type="text/javascript">
        
        $('.copy-me-btn').on('click', function(event){
            var textBlock = $(this).next('.copy-me-text');
            $('.clipboard-text').val($(textBlock).text());
            $('.copy-me-btn-text' ,$(this)).text('COPIED');
            
            $(this).removeClass('glyphicon-duplicate');
            $(this).addClass('glyphicon-ok');
            $(this).addClass('copied');
            
            $('.clipboard-text').click();
        });
        
        $('.clipboard-text').on('click', function(event){
            event.target.select();
            document.execCommand('copy');
        });
        
        $(".chosen").chosen({
            disable_search_threshold: 10
        });
        
        $('.remove-company-button').on('click', function () {
            return confirm('Are you soure want to REMOVE this company?');
        });
        
        $('.deactivate-company-button').on('click', function () {
            return confirm('Are you soure want to DEACTIVATE this company?');
        });
        
        $('.activate-company-button').on('click', function () {
            return confirm('Are you soure want to ACTIVATE this company?');
        });
        
        $('.subscrive-company-button').on('click', function () {
            return confirm('Are you soure want to SUBSCRIBE this company to newsletters?');
        });
        
        $('.unsubscribe-company-button').on('click', function () {
            return confirm('Are you soure want to UNSUBSCRIBE this company from newsletters?');
        });
    </script>
{% endblock %}