<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link:hover{
                text-decoration: underline;
            }
        </style>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               bgcolor="#f8f8f8"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 100%;
                      text-align: center;
                      background-color: #f8f8f8;">
            <tr>
                <td align="center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <table cellpadding="0" 
                           cellspacing="0" 
                           width="700" 
                           border="0" 
                           rules="none"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;">
                        
                        
                        {# ----- HEADER ----- #}
                        <tr>
                            <td>
                                <img src="{{ message.embed(resources_path~'/assets/frontend/img/mail/recover-header.png') }}" 
                                     width="700"
                                     height="44"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" 
                                       cellspacing="0" 
                                       width="700" 
                                       border="0" 
                                       rules="none"
                                       bgcolor="#777777"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              background: url('{{ message.embed(resources_path~'/assets/frontend/img/mail/confirm-back.png') }}') left top no-repeat #777777;
                                              height: 212px;">
                                    <tr>
                                        <td align="center">
                                            <br/>
                                            <font color="#ffffff" size="5">
                                                <b>
                                                    This email contains your recovery password.
                                                </b>
                                            </font>
                                            <br/><br/>
                                            <p style="padding: 0 45px 0 45px;">
                                                <font color="#ffffff" size="2">
                                                    <i>
                                                        We kindly suggest that you remove the email containing 
                                                        your personal login details right after you receive them 
                                                        or to simply change them in your profile menu because 
                                                        this will increase your account protection.
                                                        <br/><br/>
                                                    </i>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <table cellpadding="25px"
                                       cellspacing="0"
                                       width="700"
                                       border="0"
                                       rules="none"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border: 1px solid #dddddd;">
                                    <tr>
                                        <td align="left">
                                            <font color="#000000" size="4">
                                                Password: {{ user.password }}
                                            </font>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <table cellpadding="25px"
                                       cellspacing="0"
                                       width="700"
                                       border="0"
                                       rules="none"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border: 1px solid #dddddd;">
                                    <tr>
                                        <td align="left"
                                            width="99%">
                                            <font size="2" color="#777777">
                                                Learn more about us 
                                                <a href="{{ url('/') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    {{ app.name }}
                                                </a>
                                                <br/>
                                                If this email is unsolicited, please 
                                                <a href="{{ url('/contacts') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    click here 
                                                </a>
                                                to 
                                                <a href="{{ url('/contacts') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    unsubscribe.  
                                                </a>
                                                <br/>
                                                <br/>
                                            </font>
                                            <font size="2" color="#cccccc">
                                                Copyright &copy; {{ "now"|date("Y") }} {{ app.name }}. All rights reserved.
                                            </font>
                                        </td>
                                        <td align="center"
                                            width="1%">
                                            <a href="{{ url('/') }}">
                                                <img src="{{ message.embed(resources_path~'/assets/frontend/img/logo-grey.png') }}" 
                                                     width="96"
                                                     height="31"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>