<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link:hover{
                text-decoration: underline;
            }
        </style>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               bgcolor="#f8f8f8"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 100%;
                      text-align: center;
                      background-color: #f8f8f8;">
            <tr>
                <td align="center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <table cellpadding="0" 
                           cellspacing="0" 
                           width="700" 
                           border="0" 
                           rules="none"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;">
                        
                        
                        {# ----- HEADER ----- #}
                        <tr>
                            <td>
                                <img src="{{ message.embed(resources_path~'/assets/frontend/img/mail/confirm-header.png') }}" 
                                     width="700"
                                     height="44"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" 
                                       cellspacing="0" 
                                       width="700" 
                                       border="0" 
                                       rules="none"
                                       bgcolor="#777777"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              background: url('{{ message.embed(resources_path~'/assets/frontend/img/mail/confirm-back.png') }}') left top no-repeat #777777;
                                              height: 212px;">
                                    <tr>
                                        <td align="center">
                                            <br/>
                                            <font color="#ffffff" size="5">
                                                <b>
                                                    Successufully Registered
                                                </b>
                                            </font>
                                            <p>
                                                <font color="#ffffff" size="3">
                                                    <b>To get access to your account please click on the Confirm button!</b>
                                                </font>
                                            </p>
                                            <p>
                                                <br/>
                                                <a href="{{ url('/auth/verification') ~ '?key=' ~ form.verificationKey ~ '&email=' ~ form.email }}">
                                                    <img src="{{ message.embed(resources_path~'/assets/frontend/img/mail/confirm-button.png') }}" 
                                                         width="158"
                                                         height="43"/>
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <table cellpadding="25px"
                                       cellspacing="0"
                                       width="700"
                                       border="0"
                                       rules="none"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border: 1px solid #dddddd;">
                                    <tr>
                                        <td align="left">
                                            Dear {{ form.company_name }},
                                            <br/>
                                            <br/>
                                            You are successufully registered! <br/>
                                            
                                            To get access to your account and start posting please 
                                            <a class="ironboard-link" style="color: #00b4ff; text-decoration: none;" 
                                               href="{{ url('/auth/verification') ~ '?key=' ~ form.verificationKey ~ '&email=' ~ form.email }}">
                                                confirm 
                                            </a>
                                            this email by 
                                            <a class="ironboard-link" style="color: #00b4ff; text-decoration: none;" 
                                               href="{{ url('/auth/verification') ~ '?key=' ~ form.verificationKey ~ '&email=' ~ form.email }}">
                                                clicking
                                            </a>
                                            the Confirm button!
                                            <br/>
                                            <br/>
                                            <a href="{{ url('/auth/verification') ~ '?key=' ~ form.verificationKey ~ '&email=' ~ form.email }}"
                                               class="ironboard-link"
                                               style="background-color: #00b4ff;
                                                      display: inline-block;
                                                      color: #ffffff;
                                                      font-weight: bold;
                                                      font-size: 13px;
                                                      border-radius: 5px 5px 5px 5px;
                                                      -moz-border-radius: 5px 5px 5px 5px;
                                                      -webkit-border-radius: 5px 5px 5px 5px;
                                                      border: 0px solid #000000;
                                                      text-decoration: none;">
                                                <table cellpadding="10px"
                                                       cellspacing="0"
                                                       width="300px"
                                                       border="0"
                                                       rules="none"
                                                       style="font-family: Arial, Helvetica, sans-serif;
                                                              font-size: 14px;
                                                              width:300px;
                                                              margin: 0 auto;">
                                                    <tr>
                                                        <td align="center">
                                                            <font color="#ffffff" size="3">
                                                                Click here to confirm registration!
                                                            </font>
                                                        </td>
                                                    </tr>
                                                </table>
                                                
                                            </a>
                                            <br/>
                                            <br/>
                                            <hr size="1" noshade color="#dddddd"/>
                                            <br/>
                                            <a class="ironboard-link" style="color: #00b4ff; text-decoration: none;" 
                                               href="{{ url('/auth/verification') ~ '?key=' ~ form.verificationKey ~ '&email=' ~ form.email }}">
                                                {{ url('/auth/verification') ~ '?key=' ~ form.verificationKey ~ '&email=' ~ form.email  }}
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <table cellpadding="25px"
                                       cellspacing="0"
                                       width="700"
                                       border="0"
                                       rules="none"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border: 1px solid #dddddd;">
                                    <tr>
                                        <td align="left"
                                            width="99%">
                                            <font size="2" color="#777777">
                                                Learn more about us 
                                                <a href="{{ url('/') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    {{ app.name }}
                                                </a>
                                                <br/>
                                                If this email is unsolicited, please 
                                                <a href="{{ url('/contacts') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    click here 
                                                </a>
                                                to 
                                                <a href="{{ url('/contacts') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    unsubscribe.  
                                                </a>
                                                <br/>
                                                <br/>
                                            </font>
                                            <font size="2" color="#cccccc">
                                                Copyright &copy; {{ "now"|date("Y") }} {{ app.name }}. All rights reserved.
                                            </font>
                                        </td>
                                        <td align="center"
                                            width="1%">
                                            <a href="{{ url('/') }}">
                                                <img src="{{ message.embed(resources_path~'/assets/frontend/img/logo-grey.png') }}" 
                                                     width="96"
                                                     height="31"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>