{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Edit {{ rank.name }}</div>
    
    {% if userHasPermissions %}
        <form action="{{ url('/admin/users/rank/edit') }}" 
              method="POST">

            {% if form.errors %}
                <span class="error">{{ form.errors.first() }}</span>
                <br/><br/>
            {% endif %}

            <div class="field">
                <span class="label">Rank name</span>
                <input type="hidden" 
                       name="id"
                       value="{{ form.id }}"/>
                <input type="text" 
                       name="name"
                       value="{{ form.name }}"/>
            </div>

            <div class="field">
                <span class="label">Permissions</span>
                <hr style="border-color: #ccc;"/>
            </div>
            <br/>

            {% set typeUsers      = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_USERS') %}
            {% set typeMachines   = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_MACHINES') %}
            {% set typeCompanies  = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_COMPANIES') %}
            {% set typeSpells     = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_SPELLS') %}
            {% set typeMailer     = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_MAILER') %}
            {% set typeRank       = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_RANK') %}

            {% set actionSearch   = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_ACTION_SEARCH') %}
            {% set actionAdd      = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_ACTION_ADD') %}
            {% set actionEdit     = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_ACTION_EDIT') %}
            
            <table class="field checkboxes">
                {% for category, permission in form.permissions %}
                    <tr>
                        <td class="category title">
                            {{ category }}
                        </td>
                        <td>|&nbsp;&nbsp;
                            {% if category == typeMailer %}
                                <label>
                                    <input name="permissions[{{ category }}][{{ actionAdd }}]" 
                                           {{ permission[actionAdd] ? 'checked="checked"' : ''  }}
                                           type="checkbox"/>
                                    SEND
                                </label>
                            {% elseif category == typeSpells %}
                                <label>
                                    <input name="permissions[{{ category }}][{{ actionEdit }}]" 
                                           {{ permission[actionEdit] ? 'checked="checked"' : ''  }}
                                           type="checkbox"/>
                                    UPDATE
                                </label>
                            {% else %}
                                {% for actionName, isPermited in permission %}
                                    <label>
                                        <input name="permissions[{{ category }}][{{ actionName }}]" 
                                               {{ isPermited ? 'checked="checked"' : ''  }}
                                               type="checkbox"/>
                                        {{ actionName }}
                                    </label>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                
            </table>


            <div class="clear"></div>

            <br/>

            <button type="submit" class="submitButton">Create</button>
        </form>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
{% endblock %}

        
{% block js %}
{% endblock %}