{% extends "admin.base" %}

{% block content %}

    <div class="form-title">Ranks list</div>

    {% if userHasPermissions %}
        <div class="board">
            <table rules="all"
                   border="1"
                   bordercolor="#e1e1e1"
                   cellpadding="0"
                   width="100%">
                <tr class="sorting">
                    <td>Id</td>
                    <td>Name</td>
                    <td>Permissions</td>
                </tr>

                {% set typeUsers      = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_USERS') %}
                {% set typeMachines   = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_MACHINES') %}
                {% set typeCompanies  = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_COMPANIES') %}
                {% set typeSpells     = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_SPELLS') %}
                {% set typeMailer     = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_MAILER') %}
                {% set typeRank       = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_TYPE_RANK') %}

                {% set actionSearch   = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_ACTION_SEARCH') %}
                {% set actionAdd      = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_ACTION_ADD') %}
                {% set actionEdit     = constant('App\\Services\\Admin\\AdminPermissionsManager::PERMISSION_ACTION_EDIT') %}
                
                {% for rank in ranks %}
                    <tr class="board-detais">
                        <td width="1">{{ rank.id }}</td>
                        <td width="1">
                            <a href="{{ url('admin/users/rank/edit') ~ '/' ~ rank.id }}"
                               class="copy-me-text">{{ rank.name }}</a>
                        </td>
                        <td>
                            {% for type, category in rank.permissions %}
                                <span class="permission-on-search">
                                    <b>{{ type }}</b> |
                                    {% if type == typeMailer %}
                                        <span class="permission-on-search-action">
                                            SEND
                                            <span class="{{ category[actionAdd] ? 'green' : 'grey' }}">
                                                {{ category[actionAdd] ? 'ON' : 'OFF' }}
                                            </span>
                                        </span><br/>
                                    {% elseif type == typeSpells %}
                                        <span class="permission-on-search-action">
                                            UPDATE
                                            <span class="{{ category[actionEdit] ? 'green' : 'grey' }}">
                                                {{ category[actionEdit] ? 'ON' : 'OFF' }}
                                            </span>
                                        </span><br/>
                                    {% else %}
                                        {% for action, permission in category %}
                                            <span class="permission-on-search-action">
                                                {{ action }} 
                                                <span class="{{ permission ? 'green' : 'grey' }}">
                                                    {{ permission ? 'ON' : 'OFF' }}
                                                </span>
                                            </span>
                                        {% endfor %}<br/>
                                    {% endif %}
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}


{% endblock %}


{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
