@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700|Open+Sans:400,700);
body,
body *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: none;
    color: #555555;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    outline: none;
}
body{
    background: #ffffff;
}
body.loged{
    padding-left: 180px;
}
.menu{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 180px;
    overflow: hidden;
    overflow-y: auto;
    background: #e1e1e1;
    border-right: 1px solid #cccccc;
    padding-bottom: 25px;
}
.menu ul, .menu li, .menu a{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}
.menu a{
    padding: 10px;
    border-bottom: 1px dashed #cccccc;
    font-weight: bold;
    color: #555555;
    text-decoration: none;
    transition:         .2s linear;
    -moz-transition:    .2s linear;
    -ms-transition:     .2s linear;
    -o-transition:      .2s linear;
    -webkit-transition: .2s linear;
}
.menu a:hover,
.menu a.active{
    background: #d1d1d1;
    color: #333333;
    border-left: 9px solid #333333;
}
.menu ul li a.active + ul li a{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #333333;
    border-left: 9px solid #333333;
    padding-left: 15px;
    background: url('../img/menu-arrow.png') -7px 10px no-repeat #eeeeee;
}
.menu ul li a.active + ul li a:hover,
.menu ul li a.active + ul li a.active{
    padding-left: 25px;
    color: #000000;
    background: url('../img/menu-arrow.png') 2px 10px no-repeat #ffffff;
}
.content{
    display: block;
    padding: 25px;
}
.form-title{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
form{
    border: 1px solid #e1e1e1;
    max-width: 500px;
    padding: 15px;
    background: #f8f8f8;
}
form input,
form textarea,
select{
    padding: 5px 9px 5px 9px;
    margin-bottom: 9px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    font-size: 14px;
}
.login-form{
    width: 250px;
    margin: 0 auto;
}
span.label{
    font-size: 12px;
    color: #555555;
}
.submitButton{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #aaaaaa;
    color: #000000;
    font-size: 14px;
    padding: 4px 7px 4px 7px;
    cursor: pointer;
    text-decoration: none;
}
.submitButton:hover{
    text-decoration: none;
}
.submitButton.blue{
    background: rgba(96,199,240,1);
    color: #ffffff;
    border: 0;
}
.submitButton.small{
    font-size: 12px;
    padding: 3px 5px 3px 5px;
}
.resetButton{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #e1e1e1;
    border: 1px solid #bbbbbb;
    color: #000000;
    font-size: 14px;
    padding: 4px 7px 4px 7px;
    cursor: pointer;
    text-decoration: none;
    color: #555555;
}
tr.sorting{
    background: #555555;
}
.sorting td{
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    color: #cccccc;
}
.board-detais:hover > td{
    background: #fafafa;
    border-bottom-color: #aaaaaa;
}
.board-detais td{
    padding: 5px 10px 5px 10px;
    background: #ffffff;
}
.success{
    color: green;
}
.clipboard-text{
    position: absolute;
    left: 150px;
    top: 0;
    width: 500px;
    height: 0;
    border: 0;
    overflow: hidden;
}
.copy-me{
    position: relative;
}
.board-detais td:hover{
    background: #f1f1f1;
}
.copy-me-btn{
    padding: 0;
    margin: 0;
    border: 1px solid #e1e1e1;
    width: 60px;
    text-align: left;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background: #fff;
    color: #aaaaaa;
}
.copy-me-btn-text{
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 0;
    margin: 1px 0 0 4px;
    position: absolute;
    font-size: 11px;
    color: #aaaaaa;
}
.board-detais .copy-me-btn:hover,
.board-detais .copy-me-btn:hover .copy-me-btn-text{
    color: #555555;
}
.board-detais .copy-me-btn.copied,
.board-detais .copy-me-btn.copied .copy-me-btn-text{
    background: #84c46a;
    color: #ffffff;
    border: 0;
}
a{
    color: #2da2cc;
}
.board-detais .copy-me-btn.copied{
    width: 70px;
}
.board-detais td.name a{
    font-weight: bold;
}
.board-detais td.email .copy-me-text{
    color: #809c9a;
}
.board-detais td.password .copy-me-text{
    color: #c99700;
}
.logo-on-menu{
    width: 102%;
    height: 50px;
    background: url('../img/logo.png') 12px 10px no-repeat;
    border-bottom: 1px solid #bbbbbb;
}
textarea{
    min-height: 200px;
}
textarea.spell-content{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    max-height: 32px;
    min-height: 0;
}
textarea.spell-content:active,
textarea.spell-content:focus{
    text-align: left;
    max-height: 1000px;
    min-height: 100px;
}
.quadruple{
    width: 25%;
}
.block-spells{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 25px 0 0;
}
.simple-title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    border: 1px dashed #aaaaaa;
    padding: 10px 10px 10px 15px;
    margin-bottom: 25px;
}
.form-spell{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100000px;
    margin-bottom: 25px;
    position: relative;
}
.form-spell.lighter{
    background: #f8f8f8;
    border-color: #f8f8f8;
}
.form-spell .submitButton.small{
    position: absolute;
    right: -4px;
    top: -4px;
    background: #e1e1e1;
    border: 3px solid #ffffff;
}
.form-spell.lighter .submitButton.small{
    background: #f8f8f8;
}
.form-spell .submitButton.small:hover{
    background: rgba(96,199,240,1);
    color: #ffffff;
}
.admin-details{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 25px 0 0;
}
.admin-details-name{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
form .checkbox input[type=checkbox]{
    width: auto;
}
form span.error{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #dfb0b0;
    background: #f3e5e5;
    color: #972929;
}
.uploaded-image{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    background: #ffffff;
    margin-bottom: 15px;
}
.uploaded-image .image-back{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}
.upload-image-button .clicable-zone{
    display: inline-block;
    border: 1px dashed #aaaaaa;
    padding: 8px 15px;
    cursor: pointer;
}
.pagination{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pagination a{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #e1e1e1;
    padding: 0 5px 0 5px;
}
.pagination a.active{
    background: #f8f8f8;
    color: #888888;
}
.isActiveMachine{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #e1e1e1;
    padding: 0 3px 0 3px;
    font-size: 10px;
}
.isActiveMachine.on{
    border: 1px solid #73a20d;
    background: #f0ffd1;
}
.isActiveMachine.off{
    border: 1px solid #d95f71;
    background: #ffebee;
    color: #d95f71;
}
.machine-owner-link{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #bbbbbb;
    font-style: italic;
    font-weight: lighter;
}
.double{
    width: 50%;
}
.double.pull-left{
    padding-right: 7px;
}
.double.pull-right{
    padding-left: 7px;
}
.clear{
    clear: both;
}
.add-machine-form .image.uploaded-image{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.333333222%;
    float: left;
    padding:15px;
    margin: 0;
    position: relative;
}
.image-description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 23px;
    width: 23px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 1px solid #cccccc;
    background: rgba(255,255,255,0.8);
    padding: 3px 0 0 3px;
    font-size: 10px;
    cursor: pointer;
}
.red{
    color: #c22525;
}
.glyphicon-off{
    color: #cccccc;
}
.glyphicon-off.active{
    color: #97b715;
}
.sign{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #cccccc;
}
.triple{
    width: 33.33333333%;
}
.language-button{
    padding: 5px 15px;
    border: 1px solid #cccccc;
    background: #f8f8f8;
    color: #777777;
}
.language-button.active{
    background: #cccccc;
    color: #ffffff;
}
.width100{
    width: 100%;
    padding-bottom: 15px;
}
.chosen-container{
    margin-bottom: 10px;
    font-size: 14px;
}
.chosen-container-multi .chosen-choices{
    border: 1px solid #bbbbbb;
    background: #ffffff;
    padding: 1px 2px 2px 2px;
}
.chosen-container-active .chosen-choices{
    outline: none;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    border: 1px solid #bbbbbb;
    background: #ffffff;
}
.glyphicon.glyphicon-envelope{
    color: #cccccc;
}
.glyphicon.glyphicon-envelope.active{
    color: #238ab5;
}
.field label.checkblock,
.field label.checkblock *{
    white-space: nowrap;
    text-align: left;
    width: auto;
    cursor: pointer;
}
form .field.checkboxes label{
    display: inline; 
    width: auto;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 17px 0 0;
    padding: 1px 8px 0px 4px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}
form .field.checkboxes label:hover{
    background: #ffffff;
    color: #000000;
    border-color: #888888;
}
form .field.checkboxes label input[type='checkbox']{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 0 0 0;
    margin: 0 7px 0 0;
    position: relative;
    bottom: -2px;
}
form .field.checkboxes .category.title{
    font-size: 12px;
    font-weight: bold;
    color: #386e77;
}
form .field.checkboxes td{
    padding: 0 0px 15px 8px;
}
form .field.checkboxes tr:hover td:first-child{
    color: #d13030;
}
.permission-on-search-action{
    display: inline-block;
    border: 1px solid #dddddd;
    background: #f8f8f8;
    padding: 0 10px 0 5px;
    margin-right: 4px;
    min-width: 90px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
.permission-on-search-action:hover{
    background: #ffffff;
    color: black;
    border: 1px solid #aaa;
}
.permission-on-search b{
    display: inline-table;
    width: 100px;
}
.permission-on-search{
    display: block;
    font-size: 12px;
    padding: 4px 7px 4px 7px;
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
}
.permission-on-search:hover{
    background: #e1e1e1;
}
.permission-on-search .gey{
    color: #cccccc;
}
.permission-on-search .green{
    color: #529100;
    font-weight: bold;
}
.found-companies-list{
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff;
    border: 1px solid #cccccc;
    max-height: 200px;
    overflow-y: auto;
}
.found-companies-list.active{
    display: block;
}
.found-company-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #555555;
    border-bottom: 1px solid #e1e1e1;
    padding: 8px 15px;
}
.found-company-block:hover{
    background: #f8f8f8;
    color: #000;
    cursor: pointer;
}
.searching-wait-text,
.shearching-progress-not-found,
.type-to-search{
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 15px;
    color: #aaa;
    font-weight: bold;
}
.searching-wait-text.active,
.shearching-progress-not-found.active,
.type-to-search{
    display: block;
}