<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link:hover,
            a.ironboard-link-small:hover{
                text-decoration: underline;
                color: #0a5594;
            }
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link-small{
                color: #777777;
                font-size: 12px;
                text-decoration: none;
            }
            a.ironboard-link-board{
                color: #0c9ad5;
            }
            a.ironboard-link-board-highlighted{
                color: #0a5594;
            }
        </style>
        <br/>
        <br/>
        <table cellpadding="0" 
               cellspacing="0" 
               width="700" 
               border="0" 
               rules="none"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 700px;">

            <tr>
                <td>

                    <table cellpadding="0"
                           cellspacing="0"
                           width="100%"
                           border="0"
                           rules="none">
                        <tr>
                            <td>
                                {{ form.message|nl2br|raw }}
                            </td>
                        </tr>
                    </table>

                    <br/>
                    <br/>
                    <br/>

                    <table cellpadding="0"
                           cellspacing="0"
                           width="700"
                           border="1"
                           rules="all"
                           bgcolor="#ffffff"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;
                                  border-collapse: collapse; 
                                  border: 1px solid #e1e1e1;">
                        <tr>
                            <td align="left"
                                width="99%"
                                style="border-color: transparent;">
                                <font size="2" color="#777777">
                                    Learn more about us 
                                    <a href="{{ url('/') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                        {{ app.name }}
                                    </a>
                                    <br/>
                                    If this email is unsolicited, please 
                                    <a href="{{ url('/contacts') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                        click here 
                                    </a>
                                    to 
                                    <a href="{{ url('/contacts') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                        unsubscribe.  
                                    </a>
                                    <br/>
                                    <br/>
                                </font>
                                <font size="2" color="#cccccc">
                                    Copyright &copy; {{ "now"|date("Y") }} {{ app.name }}. All rights reserved.
                                </font>
                            </td>
                            <td align="center"
                                width="1%"
                                valign="top"
                                style="border-color: transparent; vertical-align: top;">
                                <a href="{{ url('/') }}">
                                    <img src="{{ message.embed(resources_path~'/assets/frontend/img/logo-grey.png') }}" 
                                         width="96"
                                         height="31"/>
                                </a>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
                                                     
                                                     
                                                     
    </body>
</html>