{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['about.us.title'].content|raw }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        Unsubscribe from newsletters
    </span>
{% endblock %}

{% block content %}

    <div class="form-title">Unsubscribe from newsletters</div>
    <p class="info-block">
        You have successfully unsubscribed from our newsletter.
    </p>
    
{% endblock %}

