{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['about.us.title'].content|raw }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        {{ views['about.us.title'].content|raw }}
    </span>
{% endblock %}

{% block content %}

    <div class="form-title" itemprop="name">{{ views['about.us.title'].content }}</div>
    <p class="info-block" itemprop="description">
        {{ views['about.us.info'].content|raw }}
    </p>
    
{% endblock %}

