{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Adds advertising{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        Adds advertising
    </span>
{% endblock %}

{% block content %}

    <div class="form-title" itemprop="name">Adds advertising</div>
    <p class="info-block" itemprop="description">
        Our marketing team members will investigate
        your buying audience needs, its primary location and then target it via the right
        advertising strategy.
        <br/><br/>
        We shall create the appropriate marketing content by using the information that
        you provided on your products and then inject it in the right selling online
        platforms where people and companies in this industry meet.
        <br/><br/>
        If you already tried placing you adds yourself you might already know how time
        consuming and frustrating it is, especially when we are talking about large
        numbers of product and the websites on which you are trying to post your
        machines are not helping.
        <br/><br/>
        For that reason, and not only, we have very reliable, persistent, patient and
        intelligent marketers who will save your time and energy by advertising your
        products on the websites of your interest.
        <br/><br/>
        Each advertising strategy as well as the price for its implementation will be
        discussed and created individually.
        <br/><br/>
        If you want us to promote your machines efficiently on the industry’s most
        relevant advertising platforms please call us directly at +37379177707 or write
        to us at <a href="{{ url('contacts') }}">info@ibmachine.com</a>.
    </p>
    
{% endblock %}

