{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Banner advertising{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        Banner advertising
    </span>
{% endblock %}

{% block content %}

    <div class="form-title" itemprop="name">Banner advertising</div>
    <p class="info-block" itemprop="description">
        
        This service basically means that a visitor to Iron BOARD website will
        click on your banner ad which will redirect him to your website. This way
        your banner ad will bring you a visitor you would not have had otherwise.
        <br/><br/>
        Even if the visitor only peripherally picks up on the ad he is still made
        aware of your product or service.
        <br/>
        We are regularly receiving our newsletters so
        your banner ad will gain constant exposure between the top companies
        in the industry.
        <br/><br/>
        Good advertising from Iron Board means that our professional designers
        not only bring their programming skills to your banner ad creation, but
        also their creativity and extensive marketing experience. They work to
        match a banner ad campaign with your product or service, and to make
        innovative, attention-getting graphic content.
        <br/><br/>
        We are also flexible with fees: You can get a professional banner ad for
        <b>$50/week</b> or you can spend upwards of <b>$300</b>, depending on where you
        wish to place your banner.
        <br/>
        Whichever your choice, we will create an advertising arrangement that
        meets your needs and fits your budget.
        <br/><br/>
        If you wish to place a banned ad with Iron BOARD please call us directly
        for free advice at +37379177707 or write to us at <a href="{{ url('contacts') }}">info@ibmachine.com</a>.
        
    </p>
    
{% endblock %}

