{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['contacts.title'].content }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ app.address|raw }}">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        {{ views['contacts.title'].content }}
    </span>
{% endblock %}

{% block content %}
    
        <div class="register-in">
            {% if session('growlSuccess') %}
                <div class="form-title">{{ views['contacts.title'].content }}</div>
                <div class="info-block text-center">
                    {{ session('growlSuccess') }}
                </div>
            {% else %}
                <div class="double left">
                    <div class="form-title">{{ views['contacts.form.title'].content }}</div>
                    <form class="with-tabs" method="POST" action="{{ url('contacts') }}" autocomplete="off">
                        {% if form.errors|length > 0 %}<span class="error">{{ form.errors.first() }}</span>{% endif %}
                        <div class="field">
                            <span class="label">{{ views['contacts.form.name'].content }}</span>
                            <input type="text"
                                   autocomplete="off"
                                   name="name"
                                   class="{{ form.errors ? form.errors.first('name') ? 'invalid' : 'valid' : '' }}"
                                   value="{{ form.name }}"/>
                        </div>
                        <div class="clear"></div>
                        <div class="field">
                            <span class="label">{{ views['contacts.form.email'].content }}</span>
                            <input type="text"
                                   autocomplete="off"
                                   name="email"
                                   class="{{ form.errors ? form.errors.first('email') ? 'invalid' : 'valid' : '' }}"
                                   value="{{ form.email }}" />
                        </div>
                        <div class="field">
                            <span class="label">{{ views['contacts.form.subject'].content }}</span>
                            <input type="text" 
                                   autocomplete="off"
                                   name="subject"
                                   class="{{ form.errors ? form.errors.first('subject') ? 'invalid' : 'valid' : '' }}"
                                   value="{{ form.subject }}" />
                        </div>
                        <div class="field">
                            <span class="label">{{ views['contacts.form.message'].content }}</span>
                            <textarea name="message"
                                      class="{{ form.errors ? form.errors.first('message') ? 'invalid' : 'valid' : '' }}"
                                      >{{ form.message }}</textarea>
                        </div>
                        <div class="field captcha">
                            <input type="text" 
                                   autocomplete="off"
                                   class="{{ form.errors ? form.errors.first('captcha') ? 'invalid' : '' : '' }}"
                                   name="captcha" />
                            <span class="glyphicon glyphicon-refresh resetCaptcha" 
                                  aria-hidden="true"
                                   data-captha="{{url('/captcha')}}"
                                   onClick="captchaService.refrashCaptcha(this);"></span>
                            <div class="captchaImg">
                                <img src="{{ url('captcha') }}">
                            </div>
                        </div>
                        <button type="submit" class="submitButton pull-right">{{ views['contacts.form.button.send'].content }}</button>
                        <div class="clear"></div>
                    </form>
                </div>

                <div class="double right" 
                     itemprop="address">
                    <div class="form-title" itemprop="name">{{ views['contacts.info.title'].content }}</div>
                    <div class="info-block">
                        <b>{{ app.name|raw }}</b>
                        <br/>
                        {{ app.address|raw }}
                        <br/><br/>
                        {{ app.phone|raw }}
                        <br/><br/>
                        {{ app.email|raw }}
                        <br/>
                        {{ app.url|raw }}
                        <br/>
                    </div>
                    
                    <div class="form-title" itemprop="name">Our Team</div>
                    <div class="info-block" style="margin: 0 0 2px 0;">
                        <b>Nadejda Burlaca</b>
                        <br/>
                        <i>CEO</i>
                        <br/>
                        info@ibmachine.com
                    </div>
                    <div class="info-block" style="margin: 0 0 2px 0;">
                        <b>Carolina Albu</b>
                        <br/>
                        <i>Business Development Manager</i>
                        <br/>
                        sales@ibmachine.com
                    </div>
                    <div class="info-block" style="margin: 0 0 2px 0;">
                        <b>Catalina Botnariuc</b>
                        <br/>
                        <i>Responsible Russian Market</i>
                        <br/>
                        sales@ibmachine.com
                    </div>
                    <div class="info-block" style="margin: 0 0 2px 0;">
                        <b>Ludmila Draganel</b>
                        <br/>
                        <i>Responsible Italian Market</i>
                        <br/>
                        sales@ibmachine.com
                    </div>
                    <div class="info-block" style="margin: 0 0 2px 0;">
                        <b>Tudor Corcimar</b>
                        <br/>
                        <i>Head of IT Department</i>
                        <br/>
                        administration@ibmachine.com
                    </div>
                    
                </div>
                
            {% endif %}
        </div>
    
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js?v1') }}"></script>
{% endblock %}


