{% extends 'frontend.base' %}

{% block title %}{{ app.name }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}
        
{% block breadcrumbs %}
    <span class="last">
        {{ views['home.title'].content }}
    </span>
{% endblock %}
            
{% block headerBaner %}
    <div class="home-banner">
        <div class="content-width">
            <br/><br/>
            <h1 class="banner-title">
                <span class="banner-title-description"
                      itemprop="description">
                    {{ views['home.title'].content|raw }}
                </span>
                <br/><br/>
            </h1>
            <div class="short-info hide-on-mobile">
                {{ views['home.title.short.info'].content|raw }}
            </div>
            <br/>
            
            <div class="home-statistics">
                <a class="total-button" href="{{ url('/machine') }}">
                    <div class="right">
                        &nbsp;&nbsp;&nbsp; Machines
                    </div>
                    <div class="left">
                        {{ statistics.machines.total }}
                    </div>
                </a>
                <a class="total-button" href="{{ url('/companies') }}">
                    <div class="right">
                        &nbsp;Companies
                    </div>
                    <div class="left">
                        {{ statistics.companies.total }}
                    </div>
                </a>
            </div>
            <form class="home-search" method="GET" action="{{ url('/machine/search') }}">
                <div class="field">
                    <input type="text" 
                           class="keyword"
                           name="keywords" 
                           placeholder="{{ views['form.field.search'].content }} ..." />
                </div>
                <button type="submit" class="home-search-button"></button>
            </form>
            
            <div class="home-social">
                <a target="_blank" href="https://www.facebook.com/IBmachine/" class="facebook"></a>
                <a target="_blank" href="https://www.linkedin.com/company/iron-board-srl?trk=biz-companies-cym" class="linkedin"></a>
                <a target="_blank" href="https://twitter.com/ibmachine8" class="twitter"></a>
                <a target="_blank" href="https://plus.google.com/100420723927133147044" class="google"></a>
                <a target="_blank" href="https://new.vk.com/ibmachine" class="vk"></a>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block content %}
    <br/>
    <br/>
    <div class="introduction">
        <a class="big-icon post-machine" href="{{ url('/machine') }}">
            {{ views['home.button.find.machines'].content }}
        </a>
        <a class="big-icon profile {{ isAuth ? '' : 'notAuthenticatedAction' }}" href="{{ url('/machine/post') }}">
            {{ views['home.button.post.machine'].content }}
        </a>
        <a class="big-icon companies" href="{{ url('/companies') }}">
            {{ views['home.button.find.companies'].content }}
        </a>
        <a class="big-icon profile-postings" href="{{ url('contacts') }}">
            {{ views['home.button.contact.us'].content }}
        </a>
    </div>
    <p class="moduleInfo">
        {{ views['home.under.search.text'].content|raw }}
    </p>
    <br/>
    <br/>
    {% include 'frontend.machine.board.block' %}
    
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('components/lightbox2/dist/js/lightbox.min.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/home/home.js?v1') }}"></script>
{% endblock %}
