{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Privacy policy{% endblock %}

{% block metaDescription %}
    <meta name="description" 
          content="IB Machine.com is committed to protecting the privacy of its users and strives to provide a safe,secure user experience.">
{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        Privacy policy
    </span>
{% endblock %}

{% block content %}

    <div class="form-title">Privacy policy (last changed on June 25th, 2016)</div>
    <p class="info-block" itemscope itemtype="http://schema.org/Article">
        <b class="terms-title" itemprop="name">Privacy Statement</b>
        IB Machine.com is committed to protecting the privacy of its users and strives to provide a safe,
        secure user experience. The information we provide in this document is designed to help you
        understand how we use your information and the choices you have for protecting it. 
        <br/><br/>
        IB Machine.com collects personal information about you and distributes that information to
        help you connect with other businesses and with similar interests and to provide other services
        to you.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Information we collect and retain</b>
        The rights to access and use of the service are non-exclusive. 
        <br/><br/>
        We collect the personal and demographic information that you choose to provide us. We also
        collect information about how you use our site and the areas of our site that you visit. The
        resulting logs contain information necessary for analyzing the use of our resources,
        beacons.
        <br/><br/>
        troubleshooting problems, and improving services. We reserve the right to use cookies and web
        You do not have to give us any personal information in order to perform job searches or to
        read the content portions of our site. In any case, it is indicated on the web site whether any
        personal or demographic data must be provided to use the requested service or not.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">How Information is Used</b>
        Information you post in public areas of the site or placed in the searchable company’s database
        will be accessed, used, and stored by others around the world. We strive to provide a safe,
        secure environment by attempting to limit access to our database to legitimate users, but
        cannot guarantee that unauthorized parties will not gain access. We also cannot control how
        authorized users store or transfer information downloaded from the database, so you should
        ensure that you do not post sensitive information on our site.
        <br/><br/>
        We use the information we collect about you to deliver the products and services we offer, and
        to operate and improve our service. We may use your information to contact you regarding IB
        Machine.com updates, conduct surveys, or informational and service-related communications,
        including important security updates.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Disclosure of Information to Others</b>
        We share information where legally required. Information collected on our site is stored in
        whole or in part in <b>Italy and may be subject to EU law</b>.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Your Choices about Your Information</b>
        You may review, correct, or delete the personal information you submit to us at any time.
        Simply sign in to your account, go to your account profile, and make the necessary changes. We
        will delete your personal information, but we will retain logs, demographic and statistical
        information about you and keep an archival copy of your information in an anonymized form. If
        your personal information was previously accessed and stored by others using the service, we
        are unable to delete the information from their systems.
        <br/><br/>
        If you change your mind about receiving communications from IB Machine.com, you may
        change your preferences by logging into your account. You may also turn off cookies in your
        browser. This may affect your user experience.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Other sites</b>
        IB Machine.com contains links to other web sites over which we have no control. IB
        Machine.com is not responsible for the privacy policies or practices of other web sites to which
        you choose to link from this site. We encourage you to review the privacy policies of those other
        web sites so you can understand how they collect, use and share your information. 
        <br/><br/>
        We do not control the data use practices of employers or others who may access your
        information through other sites. We encourage you to review the privacy policies and opt-out
        choices of those third parties so you can understand how they collect, use and share your
        information.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Privacy Policy Changes</b>
        IB Machine.com is committed to ensuring the most secure and private operating environment
        for all users of the service. We will post any amendments or revisions of our privacy policy here
        so that you will always know what information we gather, how we might use that information,
        and how we protect you and your organization’s privacy.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">How to Contact Us</b>
        You may contact us for questions or concerns about our privacy practices, via email, our
        website form or via regular mail. Please visit our
        <a href="{{ url('contacts') }}" target="_blank">Contact us page</a>.
        
    </p>
    
{% endblock %}

