{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['services.title'].content }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
       {{ views['services.title'].content }}
    </span>
{% endblock %}

{% block content %}
    
    <p class="moduleInfo" style="max-width: 1100px;">
        {{ views['services.info'].content|raw }}
    </p>
    
    <br/>
    <br/>
    {% if language == 'It' %}
        <div class="text-center">
            <a class="btn white small width100" href="{{ asset('download/IBmachine-Services-It-18.10.2016.pdf') }}" target="_blank">
                Scarica Brochure
                <span style="color: #cccccc;"> | </span>
                <span class="glyphicon glyphicon-download-alt" style="color: #cccccc; margin-top: 0px; font-size: 12px;"></span>
            </a>
        </div>
    {% else %}
        <div class="text-center">
            <a class="btn white small width100" href="{{ asset('download/IBmachine-Services-En-18.10.2016.pdf') }}" target="_blank">
                Download Brochure 
                <span style="color: #cccccc;"> | </span>
                <span class="glyphicon glyphicon-download-alt" style="color: #cccccc; margin-top: 0px; font-size: 12px;"></span>
            </a>
        </div>
    {% endif %}
    <br/>
    <br/>
    <br/>
    
    <div class="content-width">
        {% include 'frontend.home.services' %}
    </div>
    
    <br/>
    <br/>
    
{% endblock %}

