<table class="services">
    <tr>
        <td class="service-title service-name">
            {{ views['services.table.title'].content|raw }}
            
        </td>
        <td class="service-title">
            <span class="only-dektop">
                {{ views['services.table.pakage.title.marketing'].content|raw }}
            </span>
            <span class="only-mobile">
                MA
            </span>
        </td>
        <td class="service-title">
            <span class="only-dektop">
                {{ views['services.table.pakage.title.partner'].content|raw }}
            </span>
            <span class="only-mobile">
                PA
            </span>
        </td>
        <td class="service-title last">
            <span class="only-dektop">
                {{ views['services.table.pakage.title.public'].content|raw }}
            </span>
            <span class="only-mobile">
                PU
            </span>
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.1'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.2'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.3'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.4'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.5'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.6'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last blue">
            <span class="only-dektop">
                {{ views['services.table.special.offer'].content|raw }}
            </span>
            <span class="only-mobile">
                2016!
            </span>
        </td>
    </tr>
    <tr>
        <td class="service-name">
            <span class="glyphicon glyphicon-star yello"></span> 
            {{ views['services.table.service.7'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            <span class="glyphicon glyphicon-star yello"></span> 
            {{ views['services.table.service.8'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.9'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.10'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.11'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td class="blue">
            <span class="only-dektop">
                {{ views['services.table.special.offer'].content|raw }}
            </span>
            <span class="only-mobile">
                2016!
            </span>
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.12'].content|raw }}
        </td>
        <td class="blue">
            <span class="only-dektop">
                {{ views['services.table.special.offer'].content|raw }}
            </span>
            <span class="only-mobile">
                2016!
            </span>
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.13'].content|raw }}
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr>
    <tr>
        <td class="service-name">
            {{ views['services.table.service.14'].content|raw }} 
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/bird.png') }}">
        </td>
        <td>
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
        <td class="last">
            <img src="{{ asset('assets/frontend/img/minus.png') }}">
        </td>
    </tr> 
    {% if language == 'It' %}
        <tr>
            <td class="service-name">
                {{ views['services.table.service.15'].content|raw }} 
            </td>
            <td>
                <img src="{{ asset('assets/frontend/img/bird.png') }}">
            </td>
            <td>
                <img src="{{ asset('assets/frontend/img/minus.png') }}">
            </td>
            <td class="last">
                <img src="{{ asset('assets/frontend/img/minus.png') }}">
            </td>
        </tr>
        <tr>
            <td class="service-name">
                {{ views['services.table.service.16'].content|raw }} 
            </td>
            <td>
                <img src="{{ asset('assets/frontend/img/bird.png') }}">
            </td>
            <td>
                <img src="{{ asset('assets/frontend/img/minus.png') }}">
            </td>
            <td class="last">
                <img src="{{ asset('assets/frontend/img/minus.png') }}">
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="service-name">
            <b>{{ views['services.table.price'].content|raw }}</b>
        </td>
        <td>
            {{ views['services.table.price.marketing'].content|raw }}
        </td>
        <td>
            {{ views['services.table.price.partner'].content|raw }}
        </td>
        <td class="last">
            {{ views['services.table.price.public'].content|raw }}
        </td>
    </tr> 
</table>
