{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Social Promotion{% endblock %}

{% block metaDescription %}<meta name="description" content="By using the relevant keywords and the correct marketing campaign our team will regularly make your products noticeable on the platform and will obtain a large amount of directly interested followers.">{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        Social Promotion
    </span>
{% endblock %}

{% block content %}

    <div class="form-title" itemprop="name">Social Promotion</div>
    <p class="info-block" itemscope itemtype="http://schema.org/Article">
        
        <b class="terms-title" itemprop="name">Promotion on social media</b>
        Social networks are a powerful arena for online marketing. 
        <br/><br/>
        They provide a direct and targeted way to communicate with your potential 
        buyers but the process is lengthy and requires continuous presence on the 
        Social Media Platforms.
        <br/>
        However, with the endless tasks involved in running and improving your 
        business ops, dividing your time between all the available networks can 
        become counterproductive.
        
        This is when our Promotion on social media service becomes really helpful. 
        First consider the advantages of our work input for you on each social
        network by choosing the most relevant one's for you.
        <br/><br/>
        This below list will explain the benefits that you will receive from each 
        major social media channel onto which our team will regularly promote 
        your business.
        <br/>
        For more details and questions on how you can increase your sales via the 
        Promotion on social media service please call us directly at +37379177707 
        or write to 
        <a href="{{ url('/contacts') }}">info@inmachine.com</a>.
        
        <br/><br/>
        <b class="terms-title" itemprop="name">Sounds good. How do we make it work for you?</b>
        
        LinkedIn is an excellent platform for finding relevant company details 
        and the right responsible person for contacting. They search tools are 
        easy to use and the website in itself offers great exposure among the 
        top companies in the field as well as propels your right to the top in 
        the google search via the company name.
        <br/><br/>
        But this is our task. By using the relevant keywords and the correct 
        marketing campaign our team will regularly make your products noticeable
        on the platform and will obtain a large amount of directly interested 
        followers.
        
    </p>
    
{% endblock %}

