{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - Terms & Conditions{% endblock %}

{% block metaDescription %}
    <meta name="description" 
          content="
            If you continue to browse and use this website, you are agreeing to comply with and be bound
            by the following terms and conditions of use, which together with our privacy policy govern IB
            Machine.com’s relationship with you in relation to this website. If you disagree with any part of
            these terms and conditions, please do not use our website.
          ">
{% endblock %}

{% block breadcrumbs %}
    <span class="last">
        Terms & Conditions
    </span>
{% endblock %}

{% block content %}

    <div class="form-title">Terms & Conditions (last changed on June 21th, 2016)</div>
    <p class="info-block" itemscope itemtype="http://schema.org/Article">
        <b class="terms-title" itemprop="name">General</b>
        If you continue to browse and use this website, you are agreeing to comply with and be bound
        by the following terms and conditions of use, which together with our privacy policy govern IB
        Machine.com’s relationship with you in relation to this website. If you disagree with any part of
        these terms and conditions, please do not use our website.
        <br/><br/>
        The below document states the terms and conditions (hereafter &quot;terms&quot;) under which
        individuals and organizations (hereafter &quot;customer&quot;) may use IB Machine.com’s services
        (hereafter &quot;the service&quot;). The purpose of this document is to define the procedures regarding
        access and use of the service. 
        <br/><br/>
        The service is provided through the following website http://ibmachine.com/.
        These terms constitute a binding agreement between the customer and the service provider –
        IB Machine.com, and are deemed accepted by the customer each time that the customer uses
        or accesses the service. If the customer does not accept the terms stated here, he should not
        use the service. 
        <br/><br/>
        IB Machine.com reserves the right to amend the terms at any point in time by posting an
        updated version to this web page. The customer should visit this page periodically to review the
        most current terms because these are binding to the customer.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Accessing the service</b>
        The rights to access and use of the service are non-exclusive. 
        <br/><br/>
        The customer is not allowed to transfer, sell, or assign any rights and obligations to the service
        to any third party. 
        <br/><br/>
        In order to limit the risk of piracy and theft, IB Machine.com reserves the right to limit access to
        parts or whole of the service.
        <br/><br/>
        Access to paid parts of the service is granted only upon receipt of payment from the customer.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Prices and payment</b>
        The prices for using parts or whole of the service are available on the website and can also be
        requested in written form through info@ibmachine.com or via the website’s 
        <a href="{{ url('contacts') }}" target="_blank">Contact form</a>. 
        <br/><br/>
        The prices cannot be subject to change without prior notification via email or via the website.
        New prices can only be applied to an existing customer at the moment of re-subscription or
        prolongation. 
        <br/><br/>
        IB Machine.com bills at the beginning of every renewal period to the bank account or credit
        card indicated during the registration process (or changed after initial registration). Billing takes
        place unless cancellation occurs at least 7 days before the renewal period begins. 
        <br/><br/>
        The customer should indicate any discrepancies in the invoice to IB Machine.com within sixty
        (30) calendar days from the date of issue. Failure to indicate discrepancies within this period,
        shall lead to the payment being considered correct. 
        <br/><br/>
        Customers in any countries of the EU will be exempted from VAT if they can present a valid VAT
        number. Customers within the EU who do not dispose of a valid VAT number will be liable to
        pay VAT on the quoted prices. 
        <br/><br/>
        All payments are to be made in cleared funds, without any deduction or off-set and free and
        clear of and without deduction for or on account of any taxes, levies, imports, duties, charges,
        fees and withholdings of any nature now or hereafter imposed by any governmental, fiscal or
        other authority save as required by law. If a customer is compelled to make any such
        deduction, it will pay to IB Machine.com such additional amounts as are necessary to ensure
        receipt by IB Machine.com of the full amount which IB Machine.com would have received but
        for the deduction.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Registration and password</b>
        Customers are responsible for keeping their login email and password confidential. 
        <br/><br/>
        The customer is solely responsible for the use of the relevant personal codes. 
        <br/><br/>
        In case of any unauthorized use of their registration, the customer will notify IB Machine.com
        immediately.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Customer information on IB Machine.com</b>
        The customer undertakes the responsibility to regularly update the information on the service
        that directly concerns the customer. The customer is solely responsible for the accuracy of the
        information. The customer is entitled to access and rectify any personal information that the
        customer provides to the service as a result of using the service.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Disclaimer of warranty</b>
        IB Machine.com undertakes to do its utmost to ensure that its service is operational 7 days a
        week, 24 hours a day within the limits set out herein. However, IB Machine.com cannot
        guarantee that the website will be available or that the website will run problem free. 
        <br/><br/>
        Customer is solely responsible for usage they make of the service, including the use of the
        information provided by the service. 
        <br/><br/>
        IB Machine.com cannot be held legally responsible, either from an express or tacit obligation or
        any direct or indirect damages caused by usage of the services.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Disclaimer of warranty</b>
        IB Machine.com reserves the right to temporarily interrupt or restrict the use of the service for
        any reason. The customer exonerates IB Machine.com from any liability in the case of the
        service not being operational. 
        <br/><br/>
        IB Machine.com is entitled to amend the characteristics of the service offered to the customers
        under any circumstances and without prior notice. 
        <br/><br/>
        IB Machine.com is not able to guarantee that the service is free from viruses and/or other
        malicious software. It is up to the customer to take any necessary measures in order to protect
        their own data and/or software from being infected by any malicious software downloaded by
        means of the service. 
        <br/><br/>
        Since IB Machine.com collects data from multiple external sources which IB Machine.com does
        not control, IB Machine.com cannot take responsibility for any inaccuracies. 
        <br/><br/>
        IB Machine.com is not responsible for any errors and omissions of information on the service. 
        <br/><br/>
        IB Machine.com cannot check that companies and people are who they claim to be. IB
        Machine.com does not guarantee and is not liable for the contents of the newly acquired
        customers’ information. 
        <br/><br/>
        IB Machine.com is not liable for any transaction entered into between its customers and/ or
        between its customers and a third party. Under no circumstances shall IB Machine.com be a
        party to the contract. 
        <br/><br/>
        IB Machine.com does not guarantee any minimum level of orders, income or results of any
        kind.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Disclaimer of warranty</b>
        IB Machine.com can insert hyperlinks and references to other sites in the service. 
        <br/><br/>
        IB Machine.com cannot control the sites of third parties referred to on the service and is not
        responsible for the contents that appear on the sites of these third parties.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Termination by IB Machine.com</b>
        IB Machine.com can cancel customer’s subscription at any time. This will happen in case a
        customer violates any applicable law or regulation or uses the service to express defamatory,
        obscene, threatening, abusive or hateful language or when they make any inappropriate use of
        the services. 
        <br/><br/>
        In case of a termination, IB Machine.com does not refund the customer under any
        circumstances.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Termination by customer</b>
        Customer can cancel subscription at any point of time, for any reason. In case of a termination,
        IB Machine.com does not refund the customer under any circumstances. There are 2 ways to
        cancel an active subscription: If you created your subscription with PayPal, sign into your PayPal
        account and cancel the subscription in the &quot;My preapproved payments&quot; menu of your profile.
        Or you can request IB Machine.com to cancel your subscription, by sending an e-mail
        to info@ibmachine.com. Make sure to email us 7 days prior to the membership expiration, in
        order to avoid next installment being charged automatically. In case IB Machine.com does not
        receive cancellation request prior to the automatic membership renovation, next installment
        will not be refunded to the customer.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">License</b>
        The customer grants the service worldwide rights to use their details. These rights primarily
        include the rights to adapt the information to be included in the database and to communicate
        the information to the public in any way that the service considers necessary, mainly through
        the internet. 
        <br/><br/>
        Customer explicitly authorizes the service to refer to him as a customer of the service. The
        service may therefore use the name of the customer in advertising or promotional documents
        without the service needing to ask the customer for any authorization or permission.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Contents of the site</b>
        The customer is not allowed to make any copies, reproductions, transmissions etc. of any part
        or whole of the service and the information contained therein without the prior written
        permission of IB Machine.com. 
        <br/><br/>
        IB Machine.com reserves the right to remove offensive, malicious, inaccurate or otherwise
        misleading information published by the customer on the website. 
        <br/><br/>
        The customer is forbidden to enter into competition with the activities of IB Machine.com.
        <br/><br/><br/>
        
        <b class="terms-title" itemprop="name">Settlement of disputes</b>
        The terms and the relationship between IB Machine.com and its customers are governed by <b>EU law</b>.
        <br/><br/>
        Any failure to exercise the rights granted herein does not mean that IB Machine.com waives its
        rights to enforce these rights. 
        <br/><br/>
        Should any dispute arise from this contractual relationship, their parties hereby undertake to
        seek a friendly settlement before going to court.
        <br/><br/>
        Should the parties not reach a friendly settlement, they hereby accept to submit their actions to
        the exclusive jurisdiction of the European Court of Justice (ECJ).
        <br/><br/><br/>
        
        <b>Correspondence</b>
        Any correspondence should be addressed to:
        <br/><br/>
        <b>
            {{ app.name }}<br/>
            {{ app.backofices.address|raw }}
        </b>
        
    </p>
    
{% endblock %}

