{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">{{ form.name ~ ' ' ~ form.surname }} profile</div>
    
    {% if userHasPermissions %}
        <form action="{{ url('/admin/users/add') }}" 
              method="POST">

            {% if form.errors %}
                <span class="error">{{ form.errors.first() }}</span>
                <br/><br/>
            {% endif %}

            <div class="field">
                <span class="label">Name</span>
                <input type="text" 
                       name="name"
                       value="{{ form.name }}"/>
            </div>

            <div class="field">
                <span class="label">Surname</span>
                <input type="text" 
                       name="surname"
                       value="{{ form.surname }}"/>
            </div>

            <div class="field">
                <span class="label">Email</span>
                <input type="text" 
                       name="login"
                       value="{{ form.login }}"/>
            </div>

            <div class="field">
                <span class="label">Password</span>
                <input type="text" 
                       name="password"
                       value="{{ form.password }}"/>
            </div>

            <div class="field">
                <span class="label">Repeat password</span>
                <input type="text" 
                       name="password_confirmation"
                       value="{{ form.rpassword }}"/>
            </div>
        
            <div class="field">
                <span class="label">User rank</span>
                <div>
                    <select class="chosen" 
                            data-placeholder=" " 
                            name="permissions" >
                        <option value="">&nbsp;</option>
                        {% for rank in ranks %}
                            <option value="{{ rank.name }}" {{ rank.name|trim == form.permissions|trim ? 'selected' : '' }}>{{ rank.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clear"></div>

            <br/>

            <button type="submit" class="submitButton">Save</button>
        </form>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
{% endblock %}

        
{% block js %}
{% endblock %}