{% extends "admin.base" %}

{% block content %}

    <div class="form-title">Users</div>

    {% if userHasPermissions %}
        <div class="board">
            <table rules="all"
                   border="1"
                   bordercolor="#e1e1e1"
                   cellpadding="0"
                   width="100%">
                <tr class="sorting">
                    <td>Id</td>
                    <td>Name</td>
                    <td>Rank</td>
                    <td>Login/email</td>
                    <td>Password</td>
                </tr>
                {% for user in users %}
                    <tr class="board-detais">
                        <td width="1">
                            {{ user.id }}
                        </td>
                        <td>
                            <a href="{{ url('admin/users/edit') ~ '/' ~ user.id }}"
                               target="_blank"
                               class="copy-me-text">{{ user.name ~ " " ~ user.surname }}</a>
                        </td>
                        <td class="{{ user.permissions != 'admin' ? '' : 'password' }}">
                            <i class="copy-me-text">{{ user.permissions }}</i>
                        </td>
                        <td>
                            {{ user.permissions != 'admin' ? user.login : '*hidden' }}
                        </td>
                        <td>
                            {{ user.permissions != 'admin' ? user.password : '*hidden' }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}

{% endblock %}


{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
