<div class="modal fade alert-popup {{ identifier }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog {{ authForm ? 'modal-sm' : '' }}" role="document">
        <div class="modal-content">
            <div class="modal-header {{ error ? 'error' : 'alert' }}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign {{ error ? 'error' : 'alert' }}"></span>
                {% if authForm %}
                    {{ message }}
                {% else %}
                    {{ views['alert.confirm.action'].content }}
                {% endif %}
            </div>
            {% if authForm %}
                <div class="modal-body no-paddings">

                    <form class="popup-form" action="{{ url('auth/signin') }}" method="POST">
                        {% if form.error %}<span class="error">{{ form.error }}</span>{% endif %}
                        <div class="clear"></div>
                        <div class="field">
                            <span class="label">{{ views['authentication.form.login'].content }}</span>
                            <input type="text" 
                                   name="email"
                                   value="{{ form.email }}"/>
                        </div>
                        <div class="field">
                            <span class="label">{{ views['authentication.form.password'].content }}</span>
                            <input type="password" name="password" />
                        </div>
                        <div class="pull-left">
                            <a class="small-link" href="{{ url('/auth/register') }}">{{ views['authentication.form.link.register'].content }}</a><br/>
                            <a class="small-link" href="{{ url('/auth/recover') }}">{{ views['authentication.form.link.forgot.password'].content }}</a>
                        </div>
                        <button type="submit" class="submitButton pull-right">{{ views['authentication.form.button.sign.in'].content }}</button>
                        <div class="clear"></div>
                    </form>
                </div>
            {% else %}
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    {% if link %}
                        <a href="{{ link }}" class="pull-right underline-none">
                            <button class="btn blue small">
                                {{ acceptButtonName }}
                            </button>
                        </a>
                    {% endif %}
                    <button class="btn grey small pull-right" data-dismiss="modal" aria-label="Close">
                        {{ views['alert.confirm.button.cancel'].content }}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>