<div class="tablet-nav hidden" 
     itemscope 
     itemtype="http://schema.org/SiteNavigationElement">
    
    <span class="lang">
        <div class="language-menu">
            <a class="lang it {{ language == 'It' ? 'active' : '' }}" href="{{ url('lang/It') }}" itemprop="url"></a>
            <a class="lang en {{ language == 'En' ? 'active' : '' }}" href="{{ url('lang/En') }}" itemprop="url"></a>
            <a class="lang de {{ language == 'De' ? 'active' : '' }}" href="{{ url('lang/De') }}" itemprop="url"></a>
            <a class="lang ru {{ language == 'Ru' ? 'active' : '' }}" href="{{ url('lang/Ru') }}" itemprop="url"></a>
            <a class="lang fr {{ language == 'Fr' ? 'active' : '' }}" href="{{ url('lang/Fr') }}" itemprop="url"></a>
        </div>
    </span> 
    
    <a href="{{ url('/') }}" 
       itemprop="url"
       class="{{ module == 'home' ? 'active' : '' }}">
        {{ views['header.menu.button.home'].content }}
    </a> 
        
    <a href="{{ url('/machine') }}" 
       itemprop="url"
       class="{{ module == 'machine' ? 'active' : '' }}">
        {{ views['header.menu.button.machines'].content }}
    </a>
        
    <a href="{{ url('/machine/post') }}" 
       itemprop="url"
       class="{{ isAuth ? '' : 'notAuthenticatedAction' }}  {{ module == 'postmachine' ? 'active' : '' }}">
        {{ views['header.menu.button.post.machine'].content }}
    </a>
        
    <a href="{{ url('/companies') }}" 
       itemprop="url"
       class="{{ module == 'companies' ? 'active' : '' }}">
        {{ views['header.menu.button.companies'].content }}
    </a>
    {% if isAuth %} 
        <a href="{{ url('/profile') }}" 
           rel="nofollow"
           class="{{ module == 'profile' ? 'active' : '' }}">
            {{ views['header.menu.button.profile'].content }}
        </a>
        <a href="{{ url('/auth/signout') }}"
           rel="nofollow">
            {{ views['header.menu.dropdown.sign.out'].content }}
        </a>
    {% else %}
        
        <a href="{{ url('/auth/register') }}" 
           rel="nofollow"
           class=" {{ module == 'register' ? 'active' : '' }}">
            {{ views['header.menu.button.register'].content }}
        </a>
        
        <a href="{{ url('/auth/signin') }}" 
           rel="nofollow"
           class=" {{ module == 'signin' ? 'active' : '' }}">
            {{ views['header.menu.button.sign.in'].content }}
        </a>
        
        <a href="{{ url('/auth/recover') }}" 
           rel="nofollow"
           class=" {{ module == 'recover' ? 'active' : '' }}">
            {{ views['authentication.form.link.forgot.password'].content }}
        </a>
    {% endif %}
</div>