<div class="modal fade alert-popup save-search-popup-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog {{ authForm ? 'modal-sm' : '' }}" role="document">
        <div class="modal-content">
            
            <div class="modal-header simple">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-search" style="font-weight: bold; font-size: 13px;"></span>&nbsp;&nbsp;
                Save current search
            </div>
            
            <div class="modal-body">
                <div class="popup-form">
                    <div class="clear"></div>
                    <div class="field">
                        <span class="label">Search name</span>
                        <input type="text" 
                               class="save-search-name-input"
                               name="save-search-name"
                               placeholder="Provide some name for current search ..."/>
                    </div>
                    <button class="submitButton pull-right save-search-popup-button">Save</button>
                    <div class="clear"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>