<div class="settings-on-search hide-on-mobile">
    
    <div class="saves-categories">
{#        <div class="saves-button highlight-my">
            Highlight my machines
        </div>#}
        <div class="save-button save-search save-machine-search-button {{ not isAuth ? 'notAuthenticatedAction' : '' }}" 
             id="save-search">
            Save current search
        </div>
        {% if isAuth %}
            <div class="saves-button saved-searches" id="saved-searches">My searches</div>
            <div class="saves-button saved-machines" id="saved-machines">Saved machines</div>
        {% endif %}
        <div class="save-block">
            Total: {{ machines.searchStatistics.total }} | 
            New: {{ machines.searchStatistics.new }} | 
            Used: {{ machines.searchStatistics.used }}
        </div>
    </div>
    
    <div class="saves-list saved-searches hidden">
        <span class="glyphicon glyphicon-remove saves-list-close"></span>
        <div class="title"><span class="glyphicon glyphicon-search"></span>Saved searches</div>
        {% if saves.search and saves.search|length > 0 %}
            <ul>
                {% for search in saves.search %}
                    {% set searchUrl = url() ~ '/' ~ search.filters['save-type'] ~'/search?' %}
                    {% for key, filter in search.filters %}
                        
                        {% if filter is iterable %}
                            {% for itemKey, item in filter %}
                                {% set filterAsItem = '&' ~ key ~ '[]=' ~ item %}
                                {% set searchUrl = searchUrl ~ filterAsItem %}
                            {% endfor %}
                        {% else %}
                            {% if key != 'save-type' %}
                                {% set searchUrl = searchUrl ~ '&' ~ key ~ '=' ~ filter %}
                            {% endif %}
                        {% endif %}
                        
                    {% endfor %}
                    <li>
                        <a href="{{ searchUrl }}">{{ search.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-saves">
                You don't have saved searches ...
            </div>
        {% endif %}
    </div>
    
    <div class="saves-list saved-machines hidden">
        <span class="glyphicon glyphicon-remove saves-list-close"></span>
        <div class="title"><span class="glyphicon glyphicon-wrench"></span>Saved machines</div>
        {% if saves.machines and saves.machines|length > 0 %}
            <ul>
                {% for machine in saves.machines %}
                    <li>
                        <a href="{{ url('machine/view/' ~ machine.id ) }}">
                            {{ machine.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="no-saves">
                You don't have saved machines ...
            </div>
        {% endif %}
    </div>
    
</div>