<ul class="left-side-menu">
    <li>
        <a href="{{ url('profile') }}" class="general {{ leftsidemenu == 'profile.general' ? 'active' : '' }}">
            {{ views['profile.menu.general'].content }}
        </a>
    </li>
    <li>
        <a href="{{ url('profile/postings') }}" class="postings {{ leftsidemenu == 'profile.postings' ? 'active' : '' }}">
            {{ views['profile.menu.postings'].content }}
        </a>
    </li>
    <li>
        <a href="{{ url('profile/uploads') }}" class="uploads {{ leftsidemenu == 'profile.uploads' ? 'active' : '' }}">
            {{ views['profile.menu.uploads'].content }}
        </a>
    </li>
    <li>
        <a href="{{ url('profile/credentials') }}" class="credentials {{ leftsidemenu == 'profile.credentials' ? 'active' : '' }}">
            {{ views['profile.menu.credentials'].content }}
        </a>
    </li>
    <li>
        <a href="{{ url('machine/post') }}" class="post-machine">
            {{ views['profile.menu.post.machine'].content }}
        </a>
    </li>
{#    <li>
        <a href="{{ url('profile/newsletters') }}" class="newsletters {{ leftsidemenu == 'profile.newsletters' ? 'active' : '' }}">
            Newsletters
        </a>
    </li>
    <li>
        <a href="{{ url('profile/resources') }}" class="resources {{ leftsidemenu == 'profile.resources' ? 'active' : '' }}">
            Resources
        </a>
    </li>
    <li>
        <a href="{{ url('profile/settings') }}" class="settings {{ leftsidemenu == 'profile.settings' ? 'active' : '' }}">
            Settings
        </a>
    </li>#}
</ul>