{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['machine.title'].content }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ views['machine.under.board.text'].content }} ">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/machine') }}" 
       class="crumb">
        {{ views['machine.title'].content }}
    </a>
    <span class="last">
        {{ views['machine.search.form.title'].content }}
    </span>
{% endblock %}

{% block content %}
    
{#    {% include 'frontend.machine.banners.view' %}#}
        
    <div class="form-title">{{ views['machine.search.form.title'].content }}</div>
    {% include 'frontend.machine.board.search' %}
    {% include 'frontend.components.savesSearch' %}
    
    <div class="linear-board-block board-by-type active">
        {% include 'frontend.machine.board.linear' %}
    </div>
    <div class="block-board-block  board-by-type">
        {% include 'frontend.machine.board.block' %}
    </div>
    <br/>
    <br/>
    <p class="moduleInfo">
        {{ views['machine.under.board.text'].content }} 
    </p>
    <br/>
    <br/>
    {% include 'frontend.components.saveSearchPopup' %}
    
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('components/lightbox2/dist/js/lightbox.min.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/machine/board.js?v1') }}"></script>
{% endblock %}
