{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ views['post.machine.title'].content }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/machine') }}" 
       class="crumb">
        {{ views['post.machine.breadcrumbs.machine'].content }}
    </a>
    <span class="last">
        {{ views['post.machine.title'].content }}
    </span>
{% endblock %}

{% block content %}
    
    <div class="post-macchine">
        <div class="form-title" >{{ views['post.machine.form.title'].content }}</div>
        <form enctype="multipart/form-data" method="post" style="padding-bottom: 0;">
            {% if form.errors|length > 0 %}<span class="error">{{ form.errors.first() }}</span>{% endif %}
            <div class="field">
                <span class="label">* {{ views['post.machine.form.machine.name'].content }}</span>
                <input type="text" 
                       name="name"
                       class="{{ form.errors ? form.errors.first('name') ? 'invalid' : 'valid' : '' }}"
                       value="{{ form.name }}"/>
            </div>
            <div class="double left">
                <div class="field">
                    <span class="label">* {{ views['post.machine.form.condition'].content }}</span>
                    <select class="chosen {{ form.errors ? form.errors.first('status') ? 'invalid' : 'valid' : '' }}" 
                            data-placeholder=" " 
                            name="status" >
                        <option value=""></option>
                        <option value="2" {{ 2 == form.status ? 'selected' : '' }}>{{ views['post.machine.condition.new'].content }}</option>
                        <option value="1" {{ 1 == form.status ? 'selected' : '' }}>{{ views['post.machine.condition.used'].content }}</option>
                    </select>
                </div>
            </div>
            <div class="double right">
                <div class="field">
                    <span class="label">* {{ views['post.machine.form.type'].content }}</span>
                    <select class="chosen {{ form.errors ? form.errors.first('type') ? 'invalid' : 'valid' : '' }}" 
                            data-placeholder=" " 
                            name="type">
                        <option value=""></option>
                        {% for machineType in machine.types %}
                            <option value="{{ machineType.id }}"
                                    {{  machineType.id == form.type ? 'selected' : '' }}>
                                {{ machineType.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clear"></div>
            <div class="field">
                <span class="label">* {{ views['post.machine.form.description'].content }}</span>
                <textarea class="{{ form.errors ? form.errors.first('description') ? 'invalid' : 'valid' : '' }}" 
                          name="description">{{ form.description }}</textarea>
            </div>
            
            <div class="field">
                <span class="label">{{ views['post.machine.form.upload.image'].content }}</span>
                <div class="images-uploader-block">
                    <input type="file" class="hidden"/>
                    <div class="uploaded-images">
                        <div class="image hidden" id="uploaded-image-template">
                            <div class="mini-image"><div class="image-back"></div></div>
                            <div class="image-description">
                                {{ views['post.machine.form.upload.image'].content|raw }}
                                <span class="glyphicon glyphicon-remove image-remove-button"></span>
                            </div>
                            <textarea class="hidden base-64-storage" name="imageBase64[]" disabled></textarea>
                        </div>
                        {% for image in form.imageBase64 %}
                            <div class="image uploaded-image">
                                <div class="mini-image">
                                    <div class="image-back"
                                         style="background: url('{{ image }}') left top no-repeat; 
                                                background-size: cover;"></div>
                                </div>
                                <div class="image-description">
                                    {{ views['post.machine.form.image.uploaded'].content|raw }}
                                    <span class="glyphicon glyphicon-remove image-remove-button"></span>
                                </div>
                                <textarea class="hidden base-64-storage" name="imageBase64[]">{{ image }}</textarea>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="upload-image-button {{ form.imageBase64|length > 2 ? 'hidden' : '' }}">
                        <div class="clicable-zone">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="glyphicon glyphicon-folder-close"></span>
                            {{ views['post.machine.form.click.to.add.new.image'].content|raw }}
                        </div>
                        <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/frontend/img/image-loader.gif') }}" /></div>
                    </div>
                </div>
            </div>
            <div class="line-grey"></div>
            
            {% set advancedFields = form.currency or form.price or form.other_url %}
            
            <div class="aditional-fields {{ advancedFields ? '' : 'hidden'}}">
                <div class="double left">
                    <div class="field">
                        <span class="label">{{ views['post.machine.form.currency'].content }}</span>
                        <select class="chosen {{ form.errors ? form.errors.first('currency') ? 'invalid' : '' : '' }}" data-placeholder=" " name="currency" >
                            <option value=""></option>
                            <option value="EUR" {{ 'EUR' == form.currency ? 'selected' : '' }}>EUR</option>
                            <option value="USD" {{ 'USD' == form.currency ? 'selected' : '' }}>USD</option>
                        </select>
                    </div>
                </div>
                <div class="double right">
                    <div class="field">
                        <span class="label">{{ views['post.machine.form.price'].content }}</span>
                        <input type="number" name="price" 
                               value="{{ form.price }}"
                               class="{{ form.errors ? form.errors.first('price') ? 'invalid' : '' : '' }}"/>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="field">
                    <span class="label">{{ views['post.machine.form.url'].content }}</span>
                    <input type="text" name="other_url"
                           value="{{ form.other_url }}"
                           class="{{ form.errors ? form.errors.first('other_url') ? 'invalid' : '' : '' }}"/>
                </div>
            </div>
            
            <div class="clear"></div>
            
            <div class="add-more-details-button {{ advancedFields ? 'hidden' : ''}}">
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                {{ views['post.machine.form.more.details'].content|raw }}
            </div>
            
            <div class="line-grey"></div>
            <div class="field captcha">
                <input type="text" 
                       class="{{ form.errors ? form.errors.first('captcha') ? 'invalid' : '' : '' }}"
                       name="captcha" />
                <span class="glyphicon glyphicon-refresh resetCaptcha" 
                      aria-hidden="true"
                       data-captha="{{url('/captcha')}}"
                       onClick="captchaService.refrashCaptcha(this);"></span>
                <div class="captchaImg">
                    <img src="{{ url('captcha') }}">
                </div>
            </div>
            <button type="submit" class="submitButton pull-right">{{ views['post.machine.form.button.post.machine'].content }}</button>
            <div class="clear"></div>
        </form>
                
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/captchaService.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/fileService.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/machine/post.js?v1') }}"></script>
{% endblock %}