{% extends 'frontend.base' %}

{% block title %}{{ app.name }} - {{ post.name }}{% endblock %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block metaDescription %}<meta name="description" content="{{ post.name }} - {{ post.description }}">{% endblock %}

{% block breadcrumbs %}
    <span class="next"></span>
    <a href="{{ url('/machine') }}" 
       class="crumb">
        {{ views['view.machine.breadcrumbs.machine'].content }}
    </a>
    <span class="last">
        {{ post.name }}
    </span>
{% endblock %}

{% block content %}
    <table cellpadding="0"
            width="100%"
            rules="none"
            border="0"
            itemscope 
            itemtype="http://schema.org/Product">
        <tr>
            <td valign="top">
                <div class="form-title mobile-margin-top-175">
                    {{ views['view.machine.title'].content }}
                    <span class="form-title-info">
                        {{ views['view.machine.last.update'].content }}: {{ post.updated_at|date('M j, Y') }}
                    </span>
                </div>
                <table cellpadding="0"
                    class="bordered-details"
                    width="100%"
                    rules="none"
                    border="0">
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.machine.name'].content }}
                        </td>
                        <td class="post-details-data">
                            <b itemprop="name">{{ post.name }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.machine.status'].content }}
                        </td>
                        <td class="post-details-data">
                            {% if post.status == 1 %}
                                <span class="mark brune new">{{ views['view.machine.condition.used'].content }}</span>
                            {% else %}
                                <span class="mark green old">{{ views['view.machine.condition.new'].content }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.machine.type'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ post.type.name }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.machine.url'].content }}
                        </td>
                        <td class="post-details-data">
                            <a href="{{ post.type.other_url ? post.type.other_url : url('machine/view/' ~ post.id ) }}"
                               itemprop="url">
                                {{ post.type.other_url ? post.type.other_url : url('machine/view/' ~ post.id ) }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.machine.price'].content }}
                        </td>
                        <td class="post-details-data">
                            {% if post.description == 0 %}
                                unknown
                            {% else %}
                                {{ post.price }}{{ post.currency }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type" valign="top">
                           {{ views['view.machine.description'].content }}
                        </td>
                        <td class="post-details-data" itemprop="description">
                            {{ post.description|nl2br }}
                        </td>
                    </tr>
                </table>
                <br/>
                <div class="form-title">
                    {{ views['view.machine.company.title'].content }}
                    <span class="form-title-info">
                        {{ views['view.machine.last.update'].content }}: {{ post.updated_at|date('M j, Y') }}
                    </span>
                </div>
                <table cellpadding="0"
                        class="bordered-details"
                        width="100%"
                        rules="none"
                        border="0"
                        itemscope 
                        itemtype="http://schema.org/Organization">
                    <tr>
                        <td width="1" class="post-details-type">
                           {{ views['view.machine.company.name'].content }}
                        </td>
                        <td class="post-details-data">
                            <a href="{{ url('company/view') ~ '/' ~ owner.id }}"
                               itemprop="url"
                               itemprop="name">
                                {{ owner.company_name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                            {{ views['view.machine.company.person'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ owner.name  }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                            {{ views['view.machine.company.email'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ owner.public_email }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                            {{ views['view.machine.company.phone'].content }}
                        </td>
                        <td class="post-details-data">
                            {{ owner.phone }}
                        </td>
                    </tr>
                    <tr>
                        <td width="1" class="post-details-type">
                            {{ views['view.machine.company.website'].content }}
                        </td>
                        <td class="post-details-data">
                            <a href="{{ owner.website ? owner.website : (url('/company/view') ~ '/' ~ owner.id) }}"
                               target="_blank"
                               itemprop="url">
                                {{ owner.website ? owner.website : (url('/company/view') ~ '/' ~ owner.id) }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="post-details-data text-right padding15">
                            <a href="{{ url('company/view') ~ '/' ~ owner.id }}"
                               itemprop="url"
                               class="pull-right underline-none">
                                <button class="btn grey small">
                                    {{ views['view.machine.company.button.open'].content }}
                                </button>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="1" valign="top" class="hide-on-mini-tablet">
                <div class="post-details-machine-images">
                    <div class="image">
                        <div class="total"><b>{{ views['view.machine.image.total'].content }}: {{ post.images|length }} {{ views['view.machine.image.images'].content }}</b></div>
                        {% if post.images|length > 0 %}
                            {% for image in post.images %}
                                <a href="{{ asset('images/machine/' ~ post.user_id ~ '/' ~ post.id ~ '/' ~ image.filename )~'?v'~image.filename }}" 
                                   class="{{ loop.first ? 'first' : '' }}"
                                   data-lightbox="modalMachine-{{ post.id }}">
                                    <div class="borders">
                                        <img src="{{ asset('images/machine/' ~ post.user_id ~ '/' ~ post.id ~ '/' ~ image.filename )~'?v'~image.filename }}" itemprop="image"/>
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="text-center">
                                <img style="margin: 0 auto;" src="{{ asset('assests/frontend/img/board/no-image.png?v1') }}" itemprop="image"/>
                                <br/><br/>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('components/lightbox2/dist/js/lightbox.min.js?v1') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/controllers/machine/view.js?v1') }}"></script>
{% endblock %}

