/*
*  @Author Corcimar Tudor
*  
*  Shoric Marketing Group
*  7/18/2015
*  
*  RESPONSIVE STYLES
*  
*/

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1090px) {
    
    body{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }
    
    .isAuth,
    .isNotAuth{
        display: none;
    }
    .tablet-nav-button{
        display: block;
    }
    * .hide-on-tablet{
        display: none;
    }
    .only-mobile{
        display: block;
    }
    
    
    .board-linear{
        border: 0px;
    }
    .board-linear .sorting{
        display: none;
    }
    .board-linear .post{
        display: block;
        margin: 0 0 75px 0;
        border: 1px solid rgba(0,0,0,.08);
        background: none;
        height: auto;
        width: 100%;
        -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.1);
    }
    .board-linear .post *{
        float: none;
    }
    .board-linear .post .post-back{
        background: rgba(255,255,255,.8);
        height: auto;
        padding: 25px;
        float: none;
    }
    .board-linear .post .image{
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .board-linear .post .post-block{
        background: none;
        width: 100%;
        height: auto;
        float: none;
        padding: 0;
    }
    .board-linear .post .post-block .separator{
        display: none;
    }
    .board-linear .post .image-block{
        position: relative;
        margin: 0 auto;
        width: auto;
        max-width: 500px;
        height: auto;
        right: 0;
        top: 0;
        border: 0;
        background: none;
        margin-top: 100px;
    }
    .board-linear .post .image-block .floating-block{
        position: static;
        left: 0;
        top: 0;
        margin: 0 auto;
        height: auto;
        width: 100%;
    }
    .board-linear .post .image-block .floating-block a:first-child,
    .board-linear .post .image-block .floating-block a, 
    .board-linear .post .image-block .floating-block a img{
        width: 100%;
    }
    .board-linear .post .name{
        max-width: 700px;
        margin: 0 auto;
    }
    .board-linear .post .name h3{
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
    }
    .board-linear .post .name h3 a{
        display: block;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 28px;
        padding: 0 25px 0 25px;
        font-size: 15px;
    }
    .board-linear .post .name h3 a .glyphicon-star.yello{
        font-size: 15px;
    }
    .board-company-name{
        width: 100%;
        padding: 35px 25px 0 25px;
        text-align: center;
        margin: 0 0 25px;
        display: none;
    }
    .board-company-name a{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
    }
    .board-linear .post .name .short-description{
        padding: 35px 0 25px 0;
        text-align: left;
        height: auto;
        max-height: 1000px;
        font-size: 15px;
        line-height: 22px;
    }
    .board-linear .post .status{
        display: none;
    }
    .board-linear .post .category{
        position: absolute;
        text-align: center;
        width: 400px;
        left: 50%;
        margin:  0 0 0 -200px;
        text-align: center;
        top: 80px;
    }
    .board-linear .post .category .mark.white{
        border: 0;
        font-size: 14px;
        font-weight: bold;
        color: #a1a1a1;
    }
    .board-linear .post .postdate{
        display: none;
    }
    .mobile-open-post{
        display: block;
        max-width: 120px;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: bold;
        background: #ffffff;
        border: 1px solid #cccccc;
        font-size: 18px;
        text-align: center;
        padding: 8px 10px;
        color: #888888;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .mobile-open-post:hover{
        text-decoration: none;
    }
    .stetting-bar{
        display: none;
    }
    .breadcrumbs{
        display: none;
    }
    .language-menu{
        left: 25px;
    }
    .language-menu a.lang{
        margin-right: 20px;
    }
    header{
        height: 75px;
    }
    .header{
        height: 75px;
    }
    .nav{
        display: none;
    }
    .tablet-nav {
        overflow-y: auto;
    }
    .tablet-nav a, .tablet-nav span{
        padding: 15px 25px;
        font-size: 22px;
    }
    .banner-title-description{
        font-size: 30px;
        padding-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .moduleInfo,
    .home-banner .short-info{
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer{
        height: auto;
        padding: 0;
    }
    .footer .app-address,
    .footer .app-address *{
        position: static;
        margin: 0 auto;
        float: none;
        max-width: 10000px;
        text-align: center;
        float: none;
        padding: 0 25px 25px 25px;
    }
    .footer .app-address .clear{
        font-size: 14px;
    }
    .footer .app-address .logo{
        float: none;
        margin: 0 auto;
        margin-top: 45px;
        margin-bottom: 35px;
        padding: 0px;
    }
    .footer .footer-nav{
        width: 100%;
        float: none;
    }
    .footer-nav-block{
        float: none;
        padding: 0;
        text-align: center;
        width: 100%;
        margin: 0 0 35px 0;
    }
    .footer-nav-block .footer-nav-block-title{
        font-size: 24px;
        padding: 10px 25px;
        font-weight: bold;
    }
    .footer .footer-nav .footer-nav-block > span{
        margin: 0 auto;
        font-size: 14px;
        padding: 8px;
    }
    .footer .footer-nav .footer-nav-block > span a{
        font-size: 14px;
    }
    .hide-on-mobile{
        display: none;
    }
    .hide-on-desktop{
        display: block;
    }
    form.home-search input.keyword{
        font-size: 22px;
        padding: 8px 15px;
    }
    .big-icon{
        display: block;
        width: 230px;
        margin: 0 auto;
        font-size: 30px;
        height: auto;
        margin-bottom: 105px;
        color: #1c6e90;
        border: 2px dashed #e1e1e1;
        padding: 130px 20px 20px 20px;
        font-weight: bold;
    }
    .big-icon.post-machine{
        background-position: 82px 30px;
    }
    .big-icon.profile {
        background-position: -126px 30px;
    }
    .big-icon.companies {
        background-position: -541px 30px;
    }
    .big-icon.profile-postings {
        background-position: -335px 30px;
    }
    
    .double,
    .double.left,
    .double.rigth{
        width: 100%;
        float: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .double.right{
        padding: 0 0 0 0;
    }
    .double.left{
        padding: 0 0 0 0;
    }
    .keywords-block{
        padding: 0 0 0 0;
    }
    
    .field input, 
    .field select, 
    .field textarea, 
    .chosen-container .chosen-single, 
    .chosen-container-multi .chosen-choices, 
    .chosen-container.chosen-container-active .chosen-single, 
    .chosen-container-single .chosen-single{
        font-size: 14px;
        height: auto;
        padding: 8px 14px;
        clear: both;
        height: 40px;
    }
    .field select{
        font-size: 14px;
    }
    .field{
        clear: both;
    }
    .search .searchButton,
    .search .resetButton{
        position: static;
        float: right;
        margin: 0 auto;
        margin-bottom: 15px;
        font-size: 16px;
        width: auto;
        height: auto;
        padding: 5px 15px 5px 15px;
        background-image: none;
        right: auto;
        left: 0;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
    }
    .keywords-block .width-3in4,
    .keywords-block .width-1in4{
        padding: 0;
        width: 100%;
    }
    .search .resetButton{
        float: left;
    }
    .field .label{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .mobile-pagination-next{
        display: block;
        width: 100%;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: bold;
        background: #00b4ff;
        border: 0px solid #cccccc;
        font-size: 16px;
        text-align: center;
        padding: 14px 18px;
        color: #ffffff;
        margin-bottom: 35px;
        margin-top: 15px;
    }
    
    .board-linear .post.company-board .image-block{
        margin-top: 55px;
    }
    
    .board-linear .post.company-board .image-block .floating-block.logo-image img{
        width: auto;
        max-width: 500px;
    }
    
    .board-linear .post.company-board .locations{
        display: none;
    }
    
    .board-linear .post.company-board .name{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    select,
    select *{
        font-size: 15px;
    }
    
    .content-with-left-side-menu{
        padding: 0;
    }
    .left-side-block{
        width: 100%;
        position: static;
        float: none;
    }
    .url-table,
    table.postings.url-table .post td,
    table.postings.url-table .post,
    table.postings.url-table tbody{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    table.postings.url-table .post td.url a{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        border: 0px;
    }
    .submitButton{
        margin-bottom: 25px;
    }
    .left-side-block .title{
        background-repeat: repeat-x;
    }
    table.postings .post td.image,
    table.postings .post td.create-date,
    table.postings .post td.actions{
        display: none;
    }
    table.postings .post td{
        text-align: center;
    }
    table.postings .post td .glyphicon{
        font-size: 18px;
        border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border: 1px solid #dddddd;
        padding: 5px;
        margin: 15px 5px 0px 5px;
    }
    table.postings .post td .glyphicon-off.active {
        color: #92c017;
    }
    table.postings .post td .glyphicon-off {
        color: #dddddd;
    }
    table.postings .post td .glyphicon-pencil {
        color: #238ab5;
    }
    table.postings .post td .glyphicon-remove {
        color: #c42809;
    }
    .mobile-profile-post{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
    .mobile-profile-post img{
        width: 80%;
        margin: 15px 0;
    }
    table.postings .post td.name a{
        font-weight: bold;
    }
    .upload-image-button{
        padding: 15px;
        height: auto;
        background-image: none;
    }
    .upload-image-button .glyphicon{
        display: none;
    }
    .add-more-details-button{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .uploaded-images .image .image-description{
        padding-left: 15px;
    }
    .form-title{
        height: auto;
        padding: 7px 15px;
        background-repeat: repeat;
    }
    .info-block,
    .info-block *{
        font-size: 14px;
    }
    
    .language-menu{
        position: static;
        width: 100%;
        text-align: center;
    }
    .language-menu a.lang{
        display: inline-block;
        float: none;
        padding: 0px;
        margin: 5px 15px;
        border-color: #cccccc;
    }
    .language-menu a.lang.active{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
        -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
        box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.7);
        border-color: #ffffff;
    }
    .services tr td{
        font-size: 12px;
        padding: 3px 7px;
    }
    .services tr td.service-title,
    .services tr td.service-title span{
        font-size: 12px;
    }
    .services tr td.service-name .strikeout,
    .services tr td.service-name .blue{
        font-size: 12px;
    }
    .only-dektop{
        display: none;
    }
    .home-statistics{
        display: none;
    }
    .board-blocks .board-block{
        width: 50%;
    }
    table.bordered-details{
        max-width: 100%;
    }
    .post-details-type{
        display: none;
    }
    .post-details-machine-images{
        position: absolute;
        left: 0;
        top: 25px;
        width: 100%;
        text-align: center;
    }
    .post-details-machine-images .image a{
        display: none;
    }
    .post-details-machine-images .image a.first{
        display: block;
    }
    .post-details-machine-images .image{
        display: inline-block;
    }
    .post-details-data{
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mobile-margin-top-175{
        margin-top: 175px;
    }
    .mobile-margin-top-105{
        margin-top: 125px;
    }
    .post-details-machine-images .image.company-logo{
        margin: 0;
    }
    .banners .banner-link{
        float: none;
    }
    .banners{
    }
    .banners .banner-link,
    .banners .banner-link.banner-right,
    .banners .banner-link.banner-middle,
    .banners .banner-link.banner-left{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: none;
        clear: both;
        text-align: center;
        margin: 0 0 15px 0;
        width: 100%;
    }
    .banners .banner-link img{
        max-width: 100%;
    }
    .search-checkboxes{
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: static;
        width: 100%;
        height: auto;
    }
    .search-checkboxes .search-ckeckbox{
        text-align: center;
    }
    .hide-banners-button, .show-banners-button{
        position: static;
        text-align: center;
        border: 1px solid #238ab5;
        padding: 5px 4px;
        width: 170px;
        margin: 0 auto;
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .banners.hide-banners .banner-link{
        display: none;
    }
    .search-ckeckbox label{
        margin-bottom: 35px;
    }
    .follow-us-popup{
        padding: 5px;
    }
    .follow-us-popup-block{
        width: 100%;
    }
    
    .dinamic-banner{
        height: auto;
        padding: 25px 0 0 0;
        margin: 0;
        background: rgba(255,255,255,.4);
        border: 1px solid #f1f1f1;
    }
    
    .dinamic-banner-logo{
        position: static;
        margin: 0px 0 15px 25px;
    }
    
    .dinamic-banner-contacts{
        right: 25px;
        top: 25px;
    }
    
    .dinamic-banner-products{
        border-top: 1px solid #f1f1f1;
    }
    
}

@media screen and (max-width: 900px) {
    .board-blocks .board-block{
        width: 100%;
        padding: 0 15px 35px 15px;
    }
    .board-blocks .board-block .item{
        height: auto;
    }
    .board-blocks .board-block .item .image{
        max-width: 500px;
        margin: 0 auto;
    }
    .board-blocks .board-block .item .machine-title a{
        text-align: center;
    }
    .board-blocks .board-block .item .machine-description{
        height: auto;
        padding-bottom: 25px;
    }
    
    .dinamic-banner-logo{
        position: static;
        margin: 0 0 15px 0;
        width: 100%;
        text-align: center;
    }
    
    .dinamic-banner-contacts{
        display: none;
    }
    .dinamic-banner-products{
        position: static;
        height: auto;
        float: none;
        clear: both;
    }
    .dinamic-banner-product-block{
        float: none;
        width: 100%;
        height: auto;
        
        border-right: 0px;
    }
    .dinamic-banner-produc-description,
    .dinamic-banner-produc-description:hover{
        position: static;
        height: auto;
        border: 0px;
        border-bottom: 1px solid #e1e1e1;
    }
    .dinamic-banner-produc-description > a{
        display: none;
        
    }
}

@media screen and (max-width: 750px) {
    .banner-menu{
        display: none;
    }
}
