@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700|Open+Sans:400,700);

body,
body *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: none;
    color: #555555;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    outline: none;
}
body {
    background: #eeeeee;
}
.header{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 77px;
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    position: relative;
    z-index: 2;
}
.stetting-bar{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8f8f8;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #ffffff;
    height: 38px;
    width: 100%;
    padding: 0 20px 0 20px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 1;
}
.logo{
    position: absolute;
    left: 25px;
    top: 20px;
}
.nav{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 200px;
    top: 30px;
    color: #e1e1e1;
}
.nav a{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Orbitron';
    font-weight: bold;
    padding: 0 10px 0 10px;
    font-size: 15px;
    color: #999999;
    text-decoration: none;
}
.nav a:hover{
    color: #555555;
}
.nav a.active{
    color: #222222;
}
.nav a.blue{
    color: #00b4ff;
}
.nav a.green{
    color: #92c017;
}

.content{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: url('../img/background-header.png?v1') 0 0 repeat #ffffff;
    padding: 25px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.form-info{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #4385bb;
    font-size: 14px;
    width: 100%;
    
}
.clear{
    clear: both;
    width: 100%;
}
.footer{
    height: 167px;
    background-color: #f6f6f6;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #cccccc;
    background: url('../img/background.png?v1') 0 0 repeat #ffffff;
    position: relative;
}
.copy{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    color: #a1a1a1;
}

.board-linear{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.08);
}
.board-linear .sorting{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    position: relative;
    padding: 3px 0 0 135px;
    background: url('../img/board/line.png?v1') 0 bottom repeat-x rgba(0,0,0,.03);
}
.board-linear .sorting .sortby{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 25px;
    background: url('../img/board/small-vertical-line.png?v1') right 3px no-repeat;
    padding: 0 10px 0 10px;
}
.board-linear .sorting .sortby a{
    display: inline-block;
    font-family: 'Orbitron';
    font-weight: bold;
    text-align: left;
    position: relative;
    color: #238ab5;
    text-decoration: none;
    position: relative;
}
.board-linear .sorting .sortby a:hover{
    color: #238ab5;
}
.board-linear .sorting .sortby span{
    display: inline-block;
    font-family: 'Orbitron';
    font-weight: bold;
    text-align: left;
    position: relative;
    color: #555555;
    text-decoration: none;
    position: relative;
}
.board-linear .sorting .sortby.image{
    width: 135px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.board-linear .sorting .sortby.name{
    width: 60%;
}
.board-linear .sorting .sortby.saller{
    width: 15%;
}
.board-linear .sorting .sortby.status{
    width: 10%;
}

.board-linear .sorting .sortby.category{
    width: 15%;
}
.board-linear .sorting .sortby.postdate{
    width: 15%;
    background: none;
}

.board-linear .sorting.company-board .sortby.name{
    width: 70%;
}
.board-linear .sorting.company-board .sortby.locations{
    width: 15%;
}
.board-linear .sorting .sortby .arrow{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 10px;
    height: 5px;
    background: url('../img/board/sorting-arrows.png?v1') 0 -21px no-repeat;
    position: absolute;
    z-index: 4;
    right: -18px;
    top: 8px;
}
.board-linear .sorting .sortby .arrow.asc{
    background-position: 0 0;
}
.board-linear .post{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    position: relative;
    background: url('../img/board/line.png?v1') 0 bottom repeat-x;
}
.board-linear .post .post-back{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 98px;
    background: rgba(255,255,255,.3);
    padding: 0 0 0 135px;
    position: relative;
}
.board-linear .post .post-back.highlighted{
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
    background: rgba(255,188,0, 0.15);
}
.board-linear .post .post-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 98px;
    background: url('../img/board/vertical-line.png?v1') right 12px no-repeat;
    padding: 10px;
} 
.board-linear .post .image{
    width: 135px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.board-linear .post .name{
    width: 60%;
}
.board-linear .post .saller{
    width: 15%;
    font-size: 14px;
    color: #777777;
}
.board-linear .post .status{
    width: 10%;
}
.board-linear .post .category{
    width: 15%;
}
.board-linear .post .postdate{
    width: 15%;
    background: none;
    font-size: 13px;
    color: #777777;
}

.board-linear .post.company-board .name{
    width: 70%;
}
.board-linear .post.company-board .locations{
    width: 15%;
}

.board-linear .post .actions{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 15px;
    width: 20px;
}
.board-linear .post .icon{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/board/icons.png?v1') -17px 5px no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 0 1px 0;
}
.board-linear .post .icon.save{
    background-position: -17px 5px;
}
.board-linear .post .icon.save:hover{
    background-position: 6px 5px;
}
.board-linear .post .icon.subscribe{
    background-position: -17px -15px;
}
.board-linear .post .icon.subscribe:hover{
    background-position: 6px -15px;
}
.board-linear .post .icon.images{
    background-position: -17px -35px;
}
.board-linear .post .icon.images:hover{
    background-position: 6px -35px;
}
.board-linear .post .image-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 78px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 13px;
    border: 1px solid rgba(0,0,0,.08);
    background: #ffffff;
}
.board-linear .post .post-block .separator{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 1px;
    height: 90px;
    position: absolute;
    left: 33px;
    top: 0;
    background: url('../img/board/vertical-line.png?v1') right 12px no-repeat;
}
.board-linear .post .image-block .floating-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 500px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 0 0 -250px;
    text-align: center;
}
.board-linear .post .image-block .floating-block a,
.board-linear .post .image-block .floating-block a img{
    display: inline-block;
    height: 100%;
    width: auto;
    margin: 0;
    margin-left: 1px;
    padding: 0;
    cursor: pointer;
}
.board-linear .post .image-block .floating-block a{
    display: none;
}
.board-linear .post .image-block .floating-block a:first-child{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}
.board-linear .post .name h3{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.board-linear .post .name h3 a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #074772;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
}
.board-linear .post .highlighted .name h3 a{
    font-weight: bold;
}
.glyphicon-star.yello{
    color: #ffa800;
    text-shadow: 0px 0px 2px #ffffff;
}
.board-linear .post .name .short-description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    color: #777777;
    padding: 3px 0 0 0;
    line-height: 19px;
    max-height: 45px;
    overflow: hidden;
    border: 0px solid red;
}
.board-linear .post .highlighted .name .short-description{
    color: #000000;
}
.highlighted .board-company-name a{
    color: #0f5f81;
}
.board-company-name{
    display: block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-company-name a{
    font-size: 12px;
    color: #aaaaaa;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.mark{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid #000000;
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    line-height: 13px;
}
.mark.grey{
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #555555;
}
.mark.blue{
    background: #00b4ff;
    border: 1px solid #00b4ff;
    color: #ffffff;
}
.mark.brune{
    background: #ffffff;
    border: 1px solid #dac4ad;
    color: #c5a481;
}
.mark.green{
    border: 1px solid #c8d890;
    background: #ffffff;
    color: #a2c234;
}
.mark.white{
    background: #ffffff;
    border: 1px solid #dfdfdf;
    color: #555555;
    padding: 4px 7px 4px 7px;
}
.mark.white:hover{
    background: #ffffff;
    border: 1px solid #aaaaaa;
    color: #333333;
}
.pagination{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:50px;
    background: rgba(0,0,0,.03);
    padding: 14px 15px 12px 15px;
    margin: 0;
}
.pagination .page{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 3px 3px 0;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    font-size: 12px;
    line-height: 13px;
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #888888;
    font-size: 14px;
    padding: 4px 7px 4px 7px;
    margin: 0px;
}
.pagination .page:hover{
    cursor: pointer;
    background: #f8f8f8;
    border: 1px solid #888888;
    text-decoration: none;
}
.pagination .page.active{
    background: rgba(0,0,0,0.0);
    color: #000;
}
.content-width{
    max-width: 1200px;
    margin: 0 auto;
}
form {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.08);
    background: rgba(255,255,255,.4);
    margin: 0px 0 15px 0;
    padding: 20px;
    background: rgba(0,0,0,.03);
}
.field{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.chosen-container{
    width: 100% !important;
    margin: 0 0 0 0;
}
.field input,
.field select,
.field textarea,
.chosen-container .chosen-single,
.chosen-container-multi .chosen-choices,
.chosen-container.chosen-container-active .chosen-single,
.chosen-container-single .chosen-single{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    background: #ffffff;
    height: 35px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #dddddd;
    padding: 0 10px 0 10px;
    font-size: 14px;
    margin: 0 0 20px 0;
-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.25);
-moz-box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.25);
box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.25);
    z-index: 50;
    width: 100%;
}
.field textarea{
    min-height: 250px;
    max-width: 100%;
    padding: 10px;
}
.field input:focus,
.field select:focus{
    border-color: #cccccc;
}
.field input.valid,
.field select.valid,
.field textarea.valid,
.chosen-container .chosen-single.valid,
.chosen-container-multi .chosen-choices.valid,
.chosen-container.chosen-container-active .chosen-single.valid,
.chosen-container-single .chosen-single.valid,
.field.captcha input.valid,
select.chosen.valid + .chosen-container .chosen-single,
select.chosen.valid + .chosen-container .chosen-choices{
    border-color: #b7d916;
    background-color: #fcffed;
}
.field input.invalid,
.field select.invalid,
.field textarea.invalid,
.chosen-container .chosen-single.invalid,
.chosen-container-multi .chosen-choices.invalid,
.chosen-container.chosen-container-active .chosen-single.invalid,
.chosen-container-single .chosen-single.invalid,
.field.captcha input.invalid,
select.chosen.invalid + .chosen-container .chosen-single{
    border-color: #efc9c9;
    background-color: #fff2f2;
}
.field.name{
    width: 49.7%;
    padding-right: 10px;
    float: left;
}
.field.saller{
    width: 14%;
    float: left;
    padding-right: 10px;
}
.field.status{
    width: 9.3%;
    float: left;
    padding-right: 10px;
}
.field.category{
    width: 13.2%;
    float: left;
    height: 35px;
}
.field select.multiple:focus,
.field select.multiple:hover{
    height: auto;
}
.field.postdate{
    width: 13.8%;
    float: left;
    padding-left: 10px;
}
form.search .settings{
    padding: 5px 0 5px 5px;
    float: left;
}
form.search .count{
    color: #aaaaaa;
    font-weight: bold;
    padding-right: 15px;
}
form.search .count > span{
    color: #777777;
}
.searchButton{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    padding: 0 15px 0 15px;
    border: 0px;
    background: #92c017;
    color: #ffffff;
}
.submitButton{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    padding: 0 15px 0 15px;
    border: 0px;
    background: #92c017;
    color: #ffffff;
    font-weight: bold;
}
.auh-bar{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    padding: 15px 25px 0 0;
    text-align: right;
}
.auh-bar .companyName{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #555555;
    font-weight: bold;
}
.auh-bar a {
    color: #238ab5;
}
.chosen-container .chosen-single,
.chosen-container.chosen-container-active .chosen-single{
    padding-top: 5px;
}
.chosen-container-active.chosen-with-drop .chosen-single div b,
.chosen-container-single .chosen-single div b{
    background-position: 0 8px;
}
.chosen-container.chosen-with-drop .chosen-drop{
    margin-top: 0px;
}
.chosen-container.chosen-with-drop.chosen-container-single .chosen-drop{
    margin-top: -20px;
}
.chosen-container.chosen-container-multi.chosen-with-drop.chosen-container-active .chosen-choices,
.chosen-container.chosen-container-single.chosen-container-single-nosearch.chosen-container-active .chosen-single{
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
.chosen-container.chosen-container-multi.chosen-container-active{
    position: absolute;
}
.chosen-container .chosen-drop{
    border-color: #cccccc;
}
.chosen-container.chosen-container-multi .chosen-choices{
    width: 100%;
    height: 35px !important;
    margin: 0;
    padding: 3px 5px 5px 10px;
    overflow: hidden;
    
}
.chosen-container.chosen-container-multi.chosen-container-active .chosen-choices{
    height: auto !important;
}
.chosen-container-multi .chosen-choices li.search-choice{
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #f8f8f8;
    border: 1px solid #cccccc;
}
.chosen-container-multi .chosen-choices li.search-choice span{
    background: #f8f8f8;
}
.chosen-container .chosen-results li.highlighted{
    background: #f8f8f8;
    color: #555555;
}
.post-macchine{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
}
.post-macchine .field.category{
    float: left;
    width: 50%;
    padding-right: 5px;
}
.post-macchine .field.status{
    float: right;
    width: 50%;
    padding-left: 5px;
    padding-right: 0;
}
.sign-in{
    max-width: 300px;
    margin: 0 auto;
}
.field .label{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    position: static;
    text-align: center;
    color: #555555;
    text-align: left;
    padding: 0 0 1px 8px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.field .label .error{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
    color: #ca3232;
    max-width: 80%;
}
.title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 35px 0 15px 0;
    text-align: center;
}
.title.blue{
    color: #00b4ff;
}
.field.captcha{
    width: 220px;
    float: left;
}
.field.captcha input{
    width: 90px;
    float: left;
}
.field.captcha .captchaImg{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px;
    float: right;
    width: 100px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    overflow: hidden;
    position: relative;
}
.field.captcha .captchaImg img{
    position: absolute;
    left: -3px;
    top: -2px;
}
.resetCaptcha{
    font-weight: bold;
    color: #238ab5;
    padding: 10px 0 0 8px;
    cursor: pointer;
}
.moduleInfo{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #888888;
    font-size: 14px;
    max-width: 1000px;
    margin: 0 auto;
}
.form-tabs{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.profile .form-tabs{
    text-align: left;
}
.form-tabs li{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,.08);
    border-bottom: 0px;
    background: rgba(0,0,0,.03);
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    margin: 0 0px 0 0;
}
.form-tabs li.active{
    background: #00b4ff;
    text-decoration: none;
}
.form-tabs li a{
    color: #555555;
    text-decoration: none;
    font-family: 'Orbitron';
}
.form-tabs li.active a{
    text-decoration: none;
    color: #ffffff;
}
.tab-pane{
    display: none;
}
.tab-pane.active{
    display: block;
}
.with-tabs {
    margin-top: 0;
}
.register-in{
    max-width: 800px;
    margin: 0 auto;
}
form > span.error{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 0 20px 0;
    font-weight: bold;
    color: #ca7c0d;
    font-size: 13px;
}
.content-with-left-side-menu{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 235px;
    position: relative;
    min-height: 400px;
}
.left-side-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    padding: 0;
    margin: 0;
}
.left-side-block .title{
    border: 0px solid rgba(0,0,0,.08);
    margin: 0 0 5px 0;
    padding: 17px 15px 17px 15px;
    background: url('../img/leftsidemenu/header.png?v1') center top no-repeat;
    font-size: 17px;
    color: #115f7f;
    font-weight: bold;
    text-shadow: 0px 1px 0px #ffffff;
}
.left-side-menu{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    border: 1px solid rgba(0,0,0,.08);
    width: 100%;
    margin: 0 0 15px 0;
    padding: 5px 5px 0 5px;
    background: rgba(0,0,0,0.03);
}
.left-side-menu li{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 41px;
    position: relative;
    margin: 0 0 5px 0;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.left-side-menu li:last-child{
    border-bottom: 0px;
    margin: 0;
}
.left-side-menu li a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    width: 100%;
    font-weight: bold;
    color: #238ab5;
    text-decoration: none;
    padding: 7px 15px 7px 35px;
    background: url('../img/leftsidemenu/leftsidemenu-icons.png?v1') 10px 10px no-repeat;
}
.left-side-menu li a:hover{
    background-color: rgba(0,0,0,.03);
}
.left-side-menu li a.active{
    color: #115f7f;
    background-color: rgba(0,0,0,.03);
}
.left-side-menu li a.general{
    background-position: 10px 10px;
}
.left-side-menu li a.credentials{
    background-position: 10px -35px;
}
.left-side-menu li a.postings{
    background-position: 10px -81px;
}
.left-side-menu li a.post-machine{
    background-position: 10px -127px;
}
.left-side-menu li a.uploads{
    background-position: 10px -175px;
}
.double{
    width: 50%;
    float: left;
}
.double.right{
    padding: 0 0 0 15px;
}
.double.left{
    padding: 0 15px 0 0;
}
.form-title{
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0px 10px 15px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    font-family: 'Open Sans';
    height: 32px;
    background: url('../img/forms/header.png?v1') left top no-repeat transparent;
    border-bottom: 0px solid rgba(0,0,0,.08);
    text-transform: uppercase;
    color: #115f7f;
    text-shadow: 0px 1px 0px #ffffff; 
    position: relative;
}
.form-title-info{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: #555555;
    position: absolute;
    right: 0;
    top: 7px;
    font-weight: normal;
    text-transform: none;
    padding-right: 15px;
}
.btn{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    vertical-align: top;
    text-decoration: none ;
}
a:hover button,
a button,
a button.btn,
a button.btn:hover{
    text-decoration: none;
}
.btn.small{
    height: 28px;
    color: #ffffff;
    padding: 0px 15px 0 15px;
}
.btn.blue{
    background: #00b4ff;
}
.btn.grey{
    background: #f8f8f8;
    color: #777777;
    font-weight: bold;
    border: 1px solid #cccccc;
}
.btn.white{
    display: inline-block;
    background: #ffffff;
    color: #777777;
    font-weight: bold;
    border: 1px solid #cccccc;
    padding-top: 3px;
}
.btn.green{
    background: #92c017;
}
.btn.blue:hover{
    background: #238ab5;
}

.btn.blue-dark{
    background: #238ab5;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
}
.btn.blue-dark:hover{
    background: #238ab5;
}
.btn.blue-dark .glyphicon.glyphicon-menu-right{
    color: #ffffff;
    
    font-size: 11px;
}


table.postings{
    width: 100%;
    margin-bottom: 15px;
}
table.postings .post td{
    padding: 15px;
    background: rgba(255,255,255,.3);
    vertical-align: top;
}
table.postings .post td.image img{
    width: 70px;
}
table.postings .post td.name a{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: #1c6e90;
    line-height: 10px;
    border: 0px;
}
table.postings .post td.actions{
    white-space: nowrap;
    vertical-align: middle;
}
table.postings .post td.create-date{
    white-space: nowrap;
    vertical-align: middle;
}
table.postings .post td.name .description{
    overflow: hidden;
    white-space: pre-line;
    max-height: 34px;
    font-size: 12px;
    border: none;
    text-overflow: ellipsis;
}
table.postings .post td.actions .glyphicon{
    font-size: 12px;
    font-weight: normal;
    font-weight: bold;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid #e1e1e1;
    background: rgba(0,0,0,.03);
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
}
table.postings .post td.actions .glyphicon:hover{
    background: #ffffff;
}
table.postings .post td.actions .glyphicon-pencil{
    color: #238ab5;
}
table.postings .post td.actions .glyphicon-off{
    color: #dddddd;
}
table.postings .post td.actions .glyphicon-off.active{
    color: #92c017;
}
table.postings .post td.actions .glyphicon-remove{
    color: #c42809;
}
table.postings .post:hover td{
    background: rgba(0,0,0,.03);
}
.padding15{
    padding: 15px !important;
}
.info-block{
    padding: 20px;
    font-size: 13px;
    color: #333333;
    border: 1px solid rgba(0,0,0,.08);
    background: rgba(0,0,0,.03);
    position: relative;
    margin-bottom: 15px;
}
.info-block *{
    font-size: 13px;
    color: #333333;
}
.info-block .glyphicon-remove{
    color: #777777;
    font-weight: normal;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
.info-block ul{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: static;
    height: auto;
    float: none;
}
.info-block ul li{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: static;
    height: auto;
    float: none;
    padding: 0 0 0 10px;
    background: url('../img/list-icon.png?v1') 0 7px no-repeat;
}
.info-block i{
    font-size: 13px;
}
table.postings .post td.name.url a{
    font-weight: normal;
    display: block;
    overflow: hidden;
    max-width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.marginLeft5{
    margin-left: 5px;
}
.btn-group .btn{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 8px 0px 8px;
    height: 28px;
}
.btn-group{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-group .btn.on{
    color: #777777;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.08);
}
.btn-group .btn.on.active{
    background: #92c017;
    color: #ffffff;
    border: 1px solid rgba(0,0,0,0.08);
}
.btn-group .btn.off{
    color: #777777;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.08);
}
.btn-group .btn.off.active{
    background: #cccccc;
    color: #ffffff;
    border: 1px solid rgba(0,0,0,0.08);
}
.field .checkbox-info{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #777777;
    background: rgba(255,255,255,.7);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(0,0,0,0.08);
    height: 28px;
    padding: 3px 10px 0 10px;
    margin: 0 5px 0 5px;
}
.line-grey{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    clear: both;
}
.isAuth,
.isNotAuth{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/is-auth-icon.png?v1') right top no-repeat ;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 24px;
    height: 40px;
    text-decoration: none;
    color: #00b4ff;
    cursor: pointer;
    border: 1px solid transparent;
    min-width: 200px;
}
.isNotAuth{
    cursor: default;
    padding: 10px 45px 0 0;
    color: #b5b5b5;
    background-image: url('../img/is-not-auth-icon.png?v1');
}
.isAuth .companyName{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #000000;
    padding: 9px 45px 8px 25px;
    text-decoration: none;
    color: #555;
    font-weight: normal;
}
.keywords-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding-right: 197px;
}
.search .searchButton,
.search .resetButton{
    width: 95px;
    position: absolute;
    right: 20px;
    top: 33px;
    height: 34px;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border: 0px solid #000000;
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    background: url('../img/search.png?v1') 14px 11px no-repeat #92c017;
}
.search .resetButton{
    width: 75px;
    right: 115px;
    top: 33px;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    background: url('../img/reset.png') 12px 11px no-repeat rgba(0,0,0,.08);
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    padding: 9px 10px 0 0;
    text-decoration: none;
    border-right: 1px solid #e3e3e3;
}
.search .searchButton:hover{
    background-color: #9bce11;
}
.search .resetButton:hover{
    background-color: rgba(0,0,0,.05);
}

form.search{
    position: relative;
    padding-bottom: 0;
}
::-webkit-input-placeholder { font-style: italic; }
:-moz-placeholder { font-style: italic; }
::-moz-placeholder { font-style: italic; }
:-ms-input-placeholder { font-style: italic; }

.home-banner{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    height: 450px; 
    background: url('../img/banner/backlow.jpg?v1') top center no-repeat;
    background-size: cover;
    position: relative;
}
.banner-title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 22px;
    color: #eeeeee;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);;
}
.banner-title-description{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
}
.home-banner .short-info{
    text-align: center;
    color: #e1e1e1;
    font-size: 12px;
}
.home-banner form.sign-in{
    background: rgba(0,0,0,0.5);
}
.home-banner form.sign-in .field .label{
    color: #cccccc;
}
.home-banner form.sign-in a{
    color: #91dfff;
    font-size: 16px;
    display: inline-block;
    padding-top: 8px;
}
.home-banner form.sign-in a:hover{
    text-decoration: underline;
}
.breadcrumbs{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 55px;
    top: 9px;
    height: 20px;
    font-size: 12px;
    font-family: 'Orbitron';
    color: #777777;
}
.breadcrumbs .crumb,
.breadcrumbs .next,
.breadcrumbs .last{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    height: 20px;
    font-size: 12px;
    font-family: 'Orbitron';
    color: #777777;
    text-shadow: 0 1px 0 #f8f8f8;
    font-weight: bold;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.breadcrumbs .crumb{
    padding: 2px 8px 0 11px;
    background: url('../img/breadcrumbs/back.png?v1') 0 0 repeat-x;
}
.breadcrumbs .crumb:hover{
    color: black;
}
.breadcrumbs .next{
    width: 9px;
    background: url('../img/breadcrumbs/next.png?v1') 0 0 no-repeat;
}
.breadcrumbs .last{
    padding: 2px 8px 0 11px;
    min-width: 187px;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: url('../img/breadcrumbs/last.png?v1') 0 0 no-repeat;
    font-weight: normal;
}
.breadcrumbs .info{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 29px;
    left: -30px;
    top: -5px;
    background: url('../img/breadcrumbs/info.png?v1') 0 0 no-repeat;
}
.user-menu{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    width: 100%;
    border-top: 1px solid #fff;
}
.user-menu li {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}
.user-menu li:last-child{
    border-bottom: 0px solid #aaa;
}
.user-menu li a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 55px 5px 15px;
    text-decoration: none;
    background: url('../img/auth-menu-icons.png?v1') right 0 no-repeat;
}
.user-menu li a:hover{
    background: url('../img/auth-menu-icons-hover.png?v1') right 0 no-repeat #f8f8f8;
}
.user-menu li a.general{
    background-position: right 0;
}
.user-menu li a.postings{
    background-position: right -32px;
}
.user-menu li a.settings{
    background-position: right -63px;
}
.user-menu li a.out{
    background-position: right -93px;
}
.user-menu li a.uploads{
    background-position: right -126px;
}
.isAuth.active{
    background-color: #f0f0f0;
    border-color: #dadada;
    height: auto;
}
.isAuth .user-menu{
    display: none;
}
.isAuth.active .user-menu{
    display: block;
}
.nav .post-machine{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 168px;
    height: 41px;
    background: url('../img/machine/add-machine-button.png?v1') center top no-repeat;
    position: absolute;
    right: -188px;
    top: -10px;
}
.images-uploader-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.upload-image-button{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    border: 2px dashed rgba(0,0,0,.15);
    margin-top: 10px;
    background: rgba(255,255,255,.45);
    padding: 14px 25px 0 55px;
    position: relative;
    font-size: 16px;
    color: #777777;
    width: 100%
}
.upload-image-button .clicable-zone{
    cursor: pointer;
}
.upload-image-button .glyphicon{
    display: block;
    color: #bbbbbb;
    font-size: 20px;
    position: absolute;
    left: 19px;
    top: 13px;
}
.upload-image-button .glyphicon-folder-open{
    display: none;
}
.upload-image-button:hover .glyphicon-folder-close{
    display: none;
}
.upload-image-button:hover .glyphicon-folder-open{
    display: block;
    color: #777777;
}
.uploaded-images{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.uploaded-images .image{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 45px;
    height: 35px;
    margin-top: 10px;
    position: relative;
}
.uploaded-images .image .mini-image{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 35px;
    padding: 1px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.15);
    background: rgba(255,255,255,.45);
    position: absolute;
    left: 0px;
    top: 0px;
}
.uploaded-images .image .mini-image .image-back{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/board/no-image.png?v1') no-repeat;
    background-size: cover;
    height: 31px;
    width: 36px;
    cursor: pointer;
}
.uploaded-images .image .image-description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0,0,0,.05);
    background: rgba(255,255,255,.25);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
    padding: 7px 15px 7px 25px;
    font-style: italic;
}
.uploaded-images .image .image-description .image-remove-button{
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
    color: #be5555;
}
.uploaded-images .image .image-description .image-remove-button:hover{
    color: #972828;
}
.image-uploader-loader{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.85);
}
.image-uploader-loader img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -12px;
}
.add-more-details-button{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px dashed rgba(0,0,0,.15);
    width: 300px;
    text-align: center;
    padding: 7px 0 7px 0;
    margin: 0 auto;
    cursor: pointer;
    background: rgba(255,255,255,.45);
}
.add-more-details-button *{
    color: #115f7f;
}
.aditional-fields{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a.underline-none{
    text-decoration: none !important;
}
.to-center{
    margin: 0 auto;
}
.small-link{
    font-size: 13px;
    color: #115f7f;
}
.width-500{
    width: 500px;
}
.width-400{
    width: 400px;
}
.width-350{
    width: 350px;
}

body .alert-success{
    background: #ebfcbf;
    color: #ffffff;
    font-size: 13px;
    border-color: rgba(192,214,133,1);
    opacity: .93;
}
body .alert-success *{
    color: #333333;
    font-size: 13px;
}
body .alert-success button.close{
    font-size: 20px;
    color: #777777;
    opacity: 1;
}
.reristred-successfull{
    width: 400px;
}
.web-loader{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(255,255,255,0.95);
}
.web-loader img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -45px;
}
.introduction{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 50px;
}
.big-icon{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    width: 190px;
    height: 128px;
    background: url('../img/home/big-icons.png?v1') center top no-repeat;
    font-family: 'Orbitron';
    font-size: 18px;
    color: #555555;
    padding: 100px 0 0 0;
    text-decoration: none;
}
.introduction.circle .big-icon{
    height: 165px;
    width: 220px;
    padding: 120px 0 0 0;
    margin: 0 5px 0 5px;
    text-shadow: 0 0px 15px #000000;
    background-color: rgba(0,0,0,.55);
    border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    border: 0px solid rgba(255,255,255,.15);
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
    color: #e1e1e1;
    opacity: .7;
}
.introduction.circle .big-icon:hover{
    background-color: rgba(255,255,255,.75);
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.25);
}
.big-icon.black{
    color: #333333;
    background: url('../img/home/big-icons-black-white.png?v1') center top no-repeat;
    font-weight: bold;
}
.introduction a.big-icon.black:hover{
    background-image: url('../img/home/big-icons-black.png?v1');
    color: #333333;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.introduction a.big-icon:hover{
    text-decoration: none;
    color: #555555;
}
.big-icon.post-machine{
    background-position: 62px 0;
}
.big-icon.profile{
    background-position: -146px 0;
}
.big-icon.profile-postings{
    background-position: -355px 0;
}
.big-icon.companies{
    background-position: -561px 0;
}

.introduction.circle .big-icon.post-machine{
    background-position: 74px 20px;
}
.introduction.circle .big-icon.profile{
    background-position: -134px 20px;
}
.introduction.circle .big-icon.profile-postings{
    background-position: -343px 20px;
}
.introduction.circle .big-icon.companies{
    background-position: -552px 18px;
}
.board-no-results{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
.underline-none{
    text-decoration: none;
}
.popup-carusel .modal-body{
    position: relative;
}
.popup-carusel .modal-content{
    background: rgba(255,255,255,0.3);
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
}
.popup-carusel .carusel{
    position: relative;
}
.slick-slide{
    height: 0px;
}
.slick-active{
    height: auto;
}
.popup-carusel .carusel .slick-arrow.slick-next{
    position: absolute;
    right: 0;
    bottom: 0;
}
.popup-carusel .carusel .slick-arrow.slick-prev{
    position: absolute;
    left: 0;
    bottom: 0;
}
.popup-carusel .carusel .slick-arrow{
    height: 100%;
    width: 50px;
    border: 1px solid red;
    z-index: 100;
}
.lb-outerContainer{
    background: #ffffff;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,.15);
}
.lightbox .lb-image{
    border-radius: 0;
}
.lb-container{
    padding: 8px;
}
.lb-dataContainer{
    display: none !important;
}
.lb-nav a.lb-next{
    background-image: url('../img/popup/next.png?v1');
}
.lb-nav a.lb-prev{
    background-image: url('../img/popup/prev.png?v1');
}
.lightboxOverlay{
    background: url('../img/background-header.png?v1') 0 0 repeat #ffffff;
}
.home-carusel{
    background: rgba(255,255,255,0.3);
    border: 10px solid transparent;
    -webkit-box-shadow: 0px 0px 75px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 75px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 75px 0px rgba(0,0,0,1);
    overflow: hidden;
}
.home-carusel .machine{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-top: 0;
    border-bottom: 0;
    height: 150px;
    overflow: hidden;
    min-height: 100%;
}
.home-carusel .machine a{
    -webkit-box-shadow: inset 0px 0px 85px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 85px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 85px 0px rgba(0,0,0,0.75);
    border: 7px solid #333333;
}
.home-carusel .machine a:hover{
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    border: 7px solid #333333;
}
.home-carusel .machine a{
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-carusel .machine a:first-child{
    display: block;
}
.home-carusel .machine img{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.slick-prev, .slick-next{
    border: 0px solid red;
    height: 100%;
    width: 45px;
    z-index: 100;
    opacity: .3;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}
.slick-prev:hover, .slick-next:hover{
    opacity: .9;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
}
.slick-next{
    right: 0;
}
.slick-next:hover{
}
.slick-prev{
    left: 0;
}
.slick-prev:hover{
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: 1;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
}
.home-carusel .machine.slick-slide{
    position: relative;
}
.home-carusel .machine a.home-carusel-machine-name{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    font-size: 12px;
    text-align: center;
    padding: 4px 7px;
    background: #333333;
    color: #bbbbbb;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.home-carusel .machine a.home-carusel-machine-name:hover,
.home-carusel .machine a.home-carusel-machine-name:focus{
    text-decoration: none;
    outline: none;
}
.post-details-machine,
.post-details-company{
    font-size: 14px;
    text-align: left;
    color: #333;
    padding: 0 0 0 5px;
    background: rgba(0,0,0,.1);
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}
.post-details-type{
    font-size: 14px;
    color: #333333;
    text-align: left;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
    border-right: 1px dashed #ddd; 
    border-bottom: 1px dashed #ddd; 
    white-space: nowrap;
}
.post-details-data{
    font-size: 14px;
    color: #333333;
    text-align: left;
    padding: 4px 10px 4px 10px;
    border-bottom: 1px dashed #ddd; 
}
.post-details-data a{
    color: #115f7f;
}
.post-details-machine-images .image{
    width: 150px;
    border: 1px dashed #ddd; 
    margin-left: 20px;
    margin-top: 0px;
    background: rgba(255,255,255,.8); 
}
.post-details-machine-images .image a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 0 10px;
    max-height: 120px;
    opacity: .8;
     -webkit-transition: ease-out 0.5s;
     -moz-transition: ease-out 0.5s;
     -o-transition: ease-out 0.5s;
     transition: ease-out 0.5s;
}
.post-details-machine-images .image a .borders{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: 8px solid rgba(0,0,0,.1);
    margin: 0 0 10px 0;
    max-height: 100px;
    width: 100%;
}
.post-details-machine-images .image a:hover{
    opacity: 1;
}
.post-details-machine-images .image a img{
    width: 100%;
}
.post-details-machine-images .image a:first-child{
    padding-top: 10px; 
}
table.bordered-details{
    background: rgba(255,255,255,.8); 
    border: 1px dashed #ddd;
}
.post-details-machine-images .image .total{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.machine-view-images{
    max-width: 700px;
    margin: 0 auto;
    padding: 0px 15px 15px 0;
    border: 1px solid red;
    background: rgba(255,255,255,.3);
    border: 1px dashed #ddd;
}
.machine-view-carusel{
    margin: 0px;
    height: 150px;
}
.machine-view-carusel .slick-list{
    height: 150px;
}
.machine-view-carusel .slick-track{
    height: 150px;
}
.machine-view-image{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid red;
    height: auto;
    overflow: hidden;
    height: 100%;
    margin: 0;
    float: left;
    width: 33.333333333333%;
}
.machine-view-image a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 15px;
}
.modal-backdrop.in{
    background: url('../img/background-header.png?v1') 0 0 repeat #ffffff;
    opacity: .8;
}
.modal .modal-content{
    background: #ffffff;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.25);
    border: 1px solid rgba(0,0,0,.15);
}
.modal .modal-content .modal-body,
.modal .modal-content .modal-header{
    padding: 20px;
    font-size: 14px;
}
.modal .modal-content .modal-body,
.modal .modal-content .modal-footer{
    background: rgba(0,0,0,.03);
}
.modal .modal-content .modal-footer a,
.modal .modal-content .modal-footer button{
    margin-left: 5px;
}
.modal .modal-content .modal-header{
    padding-right: 50px;
    padding-left: 40px;
    text-align: left;
}
.modal .modal-content .modal-header.error{
    color: #81582c;
}
.modal .modal-content .modal-header.alert{
    color: #00b4ff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.modal .modal-content button.close span{
    font-size: 24px;
}
.modal .modal-content button.close{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    top:20px;
}
.modal .modal-content .modal-body.no-paddings{
    padding: 0;
}
.modal .modal-content .modal-body .popup-form{
    margin: 0px;
    border: 0;
}
.modal .modal-content .glyphicon.error{
    color: #c5a481;
    font-size: 12px;
    position: absolute;
    left: 20px;
    top: 24px;
}
.modal .modal-content .glyphicon.alert{
    color: #00b4ff;
    font-size: 12px;
    position: absolute;
    left: 20px;
    top: 24px;
    padding: 0;
}
.white-light-gradient{
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 25%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.84) 51%, rgba(255,255,255,0.65) 75%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.65)), color-stop(50%, rgba(255,255,255,0.85)), color-stop(51%, rgba(255,255,255,0.84)), color-stop(75%, rgba(255,255,255,0.65)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 25%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.84) 51%, rgba(255,255,255,0.65) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 25%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.84) 51%, rgba(255,255,255,0.65) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 25%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.84) 51%, rgba(255,255,255,0.65) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.65) 25%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.84) 51%, rgba(255,255,255,0.65) 75%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    padding: 20px 0 20px 0;
}
.padding-right-5{
    padding-right: 5px;
}
.company-logo{
    position: relative;
    padding-left: 120px;
    height: 110px;
}
 /*.mini-image .image-back*/
.images-uploader-block.company-logo .uploaded-images{
    position: absolute;
    left: 0px;
    top: 0px;
}
.images-uploader-block.company-logo .uploaded-images .image{
    width: 100px;
    height: 100px;
    margin-top: 0;
}
.images-uploader-block.company-logo .uploaded-images .image .mini-image{
    width: 100px;
    height: 100px;
}
.images-uploader-block.company-logo .uploaded-images .image .mini-image .image-back{
    width: 78px;
    height: 78px;
    background: #ffffff;
    margin: 9px;
}

.images-uploader-block.company-logo .uploaded-images .image .mini-image .image-back{
    background: url('../img/board/no-image.png?v1') 10px 15px no-repeat;
}
.images-uploader-block.company-logo .upload-image-button{
    margin-top: 0;
}
.board-linear .post .image-block .floating-block.logo-image img{
    max-width: 70px;
    margin: 0 auto;
}
.post-details-machine-images .image.company-logo{
    padding: 0;
    height: auto;
    float: none;
}
.post-details-machine-images .image.company-logo .borders{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 10px solid transparent;
}
.post-details-machine-images .image.company-logo img{
    width: 100%;
}
table.postings .post td.company-view-images a{
    display: none;
}
table.postings .post td.company-view-images a:first-child{
    display: block;
}
.footer{
    padding: 25px 0 25px 0;
}
.footer .app-address,
.footer .app-address *{
    float: left;
    color: #aaaaaa;
    font-style: italic;
    font-size: 13px;
    max-width: 200px;
}
.footer .app-address .logo{
    position: static;
    margin-bottom: 15px;
}
.footer .footer-nav{
    float: right;
    color: #cccccc;
    font-size: 13px;
}
.footer .footer-nav a,
.footer .footer-nav span{
    display: block;
    font-size: 13px;
    color: #777777;
}
.services{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.services tr td{
    text-align: center;
    vertical-align: top;
    padding: 8px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-right: 1px solid rgba(0,0,0,0.05);
}
.services tr:hover td{
    background: rgba(0,0,0,0.02);
}
.services tr:hover td.blue{
    background: rgba(35,138,181,0.07);
}
.services tr td.service-name{
    text-align: left;
}
.services tr td.blue,
.services tr td.blue span{
    color: #07b6ff;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
}
.services tr td.service-title,
.services tr td.service-title span{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
}
.services tr:hover td.service-title{
    background: none;
}
.services tr td.service-name .blue{
    color: #07b6ff;
}
.services tr td.service-name .strikeout{
    color: #aaaaaa;
    font-weight: normal;
    text-decoration: line-through;
}
.services tr td.last{
    border-right: 0px;
}
.services tr:last-child td{
    border-bottom: 0px;
}














.footer-nav-block{
    display: block;
    float: right;
    width: 200px;
    margin: 0 0 0 25px;
}
.footer-nav-block a{
    display: block;
    font-size: 14px;
}
.footer-nav-block .footer-nav-block-title{
    font-family: 'Orbitron';
    color: #1c6e90;
    font-size: 15px;
    padding-bottom: 10px;
}
header {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    height: 114px;
    position: relative;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    border-bottom: 1px solid #dddddd;
}
.stetting-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.tablet-nav-button{
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 35px;
    color: #aaaaaa;
    cursor: pointer;
}
.tablet-nav{
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #e1e1e1;
    padding: 75px 0 0 0;
}
.tablet-nav a,
.tablet-nav span{
    display: block;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 3px dashed #ffffff;
    cursor: pointer;
}
.tablet-nav a:hover,
.tablet-nav span:hover{
    background: #f1f1f1;
    text-decoration: none;
    color: #555555;
}
table{
    width: 100%;
}

.board-blocks{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.board-blocks .board-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0px 15px 30px 15px;
    width: 25%;
    overflow: hidden;
}
.board-blocks .board-block .item{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 330px;
    overflow: hidden;
    padding: 15px;
    background: rgba(0,0,0,0.05) no-repeat;

}
.board-blocks .board-block .item .image{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    height: 40%;
}
.board-blocks .board-block .item .image img{
    width: 100%;
    position: relative;
    left: -5px;
}
.board-blocks .board-block .item .machine-title a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #238ab5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    font-size: 15px;
    padding: 18px 0 0 0;
}
.board-blocks .board-block .item .machine-description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 57px;
    font-size: 12px;
    color: #333333;
    margin: 0 0 15px 0; 
    border-bottom: 2px dashed #cccccc;
    overflow: hidden;
}

.padding-top-3{
    padding-top: 10px;
}
.under-construction-text,
.footer .footer-nav span.under-construction-text{
    color: #bbbbbb;
}
form.home-search{
    background: rgba(0,0,0,0.4);
    position: relative;
    max-width: 850px;
    margin: 0 auto;
}
form.home-search input.keyword{
    margin-bottom: 0;
    padding: 10px 55px 10px 15px;
    height: auto;
    font-size: 18px;
}
.home-search-button{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 55px;
    height: 47px;
    border: 0px;
    position: absolute;
    right: 20px;
    top: 20px;
    background: url('../img/searchicon.png?v1') 20px 13px no-repeat transparent;
}
.terms-title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #115f7f;
    font-size: 14px;
}
.language-menu{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 25px;
    top: 12px;
}
.language-menu a.lang{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 14px;
    float: left;
    margin: 0 5px 0 0;
    opacity: .5;
    border: 1px solid #ffffff;
}
.language-menu a.lang:hover,
.language-menu a.lang.active{
    opacity: 1;
}
.language-menu a.lang.it{
    background: url('../img/lang/flags.png?v1') 0px 0px no-repeat transparent;
}
.language-menu a.lang.en{
    background: url('../img/lang/flags.png?v1') -25px 0px no-repeat transparent;
}
.language-menu a.lang.de{
    background: url('../img/lang/flags.png?v1') -51px 0px no-repeat transparent;
}
.language-menu a.lang.fr{
    background: url('../img/lang/flags.png?v1') -76px 0px no-repeat transparent;
}
.language-menu a.lang.ru{
    background: url('../img/lang/flags.png?v1') -101px 0px no-repeat transparent;
}
.only-mobile{
    display: none;
}
.hide-on-mobile{
    display: block;
}
.hide-on-desktop{
    display: none;
}
.home-statistics{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 0;
    text-align: center;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 100;
    
}
.home-statistics .total-button{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    overflow: hidden;
}
.home-statistics .total-button .left,
.home-statistics .total-button .right{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    padding: 4px 7px;
    font-weight: bold;
    font-family: "Orbitron";
    margin: 0 0 10px 0;
}
.home-statistics .total-button .right:hover{
    background-color: rgba(0,0,0,0.7);
    color: #e1e1e1;
}
.home-statistics .total-button .left:hover{
    background: #f8f8f8;
}
.home-statistics .total-button .left{
    background: rgba(255,255,255,0.7);
    color: #333333;
    font-size: 12px;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border: 0px solid #000000;
}
.home-statistics .total-button .right{
    background: rgba(0,0,0,0.5);
    color: #cccccc;
    font-size: 12px;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border: 0px solid #000000;
}
.home-social{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 0 0 0;
    text-align: center;
}
.home-social a{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    margin: 0 5px;
    background: url('../img/social/home-social.png?v1') rgba(0,0,0,0.3) no-repeat;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
}
.home-social a.facebook{
    background-position: 21px 14px;
}
.home-social a.linkedin{
    background-position: -108px 14px;
}
.home-social a.google{
    background-position: -172px 16px;
}
.home-social a.vk{
    background-position: -44px 16px;
}
.home-social a.twitter{
    background-position: -234px 15px;
}
.home-social a:hover{
    background-color: rgba(0,0,0,0.8);
    color: #e1e1e1;
}

.banner-menu{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 15px;
}
.banner-menu a{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 25px;
    color: #e1e1e1;
    font-size: 15px;
    border-right: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    letter-spacing: 0px;
    background: rgba(0,0,0,0.3);
}
.banner-menu a:hover{
    text-decoration: none;
    background: rgba(0,0,0,0.7);
}
.width-1in4{
    width: 25%;
    float: right;
}
.width-3in4{
    width: 75%;
    float: left;
    padding-right: 30px;
}
.board-type{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
    text-align: right;
}
.board-type span.glyphicon{
    font-size: 18px;
    color: #cccccc;
    margin: 0 0 0 7px;
    cursor: pointer;
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
}
.board-type span.glyphicon.active{
    color: #00b4ff;
}
.board-type span.glyphicon:hover{
    color: #555555;
}
.board-by-type{
    display: none;
}
.board-by-type.active{
    display: block;
}
.search table.search-statistics{
    position: absolute;
    right: 20px;
    top: 87px;
    width: 170px;
}
.search table.search-statistics tr td{
    font-size: 12px;
    color: #555555;
}
.search table.search-statistics tr td.new{
    color: #88a524;
}
.search table.search-statistics tr td.used{
    color: #b0804d;
}
.search table.search-statistics tr td.line{
    background: url('../img/search-statistics-line.png?v1') 5px 12px repeat-x transparent;
}
.settings-on-search{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 35px;
    border: 1px solid rgba(0,0,0,.08);
    border-top: 0px;
    margin: 0;
    top: -15px;
    background: #fafafa;
}
.settings-on-search .saves-button,
.settings-on-search .save-button,
.save-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    height: 35px;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px 0px 15px;
    font-size: 12px;
    cursor: pointer;
    background: #fafafa;
}
.settings-on-search .saves-button:hover,
.settings-on-search .save-button:hover{
    background: #ffffff;
}
.save-block{
    float: left;
    border-left: 0px;
    cursor: text;
}

.settings-on-search .saves-button.saves{
    font-weight: bold;
}
.settings-on-search .glyphicon-folder-open{
    font-size: 11px;
    padding-right: 10px;
}
.settings-on-search .saves-list{
    display: block;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 450px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-top: 0px;
    position: absolute;
    right: -1px;
    top: 35px;
    z-index: 100;
    padding: 0;
    -webkit-box-shadow: 0px 10px 45px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 10px 45px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 10px 45px 0px rgba(0,0,0,0.37);
}
.settings-on-search .saves-list .title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px 8px 15px;
    background: #ffffff;
}
.settings-on-search .saves-list .title .glyphicon{
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}
.settings-on-search .saves-list ul{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 55px 15px 20px;
    list-style: none;
    font-size: 12px;
    list-style: square inside;
    max-height: 350px;
    overflow-y: auto;
}
.settings-on-search .saves-list ul li{
    color: #337ab7;
    width: 100%;
    padding: 0px 15px 0px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.settings-on-search .saves-list ul li a{
    color: #337ab7;
    font-size: 12px;
}
.settings-on-search .saves-list .glyphicon.glyphicon-remove{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    color: #aaa;
    font-size: 12px;
}
.settings-on-search .no-saves{
    padding: 15px 55px 15px 20px;
}
a .btn.blue:hover{
    text-decoration: none;
}
.settings-on-search .saves-button.active{
    background: #ffffff;
}
.save-post-button{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    position: absolute;
    left: 11px;
    top: 45px;
    cursor: pointer;
    z-index: 95;
    width: 15px;
    height: 15px;
    background: url('../img/saves/save.png') 0px 0px no-repeat transparent;
}
.save-post-button:hover{
    background: url('../img/saves/saved-searches.png') 0px 0px no-repeat transparent;
}
.save-post-button.is-saved{
    background: url('../img/saves/saved.png') 0px 0px no-repeat transparent;
}
.save-button.save-search{
    background-image: url('../img/saves/saved-searches.png');
    background-repeat: no-repeat;
    background-position: 15px 11px;
    padding-left: 40px;
}
.save-button.save-search:hover{
    background-image: url('../img/saves/saved-searches.png');
    background-repeat: no-repeat;
    background-position: 15px 11px;
    padding-left: 40px;
}
.saves-button.saved-searches{
    background-image: url('../img/saves/my-saved-searches.png');
    background-repeat: no-repeat;
    background-position: 15px 13px;
    padding-left: 40px;
}
.saves-button.saved-searches:hover,
.settings-on-search .saves-button.active{
    background-image: url('../img/saves/my-saved-searches.png');
    background-repeat: no-repeat;
    background-position: 15px 13px;
    padding-left: 40px;
}
.saves-button.saved-machines{
    background-image: url('../img/saves/saved-machines.png');
    background-repeat: no-repeat;
    background-position: 15px 12px;
    padding-left: 40px;
}
.saves-button.saved-machines:hover,
.saves-button.saved-machines.active{
    background-image: url('../img/saves/saved-machines.png');
    background-repeat: no-repeat;
    background-position: 15px 12px;
    padding-left: 40px;
}


.saves-button.highlight-my{
    background-image: url('../img/saves/highlight-my.png');
    background-repeat: no-repeat;
    background-position: 14px 11px;
    background-color: #ffffff;
    padding-left: 40px;
    color: #be8f00;
    font-weight: bold;
}
.saves-button.highlight-my:hover,
.saves-button.highlight-my.active{
    background-image: url('../img/saves/highlight-my.png');
    background-repeat: no-repeat;
    background-position: 14px 11px;
    background-color: #ffffff;
    padding-left: 40px;
}



.settings-on-search .saves-list ul{
    list-style: none;
    padding: 10px 15px;
}
.settings-on-search .saves-list ul li{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.settings-on-search .saves-list ul li a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0 5px 18px;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url('../img/saves/saved-file.png') 0px 3px no-repeat transparent;
}
.settings-on-search .saves-list ul li:last-child a{
    border-bottom: 0px;
}
.modal .modal-content .modal-header.simple{
    font-weight: bold;
    padding-left: 20px;
    font-size: 17px;
}
.banners{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 25px 0;
    position: relative;
}
.banners .banner-link{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 33.333333%;
    max-width: 100%;
}
.banners .banner-link.banner-left{
    text-align: left;
}
.banners .banner-link.banner-right{
    text-align: right;
}
.hide-banners-button,
.show-banners-button{
    position: absolute;
    right: 0px;
    bottom: -25px;
    cursor: pointer;
    color: #238ab5;
    font-size: 12px;
    font-weight: bold;
    z-index: 15;
}
.hide-banners-button .glyphicon,
.show-banners-button .glyphicon{
    font-size: 10px;
    color: #238ab5;
}
.banners.hide-banners .banner-link{
    display: none;
}
.banners.hide-banners{
    margin: 0;
}
.banners.hide-banners .dinamic-banner{
    height: 0;
    overflow: hidden;
}
.banners.hide-banners .other-small-banners{
    height: 0;
    overflow: hidden;
}
.search-checkboxes{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    top: 90px;
    width: 190px;
    padding: 0 20px 0 0;
}
.search-ckeckbox{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.search-ckeckbox input {
    position: absolute;
    left: -40px;
    top: -40px;
    visibility: hidden;
}
.search-ckeckbox label{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
    text-align: left;
    background: url('../img/checkbox/checked.png') 0 3px no-repeat transparent;
    cursor: pointer;
}
.search-ckeckbox input:checked + label{
    background: url('../img/checkbox/check.png') 0 3px no-repeat transparent;
    color: #238ab5;
}
.follow-us-popup{
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
.follow-us-popup-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    background: rgba(255,255,255,0.9);
    border: 1px solid #e1e1e1;
    width: 350px;
    text-align: center;
    padding: 25px 0;
}
.follow-us-popup .title{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Orbitron";
    color: #e1e1e1;
    font-weight: bold;
    margin: 85px 0 35px 0;
    height: auto;
    padding: 0px;
}
.follow-us-popup-close{
    position: absolute;
    right: 15px;
    top: 15px;
}
.follow-us-popup-close .glyphicon-remove{
    font-size: 22px;
    color: #e1e1e1;
}


/*
*
* Dinamic banner styles
*
*/
.dinamic-banner{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 170px 0 230px;
    background: #ffffff;
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
}
img.dinamic-banner-bottom-shadow{
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 100%;
    height: 14px;
    z-index: 1;
}
.dinamic-banner-logo{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}
.dinamic-banner-contacts{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    padding: 5px 9px 0 0;
    font-size: 11px;
    color: #555555;
    line-height: 14px;
}
.dinamic-banner-contacts b,
.dinamic-banner-contacts i{
    font-size: 12px;
    color: #555555;
}
.dinamic-banner-contacts b{
    font-size: 14px;
    line-height: 21px;
}
.dinamic-banner-products{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    position: relative;
    position: relative;
    z-index: 100;
}
.dinamic-banner-product-block{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    height: 100px; 
    float: left;
    background: #ffffff;
    border-right: 1px solid #f1f1f1;
}
.dinamic-banner-product-block.last{
    border: 0px;
}
.dinamic-banner-produc-link{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    height: 48px;
    background: url('../img/banner/block-separator.png') center bottom no-repeat transparent;
    padding: 7px 0 0 0;
    font-weight: bold;
}
.dinamic-banner-produc-link a{
    display: inline-block;
    font-size: 12px;
    color: #999999;
}
.dinamic-banner-produc-link a:hover{
    color: #0f5f81;
}
hr.br-delimiter{
    height:0; 
    visibility:hidden; 
    margin-bottom:-4px;
}
.dinamic-banner-produc-description{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 8px 15px 15px 15px;
    background: #ffffff;
    height: 50px;
    -webkit-transition: ease-out .31s;
    -moz-transition: ease-out .31s;
    -o-transition: ease-out .31s;
    transition: ease-out .31s;
    border: 1px solid #ffffff;
    font-size: 12px;
    position: relative;
}
.dinamic-banner-produc-description:hover{
    height: 280px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(#cccccc), to(#ffffff)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, #cccccc, #ffffff) 1 30%;
    -moz-border-image:
      -moz-linear-gradient(bottom, #cccccc, #ffffff) 1 30%;  
    -o-border-image:
      -o-linear-gradient(bottom, #cccccc, #ffffff) 1 70%;
    border-image:
      linear-gradient(to top, #cccccc, #ffffff) 1 30%;
}
.dinamic-banner-produc-description img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.dinamic-banner-produc-description > a{
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 242px;
    color: #0f5f81;
}