{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Broadcast</div>
    
    {% if userHasPermissions %}
        
        <div class="board">
            <table rules="all"
                   border="1"
                   bordercolor="#e1e1e1"
                   cellpadding="0"
                   width="100%">
                <tr class="sorting">
                    <td width="250px">Company Name</td>
                    <td>Description</td>
                    <td width="100px">Deadline</td>
                    <td width="100px">Satus</td>
                </tr>
                {% for broadcast in broadcasts %}
                    <tr class="board-detais">
                        <td>
                            {{ broadcast.company_name }}
                        </td>
                        <td>
                            {{ broadcast.description }}
                        </td>
                        <td>
                            {{ broadcast.deadline }}
                        </td>
                        <td>
                            {{ broadcast.status }}
                        </td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
               
        <br/><br/>
                
        <form action="{{ url('/admin/mailer/broadcast/create') }}" method="POST" 
              style="max-width: 500px;">
           
            <div class="form-title">Create new broadcast</div>
            
            {% if session('successMessage') %}
                <span class="success">
                    {{ session('successMessage') }}
                </span>
                <br/><br/>
            {% endif %}

            {% if form.errors %}
                <span class="error">{{ form.errors.first() }}</span>
                <br/><br/>
            {% endif %}
            
            <div class="field" style="position: relative;">
                <span class="label">* Company Name</span>
                <br/>
                <input type="text"
                       id="company-search-field"
                       required
                       style="width: 400px;"
                       value="{{ form.company_name }}"/>
                
                <div style="width: 60px; position: absolute; right: 0; top: 0;">
                    <span class="label">Id</span>
                    <input type="text" 
                           id="company-search-field-id"
                           name="company_id"
                           required
                           readonly
                           value="{{ form.company_id }}"/>
                </div>
                <div class="found-companies-list" id="found-companies-list">
                    <div class="searching-wait-text">Searching please wait ...</div>
                    <div class="shearching-progress-not-found">Nothig found</div>
                    <div class="type-to-search">Type to search ...</div>
                </div>
            </div>
            
            <div class="field">
                <span class="label">Details</span>
                <textarea name="description"></textarea>
            </div>
                
            <button type="submit" class="submitButton">Create</button>
            
        </form>
        
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
    
{% endblock %}

{% block js %}
    <script type="text/javascript" >
        
        var companies = [];
        var faundedStatus = false;
        
        var refrashCompanyList = function(){
            if(companies.length > 0){
                companies.forEach(function(item, i, arr) {
                    var template = '<div onClick="addCompanyData(' + item.id + ', this)" class="found-company-block">' + item.company_name + '</div>';
                    $('#found-companies-list').append( template );
                });
            }else{
                $('.shearching-progress-not-found').addClass('active');
            }
        };
        
        var timeout;
        
        var findCompanyByname = function(value){
            if(timeout) {
                clearTimeout(timeout);
                timeout = null;
            }
            timeout = setTimeout(function(){
                $.ajax({
                    type: "POST",
                    url: "https://ibmachine.com/admin/company/festsearch",
                    data: { company_name: value },
                    success: function (data) {
                        companies = data;
                        $('.searching-wait-text').removeClass('active');
                        $('.shearching-progress-not-found').removeClass('active');
                        refrashCompanyList(data);
                    },
                    error: function (data) {
                        console.log('Error:', data);
                    }
                });
            }, 500);
        };
        
        $('#company-search-field').on('keyup', function(){
            var value = this.value;
            $('.found-company-block').remove();
            $('.type-to-search').remove();
            $('.searching-wait-text').addClass('active');
            $('.shearching-progress-not-found').removeClass('active');
            $('#company-search-field-id').val(null);
            findCompanyByname(value);
        });
        
        $('#company-search-field').on('click', function(){
            event.stopPropagation();
            $('#found-companies-list').addClass('active');
        });
        
        $(window).on('click', function() {
            $('#found-companies-list').removeClass('active');
            if(!$('#company-search-field-id').val()){
                $('#company-search-field').val(null);
            }
        });
        
        var addCompanyData = function(id, element){
            var name = $(element).text();
            $('#company-search-field').val(name);
            $('#company-search-field-id').val(id);
        };
        
    </script>
{% endblock %}