{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Send email</div>
    
    {% if userHasPermissions %}
        <form action="{{ url('admin/mailer/send') }}" 
              method="POST" 
              class="add-machine-form">

            {% if session('successMessage') %}
                <span class="success">
                    {{ session('successMessage') }}
                </span>
                <br/><br/>
            {% else %}

                {% if form.errors %}
                    <span class="error">{{ form.errors.first() }}</span>
                    <br/><br/>
                {% endif %}

                <div class="field">
                    <span class="label">Mail</span>
                    <input type="text" 
                           name="mailTo"
                           value="{{ form.mailTo }}"/>
                </div>

                <div class="field">
                    <span class="label">Subject</span>
                    <input type="text" 
                           name="subject"
                           value="{{ form.subject }}"/>
                </div>

                <div class="field">
                    <span class="label">Description</span>
                    <textarea name="message" style="height: 350px;">{{ form.message }}</textarea>
                </div>

                <div class="clear"></div>

                <br/>

                <button type="submit" class="submitButton">Send Mail</button>

            {% endif %}
        </form>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
{% endblock %}