{% extends 'frontend.base' %}

{% block metaRobots %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block metaDescription %}<meta name="description" content="{{ app.meta.description }}">{% endblock %}

{% block content %}
    <br/>
    <p class="moduleInfo">
        Partners
    </p>
    <br/>
    <br/>
{% endblock %}

