<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <style>
            a.ironboard-link:hover,
            a.ironboard-link-small:hover{
                text-decoration: underline;
                color: #0a5594;
            }
            a.ironboard-link{
                color: #00b4ff;
                text-decoration: none;
            }
            a.ironboard-link-small{
                color: #777777;
                font-size: 12px;
                text-decoration: none;
            }
            a.ironboard-link-board{
                color: #0c9ad5;
            }
            a.ironboard-link-board-highlighted{
                color: #0a5594;
            }
        </style>
        <table cellpadding="0" 
               cellspacing="0" 
               width="100%" 
               border="0" 
               rules="none"
               bgcolor="#f8f8f8"
               style="font-family: Arial, Helvetica, sans-serif;
                      font-size: 14px;
                      width: 100%;
                      text-align: center;
                      background-color: #f8f8f8;">
            <tr>
                <td align="center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <table cellpadding="0" 
                           cellspacing="0" 
                           width="700" 
                           border="0" 
                           rules="none"
                           style="font-family: Arial, Helvetica, sans-serif;
                                  font-size: 14px;
                                  width: 700px;
                                  margin: 0 auto;">
                        
                        <tr>
                            <td>
                                <img src="{{ message.embed( resources_path ~ '/assets/frontend/img/mail/machine-newsletters-header.png' ) }}" 
                                     width="700"
                                     height="44"/>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                
                                <table cellpadding="0"
                                       cellspacing="0"
                                       width="100%"
                                       border="1"
                                       bordercolor="#cccccc"
                                       rules="all"
                                       bgcolor="#ffffff"
                                       style="border-collapse: collapse; border: 1px solid #cccccc;">
                                    <tr style="background: #e5e5e5;">
                                        <td align="left" style="padding: 8px; border-color: #cccccc;">
                                            <font color="#555555">
                                                <b>Title</b>
                                            </font>
                                        </td>
                                        <td align="left" style="padding: 8px; border-color: #cccccc;">
                                            <font color="#555555">
                                                <b>Condition</b>
                                            </font>
                                        </td>
                                        <td align="left" style="padding: 8px; border-color: #cccccc;">
                                            <font color="#555555">
                                                <b>Type</b>
                                            </font>
                                        </td>
                                    </tr>
                                    {% set highlightedStarImage = message.embed( resources_path ~ '/assets/frontend/img/mail/highlighted-star.png' ) %}
                                    {% for machine in machines.highlighted %}
                                        <tr style="background: #fff5d9;">
                                            <td align="left" style="padding: 8px; border-color: #cccccc;">
                                                <a href="{{ url('machine/view/' ~ machine.id ) }}" 
                                                   class="ironboard-link-board-highlighted" 
                                                   style="color: #0a5594; text-decoration: none;"
                                                   target="_blank">
                                                    <span><img src="{{ highlightedStarImage }}" /><span>
                                                   <b>{{ machine.name }}</b>
                                                </a><br/>
                                                <a href="{{ url('company/view/' ~ machine.owner.id ) }}"
                                                   class="ironboard-link-small" 
                                                   target="_blank"
                                                   style="color: #777777; font-size: 12px; text-decoration: none;">
                                                    <i>{{ machine.owner.company_name }}</i>
                                                </a>
                                            </td>
                                            <td align="left" width="100px" style="padding: 8px; border-color: #cccccc;">
                                                {% if machine.status == 2 %}
                                                    <font color="#85a712" size="2">
                                                        new
                                                    </font>
                                                {% elseif machine.status == 1 %}
                                                    <font color="#975b3a" size="2">
                                                        used
                                                    </font>
                                                {% endif %}
                                            </td>
                                            <td align="left" width="125px" style="padding: 8px; border-color: #cccccc;">
                                                <font color="#555555">
                                                    {{ machine.type.name }}
                                                </font>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for machine in machines.simple %}
                                        <tr>
                                            <td align="left" style="padding: 8px; border-color: #cccccc;">
                                                <a href="{{ url('machine/view/' ~ machine.id ) }}" 
                                                   class="ironboard-link-board" 
                                                   style="color: #0c9ad5; text-decoration: none;"
                                                   target="_blank">
                                                   {{ machine.name }}
                                                </a>
                                            </td>
                                            <td align="left" width="100px" style="padding: 8px; border-color: #cccccc;">
                                                {% if machine.status == 2 %}
                                                    <font color="#85a712" size="2">
                                                        new
                                                    </font>
                                                {% elseif machine.status == 1 %}
                                                    <font color="#975b3a" size="2">
                                                        used
                                                    </font>
                                                {% endif %}
                                            </td>
                                            <td align="left" width="125px" style="padding: 8px; border-color: #cccccc;">
                                                <font color="#555555">
                                                    {{ machine.type.name }}
                                                </font>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </table>
                                    {#
                                <br/>
                                
                                <table cellpadding="0"
                                       cellspacing="0"
                                       width="100%"
                                       border="0"
                                       rules="none">
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.omapsrl.com/en/index.html" target="_blank">
                                                <img src="{{ message.embed(resources_path~'/assets/frontend/public/omap-banner.png') }}" 
                                                         width="700"
                                                         height="198"/>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                </table>#}
                                                     
                                <br/>
                                <br/>
                                <br/>
                                
                                <table cellpadding="0"
                                       cellspacing="0"
                                       width="700"
                                       border="1"
                                       rules="all"
                                       bgcolor="#ffffff"
                                       style="font-family: Arial, Helvetica, sans-serif;
                                              font-size: 14px;
                                              width: 700px;
                                              margin: 0 auto;
                                              border-collapse: collapse; 
                                              border: 1px solid #cccccc;">
                                    <tr>
                                        <td align="left"
                                            width="99%"
                                            style="padding: 25px; border-color: transparent;">
                                            <font size="2" color="#777777">
                                                Learn more about us 
                                                <a href="{{ url('/') }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    {{ app.name }}
                                                </a>
                                                <br/>
                                                If this email is unsolicited, please 
                                                <a href="{{ url('/unsubscribe?unsubscribe=') ~ unsubscribeHash }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    click here 
                                                </a>
                                                to 
                                                <a href="{{ url('/unsubscribe?unsubscribe=') ~ unsubscribeHash }}" class="ironboard-link" style="color: #00b4ff; text-decoration: none;">
                                                    unsubscribe.  
                                                </a>
                                                <br/>
                                                <br/>
                                            </font>
                                            <font size="2" color="#cccccc">
                                                Copyright &copy; {{ "now"|date("Y") }} {{ app.name }}. All rights reserved.
                                            </font>
                                        </td>
                                        <td align="center"
                                            width="1%"
                                            valign="top"
                                            style="padding: 25px; border-color: transparent;">
                                            <a href="{{ url('/') }}">
                                                <img src="{{ message.embed(resources_path~'/assets/frontend/img/logo-grey.png') }}" 
                                                     width="96"
                                                     height="31"/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </td>
            </tr>
            
        </table>
    </body>
</html>