{% extends "admin.base" %}

{% block content %}

    <div class="login-form">
        
        <form action="{{ url('admin/auth/signin') }}" method="POST">
            <div class="form-title">Admin</div>
            {% if form.error %}<span class="error">{{ form.error }}</span><br/>{% endif %}
            <div class="field">
                <span class="label">Email/Login</span>
                <input type="text" 
                       name="email"
                       value="{{ form.email }}"/>
            </div>
            <div class="field">
                <span class="label">Password</span>
                <input type="password" name="password" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="rememberme" />  Keep me logged in
                </label>
            </div>
            <br/>
            <button type="submit" class="submitButton">Add company user</button>
        </form>
            
    </div>

{% endblock %}