{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Add machine</div>
    
    
    {% if userHasPermissions %}
        <form action="{{ url('admin/machine/add') }}" 
              method="POST" 
              class="add-machine-form">

            {% if session('successMessage') %}
                <span class="success">
                    {{ session('successMessage') }}
                </span>
                <br/><br/>
            {% endif %}

            {% if form.errors %}
                <span class="error">{{ form.errors.first() }}</span>
                <br/><br/>
            {% endif %}

            <div class="field">
                <span class="label">Machine owner</span>
                <input type="hidden" 
                       name="company_id"
                       value="{{ form.company_id }}"/>
                <input type="text" 
                       name="company_name"
                       readonly
                       value="{{ form.company_name }}"/>
            </div>

            <div class="field">
                <span class="label">Machine name</span>
                <input type="text" 
                       name="name"
                       value="{{ form.name }}"/>
            </div>

            <div class="field double pull-left">
                <span class="label">Condition</span>
                <div>
                    <select class="chosen" 
                            data-placeholder=" " 
                            name="status" >
                        <option value="" selected >&nbsp;</option>
                        <option value="2" {{ 2 == form.status ? 'selected' : '' }}>New</option>
                        <option value="1" {{ 1 == form.status ? 'selected' : '' }}>Used</option>
                    </select>
                </div>
            </div>

            <div class="double pull-right">
                <div class="field">
                    <span class="label">Type</span>
                    <select class="chosen" 
                            data-placeholder=" " 
                            name="type">
                        <option value="" selected >&nbsp;</option>
                        {% for machineType in machine.types %}
                            <option value="{{ machineType.id }}"
                                {% if form.type.id %}
                                    {{  machineType.id == form.type.id ? 'selected' : '' }}
                                {% else %}
                                    {{  machineType.id == form.type ? 'selected' : '' }}
                                {% endif %}
                                >
                                {{ machineType.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="field double pull-left">
                <span class="label">Currency</span>
                <select class="chosen" data-placeholder=" " name="currency" >
                    <option value=" "> </option>
                    <option value="EUR" {{ 'EUR' == form.currency ? 'selected' : '' }}>EUR</option>
                    <option value="USD" {{ 'USD' == form.currency ? 'selected' : '' }}>USD</option>
                </select>
            </div>

            <div class="field double pull-right">
                <div class="field">
                    <span class="label">Price</span>
                    <input type="number" name="price" 
                           value="{{ form.price }}"/>
                </div>
            </div>

            <div class="clear"></div>

            <div class="field">
                <span class="label">Url</span>
                <input type="text" name="other_url"
                       value="{{ form.other_url }}"/>
            </div>

            <div class="field">
                <span class="label">Description</span>
                <textarea name="description">{{ form.description }}</textarea>
            </div>

            <div class="field">
                <span class="label">Upload image</span>
                <div class="images-uploader-block">
                    <input type="file" class="hidden"/>
                    <div class="uploaded-images">
                        <div class="image hidden" id="uploaded-image-template">
                            <div class="mini-image"><div class="image-back"></div></div>
                            <div class="image-description">
                                <span class="glyphicon glyphicon-remove image-remove-button"></span>
                            </div>
                            <textarea class="hidden base-64-storage" name="imageBase64[]" disabled></textarea>
                        </div>
                        {% for image in form.imageBase64 %}
                            <div class="image uploaded-image">
                                <div class="mini-image">
                                    <div class="image-back"
                                         style="background: url('{{ image }}') left top no-repeat; 
                                                background-size: cover;"></div>
                                </div>
                                <div class="image-description">
                                    <span class="glyphicon glyphicon-remove image-remove-button"></span>
                                </div>
                                <textarea class="hidden base-64-storage" name="imageBase64[]">{{ image }}</textarea>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clear"><br/></div>
                    <div class="upload-image-button {{ form.imageBase64|length > 2 ? 'hidden' : '' }}">
                        <div class="clicable-zone">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            Add new image
                        </div>
                        <div class="image-uploader-loader" style="display: none;"><img src="{{ url('assets/frontend/img/image-loader.gif') }}" /></div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

            <br/>

            <button type="submit" class="submitButton">Add machine</button>
        </form>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
{% endblock %}

        
{% block js %}
    <script type="text/javascript" src="{{ asset('components/blueimp-load-image/js/load-image.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/frontend/js/services/fileService.js') }}"></script>
{% endblock %}