{% extends "admin.base" %}

{% block content %}
    
    <div class="form-title">Machines</div>
    
    {% if userHasPermissions %}
        <input class="clipboard-text" value="123123123">

        <form action="{{ url('/admin/machines/search') }}" method="GET" 
              style="max-width: 10000px; position: relative; padding-right: 210px;">
            <div class="field" style="width: 100%; float: left; padding-right: 25px;">
                <span class="label">Keywords</span>
                <input type="text" 
                       name="keywords"
                       value="{{ form.keywords }}"/>
            </div>
            <br/>
            <div class="field">
                <label class="checkblock"><input type="checkbox" 
                           {% if form.highlightedOnTop %}
                                checked="checked"
                           {% endif %}
                           name="highlightedOnTop" />
                    Highlighted on Top
                </label>
            </div>

            <div style="width: 1%; float: right; text-align: right;">
                <a href="{{ url('/admin/machine/search/reset') }}" class="resetButton grey pull-left"
                   style="height: 32px; position: absolute; top: 35px; right: 125px; font-weight: bold; text-decoration: none;">
                    &nbsp;&nbsp;Reset&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-refresh" style="color: #555555; font-size: 12px;"></span>&nbsp;
                </a>
                <button type="submit" class="submitButton blue pull-right" 
                        style="height: 32px; position: absolute; top: 35px; right: 15px; font-weight: bold;">
                    &nbsp;&nbsp;Search&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-search" style="color: #ffffff; font-size: 12px;"></span>&nbsp;
                </button>
            </div>
            <div class="clear"></div>
        </form>

        <br/>

        <div class="board">
            <table rules="all"
                   border="1"
                   bordercolor="#e1e1e1"
                   cellpadding="0"
                   width="100%">
                <tr class="sorting">
                    <td width="50px">Id</td>
                    <td>Name</td>
                    <td width="50px">Highlighted</td>
                    <td width="150px">Last Update</td>
                    <td width="100px">Actions</td>
                </tr>
                {% for machine in machines.items %}
                    <tr class="board-detais">
                        <td class="copy-me id">
                            <a href="{{ url('admin/machine/edit') ~ '/' ~ machine.owner.id ~ '/' ~ machine.id }}"
                               target="_blank"
                               class="copy-me-text">{{ machine.id }}</a>
                        </td>
                        <td class="copy-me name">
                            <a href="{{ url('admin/machine/edit') ~ '/' ~ machine.owner.id ~ '/' ~ machine.id }}" 
                               target="_blank"
                               class="copy-me-text">{{ machine.name }}</a>
                            <br/>
                            <a href="{{ url('admin/company/edit') ~ '/' ~ machine.owner.id }}" 
                               class="machine-owner-link">{{ machine.owner.company_name }}</a>
                        </td>
                        <td class="copy-me active" width="50px">
                            <a href="{{ url('/admin/machine/highlight/') ~ '/' ~ (machine.highlighted ? 'deactivate' : 'activate') ~ '/' ~ machine.id }}" 
                               class="isActiveMachine {{ machine.highlighted ? 'on' : 'off'  }}">{{ machine.highlighted ? 'On' : 'Off'  }}</a>
                        </td>
                        <td class="copy-me email">
                            <span class="copy-me-text">{{ machine.updated_at }}</span>
                        </td>

                        <td class="copy-me password">
                            <a href="{{ url('/admin/machine/remove')~ '/' ~ machine.owner.id ~ '/' ~ machine.id }}"
                               title="Remove machine"
                               class="underline-none confirm remove-admin-machine">
                                <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                            </a>
                            &nbsp;
                            <a href="{{ url('/admin/machine/') ~ '/' ~ (machine.active ? 'deactivate' : 'activate')~ '/' ~ machine.owner.id ~ '/' ~ machine.id }}" 
                               title="{{ machine.active ? 'Deactivate' : 'Activate' }}">
                                <span class="glyphicon glyphicon-off {{ machine.active ? 'active activate-admin-machine' : 'deactivate-admin-machine' }}"
                                      aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="pagination">
            {% set displayingTotalPages = 11 %}
            {% set totalPages = (machines.pagination.total()/machines.pagination.perPage())|round(0, 'ceil') %}
            {% set displayingFirstPage = machines.pagination.currentPage() - 5 > 1 ? machines.pagination.currentPage() - 5 : 1 %}
            {% set displayingLastPage = machines.pagination.currentPage() + 5 < totalPages ? machines.pagination.currentPage() + 5 : totalPages %}
            {% if machines.pagination.currentPage() > 1 %}
                <a href="{{ machines.pagination.url(machines.pagination.currentPage() - 1) }}" class="page">Prev</a>
            {% endif %}
            {% if displayingFirstPage != 1 %}
                <a href="{{ machines.pagination.url(1) }}" class="page">1</a>
                ..
            {% endif %}
            {% for page in displayingFirstPage..displayingLastPage %}
                <a href="{{ machines.pagination.url(page) }}" 
                   class="page {{ machines.pagination.currentPage() == page ? 'active' : '' }}">
                    {{ page }}
                </a>
            {% endfor %}
            {% if machines.pagination.currentPage() + 5 < totalPages and machines.pagination.currentPage() + 5 > 0 %}
                ..
                <a href="{{ machines.pagination.url(machines.pagination.lastPage()) }}" class="page">{{ machines.pagination.lastPage() }}</a>
            {% endif %}
            {% if machines.pagination.currentPage() < totalPages %}
                <a href="{{ machines.pagination.url(machines.pagination.currentPage() + 1) }}" class="page">Next</a>
            {% endif %}
        </div>
    {% else %}
        You have insufficient permissions to access this category
    {% endif %}
{% endblock %}

        
{% block js %}
    <script type="text/javascript">
        
        $('.activate-admin-machine').on('click', function () {
            return confirm('Are you soure want to ACTIVATE this machine?');
        });
        $('.deactivate-admin-machine').on('click', function () {
            return confirm('Are you soure want to DEACTIVATE this machine?');
        });
        $('.remove-admin-machine').on('click', function () {
            return confirm('Are you soure want to REMOVE this machine?');
        });
    </script>
{% endblock %}